<div class="row"><div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">ORGANIZACIONES</h4>
                <span class="tools pull-right">
                    <button class="btn btn btn-primary btn-sm" title="Listar Organizaciones" ng-click="listarOrganizaciones()"><i class="fa fa-rotate-right"></i> Listar</button>
                </span>
            </header>
            <div class="panel-body" ng-init="listarOrganizaciones()">
                <div class="tabla-responsiva"><table ng-table="tablaOrganizacion" class="table table-striped table-hover" show-filter="true" >
                        <colgroup>
                            <col width="20px" /><col width="50px" /><col width="25%" /><col width="15%" /><col width="auto"/><col width="80px" /><col width="65px" />
                        </colgroup>
                        <tr ng-repeat="o in $data">                
                            <td data-title="'N'" sortable="'i'" >{{o.i}}</td>
                            <td data-title="'Codigo'" filter="{ codigo: 'text'}" sortable="'codigo'" >{{o.codigo}}</td>
                            <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'" >{{o.nombre}}</td>
                            <td data-title="'Alias'" filter="{ alias: 'text'}" sortable="'alias'" >{{o.alias}}</td>
                            <td data-title="'Descripcion'" sortable="'descripcion'">{{o.descripcion}}</td>
                            <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estados" sortable="'estado'" style="text-align: center">
                                <span class="label label-mini" ng-class="{
                                            'label - info': o.estado == 'A', 'label-warning': o.estado == 'I'}">{{o.estado}}</span>
                            </td>
                            <td data-title="'Accion'" style="text-align: center;">
                                <button class="btn btn-primary btn-xs" title="Editar Organización" ng-click="prepararEditar(o)"><i class="fa fa-pencil" ></i></button>
                                <button class="btn btn-danger btn-xs" title="Eliminar Organización" ng-click="eliminarOrganizacion(o.i, o.organizacionID)"><i class="fa fa-trash-o " ></i></button>
                            </td>
                        </tr>
                    </table></div>
                <div align="right" >
                    <button class="btn btn btn-primary " title="Agrega Nueva Organización" data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus" ></i> Agregar</button>
                    <!--<button class="btn btn-danger " ng-click="eliminarOrganizaciones()"><i class="fa fa-times" ></i> Eliminar</button>-->
                </div>

            </div>
        </section>
    </div></div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">ACTUALIZAR ORGANIZACION</h4>
            </div>
            <div class="modal-body">


                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <div class="form-group" >
                            <label class="col-sm-2 col-sm-2 control-label">Tipo Organizacion</label>
                            <div class="col-sm-5">
                                <select class="form-control" ng-model="organizacionSel.tipoOrganizacionID" ng-options="to.tipoOrganizacionID as to.nombre for to in tipoOrganizaciones">
                                </select>
                            </div>
                            <label class="col-sm-1 control-label">Codigo</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="organizacionSel.codigo" disabled>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model="organizacionSel.nombre">
                            </div>
                            <label class="col-sm-1 control-label">Alias</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="organizacionSel.alias">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Descripcion</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="organizacionSel.descripcion"></textarea>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Direccion</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model="organizacionSel.direccion">
                            </div>
                            <label class="col-sm-1 control-label">Ubigeo</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input class="form-control" type="text" ng-model="organizacionSel.ubigeo" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="buscarUbigeoSel()">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                </div>                           
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 col-sm-2 control-label">Organizacion Padre(opcional)</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="organizacionSel.organizacionPadreID" ng-options="o.organizacionID as o.nombre for o in getOrganizaciones()">                            
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 col-sm-2 control-label">Gestion</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="organizacionSel.organizacionGestion">
                                    <option value="P">Publica</option>
                                    <option value="PR">Privada</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-sm-2 control-label">Caracteristica</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="organizacionSel.organizacionCaracteristica">
                                    <option value="U">UniDocente</option>
                                    <option value="PM">Polidocente Multigrado</option>
                                    <option value="PC">Polidocente Completo</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 col-sm-2 control-label">Programa</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="organizacionSel.organizacionPrograma">
                                    <option value="PBN">Programa de Educacion Alternativa de Niños y Adolecentes</option>
                                    <option value="PBJ">Programa de Educacion Alternativa de Jovenes y Adultos</option>
                                    <option value="-">No Presenta</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-sm-2 control-label">Forma</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="organizacionSel.organizacionForma">
                                    <option value="Esc">Escolarizado</option>
                                    <option value="NoEsc">No Escolarizado</option>
                                    <option value="P">Presencial</option>
                                    <option value="SP">Semi Presencial</option>
                                    <option value="AD">A Distancia</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 col-sm-2 control-label">Variante</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="organizacionSel.organizacionVariante">
                                    <option value="CH">Cientifico Humanista</option>
                                    <option value="T">Tecnica</option>
                                    <option value="-">No Presenta</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-sm-2 control-label">Modalidad</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="organizacionSel.organizacionModalidad">
                                    <option value="EBR">Educación Basica Regular</option>
                                    <option value="EBA">Educación Basica Alternativa</option>
                                    <option value="EDA">Educación de Adultos</option>
                                    <option value="EBE">Educación Basica Especial</option>
                                    <option value="EAD">Educación a Distancia</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="organizacionSel.estado" ng-value="'A'" >activo</label>
                                </div>
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="organizacionSel.estado" ng-value="'I'">inactivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="editarOrganizacion()"><i class="fa fa-save" ></i> Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">NUEVA ORGANIZACION</h4>
            </div>
            <div class="modal-body">


                <div class="form-panel">
                    <div class="form-horizontal style-form" >

                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Tipo Organizacion</label>
                            <div class="col-sm-5">
                                <select class="form-control" ng-model="nuevaOrganizacion.tipoOrganizacionID" 
                                        ng-options="to.tipoOrganizacionID as to.nombre for to in tipoOrganizaciones">
                                </select>
                            </div>
                            <label class="col-sm-1 control-label">Codigo</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="nuevaOrganizacion.codigo">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model="nuevaOrganizacion.nombre">
                            </div>
                            <label class="col-sm-1 control-label">Alias</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="nuevaOrganizacion.alias">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Descripcion</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="nuevaOrganizacion.descripcion"></textarea>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Direccion</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model="nuevaOrganizacion.direccion">
                            </div>
                            <label class="col-sm-1 control-label">Ubigeo</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input class="form-control" type="text" ng-model="nuevaOrganizacion.ubigeo" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="buscarUbigeo()">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                </div>                           
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 col-sm-2 control-label">Organizacion Padre(opcional)</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="nuevaOrganizacion.organizacionPadreID" ng-options="o.organizacionID as o.nombre for o in getOrganizaciones()">
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 col-sm-2 control-label">Gestion</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="nuevaOrganizacion.organizacionGestion">
                                    <option value="P">Publica</option>
                                    <option value="PR">Privada</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-sm-2 control-label">Caracteristica</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="nuevaOrganizacion.organizacionCaracteristica">
                                    <option value="U">UniDocente</option>
                                    <option value="PM">Polidocente Multigrado</option>
                                    <option value="PC">Polidocente Completo</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 col-sm-2 control-label">Programa</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="nuevaOrganizacion.organizacionPrograma">
                                    <option value="PBN">Programa de Educacion Alternativa de Niños y Adolecentes</option>
                                    <option value="PBJ">Programa de Educacion Alternativa de Jovenes y Adultos</option>
                                    <option value="-">No Presenta</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-sm-2 control-label">Forma</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="nuevaOrganizacion.organizacionForma">
                                    <option value="Esc">Escolarizado</option>
                                    <option value="NoEsc">No Escolarizado</option>
                                    <option value="P">Presencial</option>
                                    <option value="SP">Semi Presencial</option>
                                    <option value="AD">A Distancia</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 col-sm-2 control-label">Variante</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="nuevaOrganizacion.organizacionVariante">
                                    <option value="CH">Cientifico Humanista</option>
                                    <option value="T">Tecnica</option>
                                    <option value="-">No Presenta</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-sm-2 control-label">Modalidad</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="nuevaOrganizacion.organizacionModalidad">
                                    <option value="EBR">Educación Basica Regular</option>
                                    <option value="EBA">Educación Basica Alternativa</option>
                                    <option value="EDA">Educación de Adultos</option>
                                    <option value="EBE">Educación Basica Especial</option>
                                    <option value="EAD">Educación a Distancia</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="nuevaOrganizacion.estado" ng-value="'A'" checked>activo</label>
                                </div>
                                <div class="radio" style="display: inline-block">
                                    <label><input type="radio" ng-model="nuevaOrganizacion.estado" ng-value="'I'">inactivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="agregarOrganizacion()"><i class="fa fa-check" ></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalUbigeo" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Buscar Ubigeo</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">   
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-lg-4">
                                <label>Departamento:</label>
                                <select class="form-control" ng-model= "datosUbigeo.dpto" ng-change="loadProv()">
                                    <option ng-repeat="dpto in datosUbigeo.departamentos" value="{{dpto.codigo_ubigeo}}" >{{dpto.nombre_ubigeo}}</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label>Provincias:</label>
                                <select class="form-control" ng-model= "datosUbigeo.prov" ng-change="loadDist()">
                                    <option ng-repeat="prov in datosUbigeo.provincias" value="{{prov.codigo_ubigeo}}">{{prov.nombre_ubigeo}}</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label>Distritos:</label>
                                <select class="form-control" ng-model= "datosUbigeo.dist">
                                    <option ng-repeat="dist in datosUbigeo.distritos" value="{{dist.codigo_ubigeo}}">{{dist.nombre_ubigeo}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" 
                        ng-click="modificarUbigeo();">
                    <i class="fa fa-archive "> </i> Generar Ubigeo
                </button>   
                <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>                                        
    </div>
</div>

<div id="modalUbigeoSel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Buscar Ubigeo</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">   
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-lg-4">
                                <label>Departamento:</label>
                                <select class="form-control" ng-model= "datosUbigeo.dpto" ng-change="loadProv()">
                                    <option ng-repeat="dpto in datosUbigeo.departamentos" value="{{dpto.codigo_ubigeo}}" >{{dpto.nombre_ubigeo}}</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label>Provincias:</label>
                                <select class="form-control" ng-model= "datosUbigeo.prov" ng-change="loadDist()">
                                    <option ng-repeat="prov in datosUbigeo.provincias" value="{{prov.codigo_ubigeo}}">{{prov.nombre_ubigeo}}</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label>Distritos:</label>
                                <select class="form-control" ng-model= "datosUbigeo.dist">
                                    <option ng-repeat="dist in datosUbigeo.distritos" value="{{dist.codigo_ubigeo}}">{{dist.nombre_ubigeo}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" 
                        ng-click="modificarUbigeoSel();">
                    <i class="fa fa-archive "> </i> Generar Ubigeo
                </button>   
                <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>                                        
    </div>
</div>




