<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">Datos de Usuario</h4>
    </header>
    <div class="panel-body" ng-init="buscarOrganizacion(usuMaster.usuario.usuarioID)">
        
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 control-label">DNI</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="persona.dni" disabled>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="persona.nombre" disabled>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Apellido Paterno</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="persona.paterno" disabled>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Apellido Materno</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="persona.materno" disabled>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Correo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="persona.email" disabled>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Telefono</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="persona.numero1" disabled>
                    </div>
                </div>
                <h4>Datos de Usuario</h4>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre de usuario</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="usuario.nombre" disabled>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Password Anterior</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="usuario.password" disabled>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nuevo Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" ng-model="usuario.nuevoPassword">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Repita Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" ng-model="usuario.nuevoPassword2">
                    </div>
                </div>
            </div>
        </div>
        
        
        <div align="right" >
            <!--<button class="btn btn-danger " ng-click="cancelar()"><i class="fa fa-times" ></i> cancelar</button>-->
            <button class="btn btn btn-primary " ng-click="editarPassword()"><i class="fa fa-save" ></i> Cambiar Contraseña</button>
        </div>

    </div>
</section>
</div></div>
