<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">USUARIOS</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" title="Listar Usuarios" ng-click="listarUsuarios()"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="listarUsuarios()">
        
        <div class="tabla-responsiva"><table ng-table="tablaUsuario" class="table table-hover" show-filter="true" >
            <colgroup>
                <col width="20px" /><col width="12%" /><col width="150px" /><col width="auto" /><col width="23%" /><col width="18%"/><col width="80px" /><col width="100px" />
            </colgroup>   
            <tr ng-repeat-start="u in $data">
                <td 
                    ng-form="i" 
                    data-title="'N'"
                    sortable="'i'">
                    {{u.i}}
                </td>
                <td 
                    filter="{ nombreUsuario: 'text'}"
                    ng-form="nombreUsuario" 
                    data-title="'Usuario'"
                    sortable="'nombreUsuario'"
                    style="text-align: center">
                    {{u.nombreUsuario}}
                </td>
                <td 
                    filter="{ DNI: 'text'}"
                    ng-form="DNI" 
                    data-title="'DNI'"
                    sortable="'DNI'"
                    style="text-align: center">
                    {{u.DNI}}
                </td>
                <td 
                    filter="{ nombres: 'text'}"
                    ng-form="nombres" 
                    data-title="'Nombre'"
                    sortable="'nombres'"
                    style="text-align: center">
                    {{u.nombres}}
                </td>
                <td 
                    filter="{ primeraOrganizacion: 'select'}"
                    filter-data="organizacionesSelect"
                    ng-form="primeraOrganizacion" 
                    data-title="'Organización'"
                    sortable="'primeraOrganizacion'"
                    style="text-align: center">
                    {{u.primeraOrganizacion}}
                </td>
                <td 
                    filter="{ primerRol: 'select'}"
                    filter-data="rolesSelect"
                    ng-form="primerRol" 
                    data-title="'Rol'"
                    sortable="'primerRol'"
                    style="text-align: center">
                    {{u.primerRol}}
                </td>
                <td 
                    filter="{ estado: 'select'}"
                    filter-data="estadosSelect"
                    ng-form="estado" 
                    data-title="'Estado'"
                    sortable="'estado'"
                    style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': u.estado=='A','label-warning': u.estado=='I'}">{{u.estado}}</span>
                </td>                
                <td data-title="'Acción'" style="text-align: center;">
                    <button ng-if="u.sessiones.length>1" class="btn btn-primary btn-xs" ng-click="u.$ver = !u.$ver" title="Ver Roles"><i class="fa" ng-class="{'fa-chevron-down': u.$ver,'fa-chevron-right': !u.$ver}"></i></button>
                    <button class="btn btn-primary btn-xs" title="Editar Usuario" ng-click="prepararEditar(u)" title="Editar Usuario"><i class="fa fa-pencil" ></i></button>
                    <button class="btn btn-danger btn-xs" title="Eliminar Usuario" ng-click="eliminarUsuario(u.i,u.usuarioID)" title="Eliminar Usuario"><i class="fa fa-trash-o " ></i></button>
                </td>
            </tr>
            <tr ng-if="u.sessiones.length>1" ng-show="u.$ver" ng-repeat="s in u.sessiones" style="background-color: rgb(255, 246, 228)" ng-repeat-end>
                <td colspan="4"><input type="hidden"></td>
                <td style="text-align: center">
                  {{s.organizacion}}
                </td>
                <td style="text-align: center">
                  {{s.rol}}
                </td>
                <td data-title="'Estado'" style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': s.estado=='A','label-warning': s.estado=='I'}">{{s.estado}}</span>
                </td>
                <td ></td>
            </tr>
        </table></div>
        <div align="right" >
            <button class="btn btn btn-primary " ng-click="prepararAgregar()" ><i class="fa fa-plus" ></i> Agregar</button>
        </div>

    </div>
</section>
</div></div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR USUARIO</h4>
      </div>
      <div class="modal-body">
          
          
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 control-label">DNI *</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" ng-model="usuarioSel.DNI" disabled>
                    </div>
                    <label class="col-sm-2 control-label">Nombres *</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="usuarioSel.nombres" disabled>
                    </div>
                </div>
                <hr/>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Usuario</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="usuarioSel.nombreUsuario">
                    </div>
                    <label class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="usuarioSel.password">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="usuarioSel.estado" ng-value="'A'" >Activo</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="usuarioSel.estado" ng-value="'I'">Inactivo</label>
                        </div>
                    </div>
                </div>
                
                <div class="tabla-responsiva" style="max-height: 200px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                <table class="table peque" style="margin-bottom: 0">
                    <thead>
                    <tr>
                        <th style="width:15px">#</th><th style="width:auto;">Organización</th><th style="width:30%;">Rol</th><th style="width:60px">Estado</th><th style="width:55px">Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="s in usuarioSel.sessiones">
                        <td>{{$index +1}}</td>
                        <td>
                            <span ng-hide="s.edi" >{{s.organizacion}}</span>
                            <span ng-show="s.edi" ><select class="form-control input-table" ng-model="s.copia.org" ng-options="o as o.nombre for o in organizaciones"></select></span>
                        </td>
                        <td>
                            <span ng-hide="s.edi" >{{s.rol}}</span>
                            <span ng-show="s.edi" ><select class="form-control input-table" ng-model="s.copia.rolID" ng-options="r.rolID as r.nombre for r in s.copia.org.roles"></select></span>
                        </td>
                        <td>
                            <span ng-hide="s.edi" class="label label-mini" ng-class="{'label-info': s.estado=='A','label-warning': s.estado=='I'}">{{s.estado}}</span>
                            <select ng-show="s.edi" class="form-control input-table" ng-model="s.copia.estado">
                                <option value="A">A</option>
                                <option value="I">I</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-xs" title="Editar Session" ng-click="editarSession($index,s)"><i class="fa" ng-class="{'fa-check':s.edi,'fa-pencil':!s.edi}" ></i></button>
                            <button type="button" class="btn btn-xs" title="Eliminar Session" ng-class="{'btn-danger':!s.edi}" ng-click="eliminarSession($index,s)" ng-disabled="$first"><i class="fa" ng-class="{'fa-times':s.edi,'fa-trash-o':!s.edi}"></i></button>      
                        </td>
                    </tr>                  
                    </tbody>
                </table>
                <table class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
                    <tr>
                        <td style="width:15px">+</td>
                        <td style="width:auto">
                            <select class="form-control input-table" ng-model="session.org" ng-options="o as o.nombre for o in organizaciones"></select>                                        
                        </td>
                        <td style="width:30%">
                            <select class="form-control input-table" ng-model="session.rolID" ng-options="r.rolID as r.nombre for r in session.org.roles"></select>
                        </td>
                        <td style="width:60px">
                        </td>
                        <td style="width:55px">
                            <button class="btn btn-success btn-xs" ng-click="agregarSession()" title="agregar session"><i class="fa fa-plus" ></i></button>
                        </td>
                    </tr>
                </table>                    
                </div>
                
            </div>
        </div>
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarUsuario()"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVO USUARIO</h4>
      </div>
      <div class="modal-body">
                    
            <div class="form-panel">
                <div class="form-horizontal style-form" >
                   <div class="form-group" >
                        <label class="col-sm-2 control-label">DNI *</label>
                        <div class="col-sm-10"><div class="input-group m-bot15">
                                <input type="text" class="form-control input-lg" ng-keyup="reiniciarDatos()" style="text-align: center;" data-mask="99999999" ng-model="nuevaPersona.dni" >
                            <span class="input-group-btn">
                                <button class="btn btn-success input-lg" type="button" ng-click="buscarPersona()">Verificar</button>
                            </span>
                        </div></div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombres *</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevaPersona.nombre" ng-disabled="nuevaPersona.dni=='' || nuevaPersona.existe">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Apellido Paterno *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevaPersona.paterno" ng-disabled="nuevaPersona.dni=='' || nuevaPersona.existe">
                        </div>
                        <label class="col-sm-2 control-label">Apellido Materno *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevaPersona.materno" ng-disabled="nuevaPersona.dni=='' || nuevaPersona.existe">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Email *</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevaPersona.email" ng-disabled="nuevaPersona.dni=='' || nuevaPersona.existe">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Número *</label>
                        <div class="col-sm-4">
                            <input type="number" min="0" max="999999999" class="form-control" ng-model="nuevaPersona.numero1" ng-disabled="nuevaPersona.dni=='' || nuevaPersona.existe">
                        </div>
                        <label class="col-sm-2 control-label">Número 2</label>
                        <div class="col-sm-4">
                            <input type="number" min="0" max="999999999" class="form-control" ng-model="nuevaPersona.numero2" placeholder="opcional" ng-disabled="nuevaPersona.dni=='' || nuevaPersona.existe">
                        </div>
                    </div>
                    
                    <h4>Informacion de Usuario</h4>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Usuario *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevoUsuario.nombre" disabled>
                        </div>
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevoUsuario.password" placeholder="opcional">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Estado</label>
                        <div class="col-sm-10">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevoUsuario.estado" ng-value="'A'" checked>Activo</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevoUsuario.estado" ng-value="'I'">Inactivo</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="nuevoUsuario.existe">
                        <label class="col-sm-2 control-label">Organizacion*</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="oSel" ng-options="o as o.nombre for o in organizaciones">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="nuevoUsuario.existe">
                        <label class="col-sm-2 control-label">Rol *</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="nuevoUsuario.rolID" ng-options="r.rolID as r.nombre for r in oSel.roles">                                
                            </select>
                        </div>
                    </div>
                    
                </div>
            </div>
          
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarUsuario()" ng-disabled="nuevaPersona.dni=='' || nuevoUsuario.existe"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>
