<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">Detalle Carpeta Pedagogica</h4>
                <h5 style="text-align:left">Institución Educativa: <span>{{ieData}}</span></h5>
                <h5 style="text-align:left">Perteneciente a: <span>{{docenteData}}</span></h5>
                <span class="tools pull-right" style="display: inline">
                    <button type="submit" class="btn btn-warning" ng-click="verInformeCarPedDoc()">
                        Generar Informe <span class="glyphicon glyphicon-file"></span>
                    </button>
                </span>
                
            </header>
            <div class="panel-body">
                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <fieldset>
                            <header class="panel-heading">
                                <h4 style="display:inline;line-height: 1.9">Secciones de Carpeta</h4>
                            </header>
                            <div class="panel-body">
                                <uib-tabset active="active">
                                    <uib-tab ng-repeat= "sec in secciones" index="$index" heading="{{sec.nom}}">
                                        <div class="form-panel">
                                            <header class="panel-heading">
                                            </header>
                                            <table ng-table="sec.contenidos" class="table table-bordered table-hover table-condensed editable-table" >
                                                <colgroup>
                                                    <col width="5%" />
                                                    <col width="35%" />
                                                    <col width="15%" />
                                                    <col width="15%" />
                                                </colgroup>
                                                <tr  ng-repeat="row in $data" ng-form="rowFormContenido">
                                                    <td ng-form="org" data-title="'N°'" style="text-align: center"><span>{{$index + 1}}</span></td>
                                                    <td filter="{conNom: 'text'}" sortable="'nom'"  ng-form="nom" data-title="'Nombre'"><span>{{row.conNom}}</span></td>
                                                    <td data-title="'Ver Archivo'" style="text-align: center">
                                                        <span ng-hide="!row.rutConExi"><button class="btn btn-primary btn-xs" ng-click="verContenidoArchivo(row)" ><i class="fa fa-eye"></i></button></span>
                                                        <span ng-hide="row.rutConExi" style="color: red;">{{row.rutConMen}}</span>
                                                    </td>
                                                    <td data-title="'Estado'" style="text-align: center">
                                                        <select class="form-control" ng-model="row.estAva" ng-options="e.id as e.title for e in estadoAvance" disabled="disabled">
                                                            <option ng-selected="row.estAva === e.id">{{e.title}}</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>