<!DOCTYPE html>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4><span>Monitoreo de Carpeta Pedagogica</span></h4>   
                <span class="tools pull-right">
                    <button class="btn btn btn-primary btn-sm" ><i class="fa fa-rotate-right"></i> Actualizar</button>
                </span>    
            </header>    
            <div class="panel-body"> 
                <!--<div class="form-row" >
                    <div class="form-group col-md-2">
                        <label class="control-label">Código I.E.</label>
                        <select class="form-control" data-live-search="true" ng-model="" ng-options="s.nom for s in ctrlnotasAcademico.niveles track by s.id" ng-change="mostrarNombreIE(ctrlnotasAcademico.nivel)">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" >Nombre I.E.</label>
                        <select class="form-control" data-live-search="true" ng-model="" ng-options="s.nom for s in ctrlnotasAcademico.grados track by s.id">
                        </select>
                    </div>
                </div>-->
                <div class="tabla-responsiva">
                    <table ng-table="tablaCarpetasNivelUGEL" ng-init="listarCarpetas()" class="table table-bordered table-condensed">                        
                        <colgroup>
                            <col width="5%" />
                            <col width="30%" />
                            <col width="30%" />
                            <col width="20%" />
                            <col width="10%" />
                            <col width="5%" />
                        </colgroup>
                        <tr ng-repeat="p in $data">                            
                            <td filter="{carEta: 'text'}" sortable="'carEta'" ng-form="carEta" data-title="'Año'" style="text-align: center">{{p.carEta}}</td>
                            <td filter="{ieDat: 'text'}" sortable="'ieDat'" ng-form="ieDat" data-title="'I.E.'">{{p.ieDat}}</td>
                            <td filter="{docDat: 'text'}" sortable="'docDat'" ng-form="docDat" data-title="'Docente'">{{p.docDat}}</td>                
                            <td filter="{carDes: 'text'}" sortable="'carDes'" ng-form="carDes" data-title="'Carpeta Pedagogica'">{{p.carDes}}</td>
                            <td filter="{carEst: 'text'}" sortable="'carEst'" ng-form="carEst" data-title="'Estado'" style="text-align: center">{{p.carEst}}</td>
                            <td data-title="'Detalles'" style="text-align: center">
                                <button class="btn btn-primary btn-xs" ng-click="verCarpetaDetalle(p.docId)"><i class="fa fa-eye" ></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>