<!-- Detalle Curso de Capacitación -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">            
            <header class="panel-heading">                
                <div class="form-group" style="vertical-align: middle">
                    <div class="col-sm-12">
                        <h4 class="modal-title" style="display:inline;line-height: 1.9">Detalle de Curso de Capacitación</h4><br>
                    </div>
                </div>
            </header>            
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <label>Nombre del Curso</label>
                        <div class="form-group input-group">
                            <input type="text" name="name" class="form-control" style="text-align:center" ng-model="verCtrl.course.nom" readonly>
                            <span class="input-group-addon alert-success"><i class="glyphicon glyphicon-education"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Tipo Capacitación</label>
                        <div class="form-group input-group">
                            <input type="text" name="name" class="form-control" style="text-align:center" ng-model="verCtrl.course.tip" readonly>
                            <span class="input-group-addon alert-success"><i class="glyphicon glyphicon-wrench"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Organizado por</label>
                        <div class="form-group input-group">
                            <input type="text" name="name" class="form-control" style="text-align:center" ng-model="verCtrl.course.org" readonly>
                            <span class="input-group-addon alert-danger"><i class="glyphicon glyphicon-tasks"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Autorizado por</label>
                        <div class="form-group input-group">
                            <input type="text" name="name" class="form-control" style="text-align:center" ng-model="verCtrl.course.orgAut" readonly>
                            <span class="input-group-addon alert-danger"><i class="glyphicon glyphicon-globe"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <uib-tabset active="0">
                                <uib-tab index="$index" ng-repeat="sed in verCtrl.course.sed">
                                    <uib-tab-heading>
                                        {{verCtrl.course.tip === 'Presencial'?"SEDE: " + ($index + 1):"DETALLE"}}
                                    </uib-tab-heading>
                                    <div class="col-sm-12"><br>
                                        <div class="row">
                                            <div class="col-sm-4" ng-if="verCtrl.course.tip === 'Presencial'">
                                                <label>Provincia</label>
                                                <div class="form-group input-group">
                                                    <input type="text" name="name" class="form-control" style="text-align:center" ng-model="sed.pro" readonly>
                                                    <span class="input-group-addon alert-success"><i class="glyphicon glyphicon-screenshot"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4" ng-if="verCtrl.course.tip === 'Presencial'">
                                                <label>Distrito</label>
                                                <div class="form-group input-group">
                                                    <input type="text" name="name" class="form-control" style="text-align:center" ng-model="sed.dis" readonly>
                                                    <span class="input-group-addon alert-success"><i class="glyphicon glyphicon-screenshot"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4" ng-if="verCtrl.course.tip === 'Presencial'">
                                                <label>Localidad</label>
                                                <div class="form-group input-group">
                                                    <input type="text" name="name" class="form-control" style="text-align:center" ng-model="sed.loc" readonly>
                                                    <span class="input-group-addon alert-success"><i class="glyphicon glyphicon-screenshot"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Fecha Inicio</label>
                                                <div class="form-group input-group">
                                                    <input type="text" name="name" class="form-control" uib-datepicker-popup="dd-MM-yyyy" style="text-align:center" ng-model="sed.cro.fecIni" readonly>
                                                    <span class="input-group-addon alert-warning"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Fecha Fin</label>
                                                <div class="form-group input-group">
                                                    <input type="text" name="name" class="form-control" uib-datepicker-popup="dd-MM-yyyy" style="text-align:center" ng-model="sed.cro.fecFin" readonly>
                                                    <span class="input-group-addon alert-warning"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Nombre del Responsable</label>
                                                <div class="form-group input-group">
                                                    <input type="text" name="name" class="form-control" style="text-align:center" ng-model="sed.cro.nomRes" readonly>
                                                    <span class="input-group-addon alert-info"><i class="glyphicon glyphicon-user"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>DNI del Responsable</label>
                                                <div class="form-group input-group">
                                                    <input type="text" name="name" class="form-control" style="text-align:center" ng-model="sed.cro.dniRes" readonly>
                                                    <span class="input-group-addon alert-info"><i class="glyphicon glyphicon-user"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="tabla-responsiva">
                                                    <table class="table table-striped table-advance table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th width="100%" style="text-align:center">Horarios</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="row in sed.hor">
                                                                <td style="text-align:center">{{row}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="tabla-responsiva">
                                                    <table class="table table-striped table-advance table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th width="100%" style="text-align:center">Participantes</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="row in sed.com">
                                                                <td style="text-align:center">{{row}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="tabla-responsiva">
                                                    <table class="table table-striped table-advance table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="4" width="100%" style="text-align:center">Temas</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="row in sed.tem">
                                                                <td style="text-align:center">{{row.nom}}</td>
                                                                <td style="text-align:center">{{row.ini | date: 'dd-MM-yyyy'}}</td>
                                                                <td style="text-align:center">{{row.fin | date: 'dd-MM-yyyy'}}</td>
                                                                <td style="text-align:center">
                                                                    <span class="label label-mini" ng-class="{'label-danger': row.est ,'label-success': !row.est}" ng-click="verCtrl.enviarNotificacion(row, sed, sed.cap, verCtrl.course.est)">{{row.est?"Retrasado":"A Tiempo"}}</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>                            
                            </uib-tabset>
                        </div>
                    </div>
                </div>
            </div>            
        </section>
    </div>
</div>