<div class="row"><div class="col-lg-12">
        <script type="text/ng-template" id="app/ng-table/filters/checkbox.html">
    <input type="checkbox" ng-model="seleccionar" ng-click="seleccionarTodos(seleccionar,name)"/>
</script>
        <section class="panel">
            <header class="panel-heading">
                <span>MANTENIMIENTO</span>                
            </header>
            <div>
           <uib-tabset active="active" justified="true">
                <uib-tab index="0" heading="Entorno de Peticiones y Soporte" ng-init="cambiarVistaUsuario()" ng-click="cambiarVistaUsuario()">    
                <div class="row">
                  <div class="col-lg-2">
                    <uib-tabset index="subTabsEntornoPeticionesUsuario" active="activePill" vertical="true" type="pills" ng-show="mostrarUsuario">
                      <uib-tab index="subTabSoporteRecibido" heading="Soporte Recibido" select="cambiarPestanas('csubTabSoporteRecibido','contenidoSubTabEntornoPeticiones')"></uib-tab>
                      <uib-tab index="subTabPeticionesEnviadas" heading="Peticiones Enviadas" select="cambiarPestanas('csubTabPeticionesEnviadas','contenidoSubTabEntornoPeticiones')"></uib-tab>
                      <uib-tab index="subTabEscribirPeticion" heading="Escribir Petición" select="cambiarPestanas('csubTabEscribirPeticion','contenidoSubTabEntornoPeticiones')"></uib-tab>                      
                    </uib-tabset>
                      <uib-tabset index="subTabsEntornoPeticionesAdministrador" active="activePill" vertical="true" type="pills" ng-show="mostrarAdministrador">
                        <uib-tab index="subTabPeticionesRecibidas" heading="Peticiones Recibidas" select="cambiarPestanas('csubTabPeticionesRecibidas','contenidoSubTabEntornoPeticiones')"></uib-tab>
                        <uib-tab index="subTabSoporteEnviado" heading="Soporte Enviado" select="cambiarPestanas('csubTabSoporteEnviado','contenidoSubTabEntornoPeticiones')"></uib-tab>
                        <uib-tab index="subTabEscribirSoporte" heading="Escribir Soporte" select="cambiarPestanas('csubTabEscribirSoporte','contenidoSubTabEntornoPeticiones')"></uib-tab>
                      </uib-tabset>
                  </div>
                  <div id="contenidoSubTabEntornoPeticiones" class="col-lg-10">     
                      <!-- VISTA USUARIO ENTORNO PETICIONES Y SOPORTE-->
                    <div id="csubTabSoporteRecibido" style='display:none'>
                        <section class="panel">
                           <!-- <header class="panel-heading">                                
                                <div class="col-sm-10">
                                    <div class="btn-group btn-group-sm">                                   
                                        <button type="button" class="btn btn-default"><i class="fa fa-folder-open fa-2x"></i>Archivar como solucionado</button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-mail-forward fa-2x"></i>Re-Solicitar Soporte</button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-trash-o fa-2x"></i>Eliminar Mensaje</button>
                                    </div>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-primary"><i class="fa fa-rotate-right"></i> Actualizar</button>
                                    </div>
                                
                            </header>-->
                            <div class="panel-body" ng-init="listarMensajesRecibidos()" >
                                <div class="tabla-responsiva">
                                    <table ng-table="tablaRecibidos" class="tabla table-striped table-hover">
                                        <colgroup>
                                           
                                            <col width="20px" />
                                            <col width="25%" />
                                            <col width="auto" />
                                            <col width="10%" />
                                            <col width="10%" />
                                            <col width="20%"/>
                                        </colgroup>
                                        <tr ng-repeat="f in $data">                
                                            <!--<td data-title="'Marcar'">{{f.autor}}</td>-->
                                            <td data-title="''" filter="{tablaRecibidos: 'checkbox'}"> 
                                                <input type="checkbox" ng-model="f.selec"/>
                                            </td>
                                            <td data-title="'Destinatario'" sortable="'destinatario'">{{f.destinatario}}</td>
                                            <td data-title="'Mensaje de Soporte'">{{f.mensajeSoporte}}</td>
                                            <td data-title="'Tipo Soporte'" sortable="'tipoSoporte'">{{f.tipoSoporte}}</td>
                                            <td data-title="'Fec. Envio'" sortable="'fechaEnvio'">{{f.fechaEnvio}}</td>
                                            <td data-title="'Acciones'" style="text-align: center;">
                                                <button class="btn btn-success btn-xs"><i class="fa fa-folder-open" ></i></button>
                                                <button class="btn btn-primary btn-xs"><i class="fa fa-mail-forward" ></i></button>
                                                <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o" ></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div id="csubTabPeticionesEnviadas" style='display:none'>
                        <section class="panel">
                            <header class="panel-heading">                                
                                <div class="col-sm-10">
                                    <div class="btn-group btn-group-sm">                                   
                                        <button type="button" class="btn btn-default"><i class="fa fa-folder-open fa-2x"></i>Archivar como solucionado</button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-mail-forward fa-2x"></i>Re-Solicitar Soporte</button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-trash-o fa-2x"></i>Eliminar Mensaje</button>
                                    </div>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-primary"><i class="fa fa-rotate-right"></i> Actualizar</button>
                                    </div>
                                
                            </header>
                            <div class="panel-body" ng-init="listarPeticionesEnviadas()" ng-show="hayPeticionesEnviadas">
                                <div class="tabla-responsiva"  >
                                    <table ng-table="tablaEnviados" class="tabla table-striped table-hover" show-filter="true">
                                        <colgroup>                                           
                                            <col width="10px" />
                                            <col width="25%" />
                                            <col width="auto" />
                                            <col width="10%" />
                                            <col width="10%" />
                                            <col width="10%" />
                                            <col width="20%"/>
                                        </colgroup>
                                        <tr ng-repeat="f in $data" >                
                                            <!--<td data-title="'Marcar'">{{f.autor}}</td>-->
                                            <td data-title="''" filter="{tablaEnviados: 'checkbox'}"> 
                                                <input type="checkbox" ng-model="f.selec"/>
                                            </td>
                                            <td data-title="'Destinatario'" sortable="'destinatario'" style="text-align: center">{{f.destinatario}}</td>
                                            <td data-title="'Mensaje de Soporte'" style="text-align: center">{{f.mensajeSoporte}}</td>
                                            <td data-title="'Tipo Soporte'" sortable="'tipoSoporte'" style="text-align: center">{{f.tipoSoporte}}</td>
                                            <td data-title="'Fec. Envio'" sortable="'fechaEnvio'" style="text-align: center">{{f.fechaEnvio}}</td>
                                            <td cata-title="'Fec. Envio'" sortable="'estado'" style="text-align: center"><span class="label label-default label-mini">{{f.estado}}</span></td>
                                            <td data-title="'Acciones'" style="text-align: center;">
                                                <button class="btn btn-success btn-xs" ng-click="archivarMensaje(f)"><i class="fa fa-folder-open" ></i></button>
                                                <button class="btn btn-primary btn-xs" ng-click="reenviarMensaje(f,'Peticion')"><i class="fa fa-mail-forward" ></i></button>
                                                <button class="btn btn-danger btn-xs" ng-click="eliminarMensaje(f,'Enviados')"><i class="fa fa-trash-o" ></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </section>          
                    </div>
                    <div id="csubTabEscribirPeticion" style='display:none'>                        
                        
                        <br>
                        
                        <form class="form-horizontal style-form" method="get">
                            
                            <div class="form-group">
                                <div class="col-sm-8" >
                                   <div class="form-group">
                                       <label class="col-sm-2 control-label">Destinatario</label>
                                       <input type="text" class="col-sm-8" ng-model="mensajeEnviar.destinatario" readonly> 
                                    </div>
                                   <div class="form-group">
                                       <label class="col-sm-2 control-label">Remitente</label><input type="text" class="col-sm-8" ng-model="mensajeEnviar.remitente" readonly>
                                   </div>
                                   <div class="form-group">
                                       <label class="col-sm-2 control-label">Asunto</label><input type="text" class="col-sm-8" ng-model="mensajeEnviar.asunto" maxlength="30">
                                   </div>
                                    <div class="form-group">
                                   <label class="control-label">Tipo de Ayuda &nbsp &nbsp</label>                                
                                        <div class="radio" style="display: inline">
                                            <label><input type="radio" ng-model="subTipoMensaje" value="GuiaPasos" ng-change="cambiarSubTipoMensaje()">Guía de Pasos</label>
                                        </div>
                                        <div class="radio" style="display: inline">
                                            <label><input type="radio" ng-model="subTipoMensaje" value="ReporteError" ng-change="cambiarSubTipoMensaje()">Reporte de Error</label>
                                        </div>                                                    
                                </div> 
                               </div>

                               <div class="col-sm-3">
                                   <div class="form-group">
                                       <label class="control-label">Fecha de Envío</label>
                                       <div>
                                           <p class="input-group">
                                              <input type="text" class="form-control" ng-model="mensajeEnviar.fechaEnvioMostrar" readonly/>                                             
                                           </p>
                                       </div>
                                   </div>                                
                               </div>   
                            </div>
                            
                            <br>
                            <div class="form-group">                                                                   
                                    <div class="col-sm-3">
                                        <label class="control-label">Módulo</label>
                                                                                        
                                        <select class="form-control" ng-model="mod_selec_men" ng-options="o as o.nombre for o in menuPrincipal" ng-change="cambioModulo(sub_mod_selec_men,func_selec_men)">
                                        </select>
                                    </div>
                                <div class="col-sm-3">
                                    <label class="control-label">SubModulo</label>
                                     <select class="form-control" ng-model="sub_mod_selec_men" ng-options="o as o.nombre for o in mod_selec_men.subModulos" ng-change="cambioSubMod(func_selec_men)">
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label">Función</label>
                                    <select class="form-control" ng-model="func_selec_men" ng-options="o as o.nombre for o in sub_mod_selec_men.funciones" ng-change="prepararFuncionParaMensaje(func_selec_men, mensajeEnviar)">
                                    </select>
                                </div>                                                                                                                                                                                                              
                            </div>
                            <br><br>
                            
                            <div class="form-group">
                                <label class="col-sm-4">Descripción de Petición</label>
                                <div class="col-sm-11">
                                    <textarea rows="5" class="form-control" maxlength="500" ng-model="mensajeEnviar.descripcion"></textarea>
                                </div>
                            </div>
                            
                            <hr>
                            <div class="form-group">
                                <span class="col-sm-8"><label>Subir Imagen</label><view-file nombre="img" archivo="file"></view-file><input-file nombre archivo="copia" ></input-file></span>      
                                <button type="button" class="btn btn-success" ng-click="vistaPrevia()"><i class="fa fa-eye"></i> Vista Previa</button>
                                <button type="button" class="btn btn-primary" ng-click="confirmarMensaje()"><i class="fa fa-mail-forward"></i> Enviar</button>
                            </div>
                           
                        </form>
                        
                        
                    </div>
                      
                      
                    <!-- VISTA ADMINISTRADOR! ENTORNO PETICIONES Y SOPORTE-->  
                    <div id="csubTabPeticionesRecibidas">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="row">
                                    <label class="control-label"><i class="fa fa-folder-open fa-2x"></i>Archivar como solucionado &nbsp &nbsp</label>
                                    <label class="control-label"><i class="fa fa-mail-forward fa-2x"></i> Re-Solicitar Soporte  &nbsp &nbsp</label>
                                    <label class="control-label"><i class="fa fa-trash-o fa-2x"></i> Eliminar Mensaje  </label>                                                             
                                </div>
                            </header>
                            <div class="panel-body" ng-init="listarMensajesRecibidos()">
                                <div class="tabla-responsiva">
                                    <table ng-table="tablaRecibidos" class="tabla table-striped table-hover">
                                        <colgroup>
                                            <!--
                                            <col width="10px" />-->
                                            <col width="25%" />
                                            <col width="auto" />
                                            <col width="10%" />
                                            <col width="10%" />
                                            <col width="20%"/>
                                        </colgroup>
                                        <tr ng-repeat="f in $data">                
                                            <!--<td data-title="'Marcar'">{{f.autor}}</td>-->
                                            <td data-title="'Remitente'" sortable="'destinatario'">{{f.destinatario}}</td>
                                            <td data-title="'Mensaje de Soporte'" sortable="'mensaje'">{{f.mensajeSoporte}}</td>
                                            <td data-title="'Tipo Soporte'" sortable="'tipoSoporte'">{{f.tipoSoporte}}</td>
                                            <td data-title="'Fec. Envio'" sortable="'fechaEnvio'">{{f.fechaEnvio}}</td>
                                            <td data-title="'Acciones'" style="text-align: center;">
                                                <button class="btn btn-success btn-xs"><i class="fa fa-folder-open" ></i></button>
                                                <button class="btn btn-primary btn-xs"><i class="fa fa-mail-forward" ></i></button>
                                                <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o" ></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </section>  
                    </div>  
                      
                    <div id="csubTabSoporteEnviado">
                          <span>
                            <div class="row">
                                <div class="col-lg-10">
                                    Botones
                                </div>
                                <div class="col-lg-2">
                                    Navegador Mensajes
                                </div>
                            </div>
                        </span>
                        <div class="tabla-responsiva">
                            <table ng-table="tablaSoporteEnviado" class="table table-striped table-hover" show-filter="true">
                                <td data-title="'Marcar'"> </td>
                                <td data-title="'Destinatario'"> </td>
                                <td data-title="'Mensaje de Soporte'"> </td>
                                <td data-title="'Tipo de Soporte'"> </td>
                                <td data-title="'Fecha de Envio'"> </td>
                                <td data-title="'Acciones'"> </td>
                            </table>                            
                        </div>
                    </div>
                    <div id="csubTabEscribirSoporte">
                         <hr>
                        
                        <form class="form-horizontal style-form" method="get">
                            <div class="form-group">
                                <div class="col-sm-8" >
                                   <div class="form-group">
                                       <label class="col-sm-2 control-label">Destinatario</label>
                                       <input type="text" class="col-sm-8" readonly>
                                   </div>
                                   <div class="form-group">
                                       <label class="col-sm-2 control-label">Remitente</label>
                                       <input type="text" class="col-sm-8" ng-model="mensajeEnviar.remitente" readonly>
                                   </div>
                                   <div class="form-group">
                                       <label class="col-sm-2 control-label">Asunto</label>
                                       <input type="text" class="col-sm-8" ng-model="mensajeEnviar.asunto" maxlength="30">
                                   </div>
                                    <div class="form-group">
                                   <label class="control-label">Tipo de Ayuda &nbsp &nbsp</label>                                
                                        <div class="radio" style="display: inline">
                                            <label><input type="radio" ng-model="subTipoMensaje" value="GuíaPasos" ng-change="cambiarSubTipoMensaje()">Guía de Pasos</label>
                                        </div>
                                        <div class="radio" style="display: inline">
                                            <label><input type="radio" ng-model="subTipoMensaje" value="ReporteError" ng-change="cambiarSubTipoMensaje()">Reporte de Error</label>
                                        </div>                                                    
                                </div> 
                               </div>

                               <div class="col-sm-3">
                                   <div class="form-group">
                                       <label class="control-label">Fecha de Envío</label>
                                       <div>
                                           <p class="input-group">
                                               <!--
                                               <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                               <span class="input-group-btn">
                                                   <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                               </span>-->
                                                 <input type="text" class="form-control" ng-model="mensajeEnviar.fechaEnvioMostrar" readonly/>                                             
                                           </p>
                                       </div>
                                   </div>                                
                               </div>   
                            </div>
                            
                            <br>

                            <br>
                            
                            <div class="form-group">
                                <label class="col-sm-4">Descripción de Petición</label>
                                <div class="col-sm-11">
                                    <textarea rows="5" class="form-control" maxlength="500" ng-model="mensajeEnviar.descripcion"></textarea>
                                </div>
                            </div>
                            
                            <hr>
                            <div class="form-group">
                                <span class="col-sm-8"><label>Subir Imagen</label><view-file nombre="img" archivo="file"></view-file><input-file nombre archivo="copia" ></input-file></span>      
                                <button type="button" class="btn btn-success" ng-click="vistaPrevia()"><i class="fa fa-eye"></i> Vista Previa</button>
                                <button type="button" class="btn btn-primary" ng-click="confirmarMensaje()"><i class="fa fa-mail-forward"></i> Enviar</button>
                            </div>
                           
                        </form>
                         
                    </div>
                  </div>
                </div>
                    
                  </uib-tab>
                                             
               <uib-tab index="1" heading="Ayuda Básica" select="tab2">
                    <form class="form-horizontal style-form">
                        <hr>
                        <div class="form-group" style="display: block">
                            <label class="col-sm-3 control-label" align="left">Tipo de Ayuda</label>                                
                            <div class="col-sm-12 ">                                
                                <div class="radio" style="display: inline">
                                    <label class="col-sm-3 control-label"><input type="radio" ng-model="tipoAyuda" value="General" ng-change="cambiarTipoAyuda(func_selec)">General</label>
                                </div>
                                <div class="radio" style="display: inline">
                                    <label class="col-sm-2 control-label"><input type="radio" ng-model="tipoAyuda" value="Detallada" ng-change="cambiarTipoAyuda(func_selec)">Detallada</label>
                                </div>                             
                            </div>
                            
                        </div>
                       
                        <div class="form-group">
                            <label class="col-sm-9 control-label"><h4>Funciones Básicas</h4></label>
                        </div>
                      
                        <div class="form-group" style="display:block">                            
                            <div class="col-sm-2"></div>
                            
                            <!--MODULO -->
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="mod_selec" ng-options="o as o.nombre for o in menuPrincipal" ng-change="cambioModulo(sub_mod_selec,func_selec)">
                                </select>
                            </div>
                            
                            <!--FUNCION -->
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="func_selec" ng-options="o as o.nombre for o in sub_mod_selec.funciones" ng-change="cargarPasos(func_selec)">
                                </select>
                            </div>
                                                        
                            <div class="col-sm-2"></div>
                            
                      
                            
                        </div>    
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <!--SUB-MODULO -->
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="sub_mod_selec" ng-options="o as o.nombre for o in mod_selec.subModulos" ng-change="cambioSubMod(func_selec)">
                                </select>
                            </div>
                        </div>
                        <hr>
                            
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><h5>Descripción Básica</h5></label>        
                            <label class="col-sm-4 control-label"><h5>Pasos a Seguir</h5></label>
                        </div>
                        <div class="form-group">    
                            <div class="col-sm-2"></div>  
                            <!-- DESCRIPCION FUNCIONALIDAD -->
                            <div class="col-sm-4 " >
                                <textarea class="form-control" rows="5" ng-disabled="mostrarUsuario">{{func_selec.descripcion}}</textarea>
                            </div>
                            
                            <!-- PASOS A SEGUIR -->
                            <div class="col-sm-4">
                                <table class="table peque" style="margin-bottom: 0" ng-disabled="mostrarUsuario">
                                    <thead>
                                        <tr>
                                            <th width="15px">#</th><th width="auto">Paso</th><th width="55px" ng-hide="mostrarUsuario">Acción</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="p in pasos">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <span ng-hide="p.edi">{{p.pasoDes}}</span>
                                                <span ng-show="p.edi"><input ng-model="p.copia.pasoDes"/></span>
                                            </td>
                                            <td>
                                                <div ng-hide="mostrarUsuario">
                                                    <div ng-show="mostrarBotonesPasos">
                                                        <button type="button" class="btn btn-primary btn-xs" ng-click="editarPaso($index,p)"><i class="fa" ng-class="{'fa-check':p.edi,'fa-pencil':!p.edi}"></i></button>
                                                        <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!p.edi}" ng-click="eliminarPaso($index,p)"><i class="fa" ng-class="{'fa-times':p.edi, 'fa-trash-o': !p.edi}"></i></button>                                                        
                                                    </div>
                                                </div>                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table peque" style="margin-bottom: 0; background:#f1f2f7;" ng-hide="mostrarUsuario" >
                                    <tr ng-show="mostrarBotonesPasos">
                                        <td style="width: 15px">+</td>
                                        <td style="width: auto"><input type="text" class="form-control input-table" ng-model="paso.pasoDes" ng-show="mostrarBotonesPasos"></td>
                                        <td style="width: 55px">
                                            <button class="btn btn-success btn-xs" ng-click="agregarPaso()" ng-show="mostrarBotonesPasos"title="agregar paso" ><i class="fa fa-plus" ></i></button>
                                        </td>
                                    </tr>                                        
                                </table>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        
                        <div class="form-group" ng-hide="mostrarUsuario">
                            <div class="col-sm-7"></div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-danger" ng-click="eliminarAyuda(func_selec)" ng-show="mostrarBotonEliminarAyuda"><i class="fa fa-times"></i>Eliminar</button>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary" ng-click="agregarAyuda(func_selec)" ng-show="mostrarBotonAgregarAyuda" ><i class="fa fa-check"></i>Guardar</button>
                            </div>                            
                        </div>
                        
                    </form>   
               </uib-tab>
                
              
               <uib-tab index="2" heading="Personalización de Vista" select="tab3" ng-show="mostrarUsuario">
                   <hr>
                   <div class="row">
                       <label class="col-sm-2">Tipo de Color</label>
                       
                   </div>
               </uib-tab>
            </uib-tabset> 
        </div>
        </section>

</div>
</div>


<div class="modal fade" id="modalVistaPrevia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Vista Previa Mensaje</h4>                
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-10">
                        <h3><em>{{mensajeEnviar.asunto}}</em></h3>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <div class="col-sm-5">
                        <h5><em>Para {{mensajeEnviar.destinatario}}</em></h5>
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <div class="col-sm-12" style="text-transform: none">
                        <p style="font-style: italic;">{{mensajeEnviar.descripcion}}</p>
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <div class="col-sm-5">
                        <h5><em>Atte: {{mensajeEnviar.remitente}}</em></h5>
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-sm-7">
                            <h5><em ng-show="mensajeEnviar.img">Imagen Adjunta: {{mensajeEnviar.img}}</em></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>



<div class="modal fade" id="modalConfirmacionMensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmación mensaje</h4>                
            </div>
            <div class="modal-body">
                <div class="form-horizontal" >
                    <div class="form-group">
                        <div class="col-md-3">
                            <p style="font-style: italic;">Seleccione fecha del fallo: </p>
                        </div>                                                
                        <div class="col-md-6">
                            <p class="input-group">
                              <input type="text" class="form-control" uib-datepicker-popup ng-model="mensajeEnviar.fechaEnvio" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                        </div>

                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary" ng-click="enviarMensaje(mensajeEnviar,func_selec)"><i class="fa fa-mail-forward"></i> Enviar</button>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
