<style>
.fondo1 {    
    background-color:green;
    color:white
}
.fondo2 {
    background-color:coral;
    color:white
}
.fondo3 {
    background-color:red;
    color:white
}
</style>
<section class="panel" ng-show="ventanas[0]">
    <header class="panel-heading">
        <span><h4>FICHAS DE EVALUACIÓN</h4></span>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarFichas()"><i class="fa fa-rotate-right"></i> Actualizar </button>            
        </span>
    </header>
    <div class="panel-body" ng-init="listarFichas()">                    
        <div class="tabla-responsiva">
            <table ng-table="tablaFichas" class="table table-striped table-hover" show-filter="true" >                        
                <tr ng-repeat="d in $data">
    <!--                <td data-title="'Codigo'" filter="{ ficcod: 'text'}" sortable="'ficcod'">{{d.ficcod}}</td>-->
                    <td data-title="'Doc. Nombre'" filter="{ ficdoc: 'text'}" sortable="'ficdoc'" style="width: 25%;">{{d.ficdoc}}</td>
                    <td data-title="'Ver. Doc.'" style="text-align: center ; width: 13%;">                        
                        <view-file nombre="'archivos/' + d.url" archivo="d.archivo" nover='true'></view-file>
                    </td>
                    <td data-title="'Fec. Creacion'" filter="{ ficfec: 'text'}" sortable="'ficfec'" style="text-align: center; width: 20%;">{{d.ficfec|date:"yyyy/MM/dd"}}</td>
                    <td data-title="'Ult. Modificación'" filter="{ ficfeA 'text'}" sortable="'ficfeA'" style="text-align: center; width: 15%;">{{d.ficfeA|date:"dd/MM/yyyy"}}</td>
    <!--                <td data-title="'Evaluador'" filter="{ ficeva: 'text'}" sortable="'ficeva'">{{d.fice    va}}</td>
                    <td data-title="'Evaluado'" filter="{ ficesp: 'text'}" sortable="'ficesp'">{{d.ficesp}}</td>-->
                    <td data-title="'Pun. Final'" filter="{ fictot: 'text'}" sortable="'fictot'" style="text-align: center; width: 15%;">{{d.fictot}}</td>
                    <td data-title="'Acción'" style="text-align: center; width: 25%;">
                        <button class="btn btn-primary btn-xs" uib-tooltip="Editar Ficha Evaluacion" ng-click="editarFicha(d.ficide, d.plaid)"><i class="fa fa-pencil" ></i></button>
                        <button class="btn btn-danger btn-xs" uib-tooltip="Eliminar Ficha" ng-click="eliminarFicha(d.i, d.ficide)"><i class="fa fa-trash-o"></i></button>
                        <button class="btn btn-success btn-xs" uib-tooltip="Visualizar Ficha Pdf" ng-click="visualizarFicha(d, d.plaid)"><i class="fa fa-eye" ></i></button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
<!--            <button class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus" ></i>Crear Plantilla</button>-->
            <button type="button" title="Añadir nueva ficha" class="btn btn-success" ng-click="avanzar()"><i class="fa fa-plus" ></i> Registrar Evaluacion </button>
        </div>
    </div>     
</section>

<!--Vista para crear una nueva ficha de evaluacion-->
<section class="panel" ng-show="ventanas[1]">
    <header class="panel-heading">
        <span align="center">
            <h3>REGISTRO DE FICHA DE EVALUACIÓN</h3>
        </span>
    </header>
    
    <form name="formFicha" style="margin: 10px 10px 10px 10px"  ng-submit="aplicarPlantilla()" novalidate>
        <div class="row">
            <div class="col-sm-6" >

                <div class="form-group">
                   <label class="col-sm-6 control-label">Codigo de Documento: </label> 
<!--                    <input type="text" ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">-->
                    <input type="text" ng-model="selectedDocumento" uib-typeahead="documento as documento.itenom for documento in documentos | filter:$viewValue | limitTo:8" class="form-control" name="codDoc" placeholder="Selecciona" required>
                        <p ng-show="formFicha.codDoc.$invalid && !formFicha.codDoc.$pristine" class="help-block">Este campo es obligatorio.</p>
                </div>
                <div class="form-group" >
                    <label class="col-sm-6 control-label">Responsable del Documento: </label> 
                  <!--  <label>{{selectedDocumento.iteusu}}</label> -->
                    <input type="text" ng-model="traId" class="form-control" name="iteusuide" required uib-typeahead="trabajador as trabajador.cargo + ' ' + trabajador.perDNI + ' ' + trabajador.perNom + ' ' + trabajador.perPat for trabajador in trabajadores | filter:$viewValue | limitTo:8" placeholder="Selecciona" required>
                    <p ng-show=" formFicha.iteusuide.$invalid && !formFicha.iteusuide.$pristine" class="help-block">Este campo es obligatorio.</p>
<!--                    <select class="form-control" ng-model="placement.selected" ng-options="o as o for o in placement.options" ng-disabled="true"></select>-->
                </div> 
                <div class="form-group" >
                    <label class="col-sm-6 control-label">Fecha:  </label>   
                    <input class="form-control" type="date" ng-model="fecha"  name="itefecha"  required/>
                    <p ng-show="formFicha.itefecha.$invalid && !formFicha.itefecha.$pristine" class="help-block">Este campo es obligatorio.</p>
                    
<!--                    <select class="form-control" ng-model="placement.selected" ng-options="o as o for o in placement.options" ng-disabled="true"></select>-->
                </div>                                             
            
            </div>
            <div class="col-sm-6" >
                
                <div class="form-group">
                    <label class="col-sm-6 control-label">Cod. de Plantilla </label>
                    <input type="text" ng-model="plaide" uib-typeahead="plantilla as plantilla.placod + ' ' + plantilla.planom for plantilla in plantillas | filter:$viewValue | limitTo:8" placeholder="selecciona" class="form-control" name="plaide" required>
                    <p ng-show="formFicha.plaide.$invalid && !formFicha.plaide.$pristine" class="help-block">Este campo es obligatorio.</p>
                </div>
                <label class="col-sm-6 control-label">Vista Previa  </label>
                <div class="col-sm-12">
                    <iframe ng-model="urlArch" style="display:block" src={{urlArch}} width="100%" height="100%"></iframe>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="atras(1)"><i class="glyphicon glyphicon-arrow-left" ></i> Regresar </button>
            <button type="submit" class="btn btn-primary" ng-disabled="formFicha.$invalid"><i class="glyphicon glyphicon-arrow-right" ></i> Aplicar </button>
        </div>        
    </form>                                    
</section>

<!--Vista de la nueva ficha-->
<section class="panel" ng-show="ventanas[2]">
    <header class="panel-heading">
        <span align="center">
            <h3>NUEVA FICHA DE EVALUACIÓN</h3>
        </span>        
    </header>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-5" style="border-style: solid; border-width: 1px;">
                <dl class="dl-horizontal">
                    <dt>Codigo:</dt>
                    <dd>{{plantilla.codigo}}</dd>
                    <dt>Nombre:</dt>
                    <dd>{{plantilla.nombre}}</dd>
                    <dt>Tipo:</dt>
                    <dd>{{plantilla.tipoNom}}</dd>
                    <dt>Nombre del Documento:</dt>
                    <dd>{{selectedDocumento.itenom}}</dd>
                    <dt style="color: crimson;">Visualizar Documento:</dt>                    
                    <dd><view-file nombre="'archivos/' + selectedDocumento.iteurl" archivo="selectedDocumento.archivo" nover='true'></view-file></dd>                    
                </dl>                    
            </div>
            <div class="col-sm-7" style="border-style: solid; border-width: 1px;">
                <dl class="dl-horizontal">
                    <dt>Instrucciones:</dt>
                    <dd>
                        Instrucciones: instrucciones instrucciones instrucciones instrucciones instrucciones
                        instrucciones instrucciones instrucciones instrucciones instrucciones instrucciones
                    </dd>
                </dl>
            </div>
        </div>
        <div>
        <uib-accordion close-others="false">
            <div ng-repeat="grupo in grupos">
                <div uib-accordion-group class="panel-success" is-open="true">
                    <uib-accordion-heading> 
                        {{grupo.gruNom}}                                                                   
                    </uib-accordion-heading>                
                    <div ng-repeat="indicador in grupo.indicadores">

                        <div class="row">
                            <div class="col-sm-10">
                                <p>{{indicador.indNom}}</p>
                            </div>
                            <div class="col-sm-2" style="text-align: center">
                                <label>
                                    <input type="radio" ng-model="indicador.punto" value="1" ng-change='sumarPuntosGrupo(indicador, grupo)'>
                                    1
                                </label>
                                <label>
                                    <input type="radio" ng-model="indicador.punto" value="2" ng-change='sumarPuntosGrupo(indicador, grupo)'>
                                    2
                                </label>
                                <label>
                                    <input type="radio" ng-model="indicador.punto" value="3" ng-change='sumarPuntosGrupo(indicador, grupo)'>
                                    3
                                </label>
                            </div>
                        </div>                         
                    </div>                    
                    <div style="text-align: right">
                        <h4><label>Total: {{grupo.total}}</label></h4>
                    </div>
                        
                </div>
            </div>
            
        </uib-accordion>        
        </div>
        <div class="row" style="border-style: solid; border-width: 1px;">
            <div class="col-sm-6" >
                <dl class="dl-horizontal">
                    <dt>Suma Total:</dt>
                    <dd>{{plantilla.total}}</dd>
                </dl>
                <label>Resultados por Indicadores:</label>
                <dl class="dl-horizontal">
                    <div ng-repeat="grupo in grupos">
                        <dt>{{grupo.gruNom}}</dt>
                        <dd>{{fun2(grupo.total)}} %</dd>
                    </div>                    
                </dl>
                <dl class="dl-horizontal">
                    <dt>Total(%):</dt>
                    <dd>{{fun2(plantilla.total)}} %</dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <label>Resultados de Evaluacion:</label>
                <dl class="dl-horizontal">                                                            
                    <dt style="border-style: groove" ng-class="{'fondo3':plantilla.total<=(plantilla.maxPunt/3)}">De 0 a 33%</dt>
                    <dd>descripcion 1 descripcion 1 descripcion 1 descripcion 1 descripcion 1 descripcion 1</dd>
                    <dt style="border-style: groove" ng-class="{'fondo2':(plantilla.total>(plantilla.maxPunt/3)) && (plantilla.total<=(2*plantilla.maxPunt/3))}">De 34 a 66%</dt>
                    <dd>descripcion 2 descripcion 2 descripcion 2 descripcion 2 descripcion 2 descripcion 2</dd>
                    <dt style="border-style: groove" ng-class="{'fondo1':plantilla.total>(2*plantilla.maxPunt/3)}">De 67 a 100%</dt>
                    <dd>descripcion 3 descripcion 3 descripcion 3 descripcion 3 descripcion 3 descripcion 3</dd>
                </dl>
            </div>
        </div>
        
        <div class="row" style="border-style: solid;border-width: 1px;">
            <div class="col-sm-4" >
                <label class="col-sm-6 control-label">Aplicador: </label> {{datosEvaluador.cargo}}
            </div>
            <div class="col-sm-4" >
                 <label class="col-sm-6 control-label">Nombre Aplicador: </label> {{datosEvaluador.nombres}}                
            </div>
            <div class="col-sm-4">
                 <label class="col-sm-6 control-label">Fecha evaluacion: </label> {{fecha|date:"dd/MM/yyyy"}}
            </div>                
        </div>
        
    </div>
    
    <div class="panel-footer" style="text-align: center">
        <button class="btn btn-warning" uib-tooltip="Regresar" ng-click="regresar()"><i class="glyphicon glyphicon-arrow-left" ></i></button>
<!--        <button class="btn btn-success" uib-tooltip="Imprimir" ng-click="imprimirPlantilla(true)"><i class="glyphicon glyphicon-print" ></i></button>-->
        <button class="btn btn-primary" uib-tooltip="Guardar" ng-click="guardaroactualizarFicha(ficide)"><i class="glyphicon glyphicon-floppy-disk"></i></button>
    </div>    
</section>