<style>
.fondo1 {    
    background-color:green;
    color:white
}
.fondo2 {
    background-color:coral;
    color:white
}
.fondo3 {
    background-color:red;
    color:white
}
</style>
<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4>REPORTES</h4>                  
    </header>
    <div>
        <uib-tabset active="active" type="pills">
            <uib-tab index="0" heading="REPORTES DE FICHAS DE EVALUACION" style="max-width: 20%;text-align: center;" select="ini1()">  
                <div class="input-group container" style="text-align: center; padding: 9px; width: 30%">                    
                    <span class="input-group-addon" id="basic-addon1">Documento</span>
                    <input type="text" ng-model="selectedDocumento" uib-typeahead="documento as documento.itenom for documento in documentos | filter:$viewValue | limitTo:8" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="listarFichas(selectedDocumento)" >Buscar</button>
                    </span>                    
                </div>
                <div class="panel-body">
                    <div class="tabla-responsiva">
                        <table ng-table="tablaFichas" class="table table-striped table-hover" show-filter="true" >                        
                            <tr ng-repeat="d in $data">
                <!--                <td data-title="'Codigo'" filter="{ ficcod: 'text'}" sortable="'ficcod'">{{d.ficcod}}</td>-->
                                <td data-title="'Doc. Nombre'" sortable="'ficdoc'">{{d.ficdoc}}</td>
                                <td data-title="'Ficha Nombre'" sortable="'planom'">{{d.planom}}</td>
                                <td data-title="'Fec. Creacion'" sortable="'ficfec'">{{d.ficfec}}</td>
                <!--                <td data-title="'Evaluador'" filter="{ ficeva: 'text'}" sortable="'ficeva'">{{d.ficeva}}</td>
                                <td data-title="'Evaluado'" filter="{ ficesp: 'text'}" sortable="'ficesp'">{{d.ficesp}}</td>-->
                                <td data-title="'Pun. Final'" sortable="'fictot'">{{d.fictot}}</td>                                
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">                    
                    <div class="col-sm-6" style="height: 300px" align="center">
                        <canvas id="graFichasFileBarra" width="300" height="250"></canvas>
                    </div>
                    <div class="col-sm-6" style="height: 300px" align="center">
                        <canvas id="graFichasFilePie" width="300" height="250"></canvas>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center">                
                    <button type="button" class="btn btn-lg btn-success" ng-click="imprimirReporte1()"><i class="glyphicon glyphicon-print"></i></button>                
                </div>
            </uib-tab>
            <!-- DESACTIVE ESTO
            
            <uib-tab index="1" heading="REPORTES DE FICHAS DE EVALUACION INDIVIDUAL" select="ini2()" style="max-width: 25%;text-align: center;">
                <div class="input-group container" style="text-align: center; padding: 9px; width: 30%">                    
                    <span class="input-group-addon" id="basic-addon1">Doc. / Ficha</span>
                    <input type="text" ng-model="selectedFicha" uib-typeahead="ficha as ficha.ficdoc + ' ' + ficha.planom for ficha in fichas | filter:$viewValue | limitTo:8" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="listarFichaEspecifica(selectedFicha)" >Buscar</button>
                    </span>                                          
                </div>
                <!--Vista de la nueva ficha
                <section class="panel">
                    <header class="panel-heading">
                        <span align="center">
                            <h3>FICHA DE EVALUACION</h3>
                        </span>
                    </header>

                    <div class="panel-body">
                        <div class="row" style="border-style: solid;">
                        <div style="padding: 10px;">
                            <b>Codigo:</b> {{plantilla.codigo}}
                        </div>
                        <div style="padding: 5px 5px 5px 10px;">
                            <b>Nombre:</b> {{plantilla.nombre}}
                        </div>    
                        <div style="padding: 5px 5px 5px 10px;">
                            <b>Tipo  :</b> {{plantilla.tipoNom}}
                        </div>
                        
                        <div class="row" style=" padding: 10px;">
                            <div class="col-sm-4" >
                                <b>Aplicador:</b> {{datosEvaluador.cargo}}
                            </div>
                            <div class="col-sm-4" >
                                <b>Nombre Aplicador:</b> {{datosEvaluador.nombres}}                
                            </div>
                            <div class="col-sm-4">
                                <b>Fecha evaluacion:</b> {{datosEvaluador.fecha}}
                            </div>                
                        </div>
                        
                        <div>
                        <uib-accordion close-others="false">
                            <div ng-repeat="grupo in grupos">
                                <div uib-accordion-group class="panel-success" is-open="true" is-disabled="true">
                                    <uib-accordion-heading> 
                                        {{grupo.gruNom}}                                                                   
                                    </uib-accordion-heading>                
                                    <div ng-repeat="indicador in grupo.indicadores">
                
                ESTO ES JUNTO
                <!--                        <div uib-accordion-group class="panel-info">
                                            <uib-accordion-heading>
                                                <span ng-hide="indicador.edi" >{{indicador.indNom}}</span>
                                                <span ng-show="indicador.edi" ><input ng-model="indicador.copia.indNom"/></span>                                    
                                            </div>
                                        </div>  <!--








                                        <div class="row">
                                            <div class="col-sm-10">
                                                <p>{{indicador.indNom}}</p>
                                            </div>
                                            <div class="col-sm-2" style="text-align: center">
                                                <label>
                                                    <input type="radio" ng-model="indicador.punto" value="1" ng-change='sumarPuntosGrupo(indicador, grupo)' disabled>
                                                    1
                                                </label>
                                                <label>
                                                    <input type="radio" ng-model="indicador.punto" value="2" ng-change='sumarPuntosGrupo(indicador, grupo)' disabled>
                                                    2
                                                </label>
                                                <label>
                                                    <input type="radio" ng-model="indicador.punto" value="3" ng-change='sumarPuntosGrupo(indicador, grupo)' disabled>
                                                    3
                                                </label>
                                            </div>
                                        </div>                         
                                    </div>                    
                                    <div style="text-align: right">
                                        <h4><label>Total: {{grupo.total}}</label></h4>
                                    </div>
                                    <div id="choicesDisplay">
                                    </div>
                                </div>
                            </div>
                            <div>                
                                <div id="choicesDisplay">
                                </div>
                            </div>
                        </uib-accordion>
                        </div>
                        </div>
                        <div class="row" style="border-style: solid;">
                            <div class="col-sm-6" >
                                <dl class="dl-horizontal" style="padding: 10px;">
                                    <dt>Suma Total:</dt>
                                    <dd>{{plantilla.total}}</dd>
                                </dl>
                                <label>Resultados por Indicadores:</label>
                                <dl class="dl-horizontal">
                                    <div ng-repeat="grupo in grupos">
                                        <dt>{{grupo.gruNom}}</dt>
                                        <dd>{{fun2(grupo.total)}} %</dd>
                                    </div>                    
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Total(%):</dt>
                                    <dd>{{fun2(plantilla.total)}} %</dd>
                                </dl>
                            </div>
                            <div class="col-sm-6">
                                <label  style="padding: 10px;">Resultados de Evaluacion:</label>
                                <dl class="dl-horizontal">                                                            
                                    <dt style="border-style: groove" ng-class="{'fondo3':plantilla.total<=(plantilla.maxPunt/3)}">De 0 a 33%</dt>
                                    <dd>descripcion 1 descripcion 1 descripcion 1 descripcion 1 descripcion 1 descripcion 1</dd>
                                    <dt style="border-style: groove" ng-class="{'fondo2':(plantilla.total>(plantilla.maxPunt/3)) && (plantilla.total<=(2*plantilla.maxPunt/3))}">De 34 a 66%</dt>
                                    <dd>descripcion 2 descripcion 2 descripcion 2 descripcion 2 descripcion 2 descripcion 2</dd>
                                    <dt style="border-style: groove" ng-class="{'fondo1':plantilla.total>(2*plantilla.maxPunt/3)}">De 67 a 100%</dt>
                                    <dd>descripcion 3 descripcion 3 descripcion 3 descripcion 3 descripcion 3 descripcion 3</dd>
                                </dl>
                            </div>
                        </div>                        
                    </div>

                    <div class="modal-footer" style="text-align: center">                
                        <button type="button" class="btn btn-lg btn-success" ng-click="imprimirReporte2()"><i class="glyphicon glyphicon-print" ></i></button>                
                    </div>    
                </section>
                
            </uib-tab>
            
            <uib-tab index="2" heading="REPORTE DE OBJETIVOS POR DOCUMENTO" style="max-width: 25%;text-align: center;">
                <div class="input-group container" style="text-align: center; padding: 9px; width: 30%">                    
                    <span class="input-group-addon" id="basic-addon1">Documento</span>
                    <input type="text" ng-model="selectedDocumento3" uib-typeahead="documento as documento.itenom for documento in documentos | filter:$viewValue | limitTo:8" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="prepararObjetivos(selectedDocumento3)" >Buscar</button>
                    </span>                    
                </div>
                
                <div class="panel-body">
                    <div class="tabla-responsiva">
                        <table ng-table="tablaObjetivos" class="table table-striped table-hover" show-filter="false" demo-tracked-table="tableTracker">
                        <tr ng-repeat="o in $data">                    
                            <td data-title="'Descripcion'" sortable="'objdes'" style="width: 40%; min-width: 200px;">            
                                <span>{{o.objdes}}</span>                                
                            </td>
                            <td data-title="'Avance'" sortable="'objava'" style="width: 10%; min-width: 150px;">            
                                <div><uib-progressbar class="progress-striped" value="o.objava" type="warning">{{o.objava}}%</uib-progressbar></div>                                
                            </td>
                            <td data-title="'Fecha'" sortable="'objfec'" style="width: 15%; min-width: 150px;">            
                                <span ng-hide="o.edi" >{{o.objfec}}</span>
                            </td>
                            <td data-title="'Responsable'" sortable="'objusu'" style="width: 25%; min-width: 150px;">
                                <span ng-hide="o.edi" >{{o.objusu.perNom}} {{o.objusu.perMat}} {{o.objusu.perPat}}</span>                                
                            </td>                                        
<!--                            <td data-title="'Documento'" sortable="'objdoc'" style="width: 10%; min-width: 50px;">
                                <span>{{o.objdoc}}</span>                                
                            </td>--><!--
                            <td data-title="'Tipo'" sortable="'objtip'" style="width: 10%; min-width: 50px;">        
                                <span class="label label-mini" ng-class="{'label-primary': o.objtip=='q','label-success': o.objtip=='c'}">{{o.objtip=='q'?'cualitativo':'cuantitativo'}}</span>
                            </td>                             
                        </tr>
                        </table>                
                    </div>
                </div>
                <div class="row">                    
                    <div class="col-sm-6" style="height: 300px" align="center">
                        <canvas id="graObjBarra" width="300" height="250"></canvas>
                    </div>
                    <div class="col-sm-6" style="height: 300px" align="center">
                        <canvas id="graObjPie" width="300" height="250"></canvas>
                    </div>
                </div>  
                <div class="modal-footer" style="text-align: center">                
                    <button type="button" class="btn btn-lg btn-success" ng-click="imprimirReporte3()"><i class="glyphicon glyphicon-print" ></i></button>                
                </div> 
            </uib-tab>                        
            -->
            <uib-tab index="3" heading="REPORTE DE ACTIVIDADES POR DOCUMENTO" style="max-width: 25%;text-align: center;">
                <div class="input-group container" style="text-align: center; padding: 9px; width: 30%">                    
                    <span class="input-group-addon" id="basic-addon1">Documento</span>
                    <input type="text" ng-model="selectedDocumento2" uib-typeahead="documento as documento.itenom for documento in documentos | filter:$viewValue | limitTo:8" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="prepararActividades(selectedDocumento2)" >Buscar</button>
                    </span>
                </div>  
                <div class="panel-body">
                    <div class="tabla-responsiva">
                        <table ng-table="tablaActividades" class="table table-striped table-hover" show-filter="false" demo-tracked-table="tableTracker">
                        <tr ng-repeat="a in $data">                    
                            <td data-title="'Descripcion'" sortable="'objdes'" style="width: 40%; min-width: 200px;">            
                                <span>{{a.objdes}}</span>                                
                            </td>
                            <td data-title="'Avance'" sortable="'objava'" style="width: 10%; min-width: 150px;">            
                                <div><uib-progressbar class="progress-striped" value="a.objava" type="warning">{{a.objava}}%</uib-progressbar></div>                                
                            </td>
                            <td data-title="'Fecha'" sortable="'objfec'" style="width: 15%; min-width: 150px;">            
                                <span ng-hide="a.edi" >{{a.objfec}}</span>
                            </td>
                            <td data-title="'Responsable'" sortable="'objusu'" style="width: 25%; min-width: 150px;">
                                <span ng-hide="a.edi" >{{a.objusu.perNom}} {{a.objusu.perMat}} {{a.objusu.perPat}}</span>                                
                            </td>                                        
<!--                            <td data-title="'Documento'" sortable="'objdoc'" style="width: 10%; min-width: 50px;">
                                <span>{{o.objdoc}}</span>                                
                            </td>-->
                            <td data-title="'Tipo'" sortable="'objtip'" style="width: 10%; min-width: 50px;">        
                                <span class="label label-mini" ng-class="{'label-primary': a.objtip=='q','label-success': a.objtip=='c'}">{{a.objtip=='q'?'cualitativo':'cuantitativo'}}</span>
                            </td>                             
                        </tr>
                        </table>                
                    </div>
                </div>                
                <div class="row">                    
                    <div class="col-sm-6" style="height: 300px" align="center">
                        <canvas id="graActBarra" width="300" height="250"></canvas>
                    </div>
                    <div class="col-sm-6" style="height: 300px" align="center">
                        <canvas id="graActPie" width="300" height="250"></canvas>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center">                
                    <button type="button" class="btn btn-lg btn-success" ng-click="imprimirReporte4()"><i class="glyphicon glyphicon-print" ></i></button>                
                </div> 
            </uib-tab>    
        </uib-tabset>
    </div>    
</section>
</div></div>