<div class="row">
    
<div class="col-md-12">
<section class="panel">
    <div class="panel-body" ng-init="diseoCurricularVigente(usuMaster.organizacion.organizacionID)">
    <div class="form-panel">
        <div class="form-horizontal style-form" >
            <div align="center">
                <h1>DISTRIBUCIÓN DE HORAS</h1>
                <h4>{{plan.nombre}}</h4>
                <h5>{{disenoActual.nombre}}</h5>
            </div>              
        </div>
    </div>
    </div>
    <hr style="margin: 0;"/>    
    <div class="panel-body" >
        <div class="form-group" >
            <label class="col-sm-4 control-label" style="text-align: right">Nivel Educativo </label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="jornadaSel" ng-options="o as o.descripcion for o in plan.niveles"  ng-change="calcularMatriz(jornadaSel)"></select>                
            </div>
        </div>
        <div class="tabla-responsiva">
        <table class="table table-bordered" style="margin-top: 10px;border-spacing: 2.5px;">
        <thead>
            <tr>
                <th style="background: #e8e9f0" >GRADOS</th>
                <th style="background: #e8e9f0" class="text-center" ng-repeat="o in matris.grados" colspan="3">{{o.nombre}}</th>
                <th style="background: #e8e9f0" class="text-center" colspan="3">Totales Parciales</th>
            </tr>
            <tr>
                <th style="background: #e8e9f0" >ÁREAS CURRICULARES</th>
                <th style="background: #e8e9f0" class="text-center" ng-repeat-start="o in matris.grados" >Horas Asig.</th>
                <th style="background: #e8e9f0" class="text-center" >N° Secc.</th>
                <th style="background: #e8e9f0" class="text-center" ng-repeat-end >Total Horas</th>
                <th style="background: #e8e9f0" class="text-center" >Horas Asig.</th>
                <th style="background: #e8e9f0" class="text-center" >N° Secc.</th>
                <th style="background: #e8e9f0" class="text-center" >Total Horas</th>
            </tr>
        </thead>
        <tbody>            
            <tr ng-repeat="a in matris.gradoAreas track by $index" ng-if="a">
                <td class="text-center" style="background: #f5f6f9">
                    {{matris.areas[$index].nombre}}
                </td>            
                <td class="text-center" ng-repeat-start="o in a track by $index" >
                    <span style="display: inline-block;" >{{o.hora}}</span>
                </td>
                <td ng-if="$parent.$index==0" class="text-center" rowspan="{{matris.f}}" style="vertical-align: middle;">
                    <span style="display: inline-block;" >{{matris.grados[$index].meta}}</span>
                </td>
                <td class="text-center" style="background: #FFFDE7" ng-repeat-end>
                    <span style="display: inline-block;" title="Horas sin asignar: {{o.horaL}}
Horas asignadas: {{o.total-o.horaL}}
Docente(s): {{o.docentes}}">{{o.total}}
                    </span>
                </td>
                <td class="text-center" >
                    <span style="display: inline-block;" >{{matris.areas[$index].totalH}}</span>
                </td>
                <td ng-if="$parent.$index==0" class="text-center " rowspan="{{matris.f}}" style="vertical-align: middle;">
                    <span style="display: inline-block;" >{{matris.metas}}</span>
                </td>
                <td class="text-center" style="background:#E1F5FE" >
                    <span style="display: inline-block;" >{{matris.areas[$index].totalT}}</span>
                </td>
            </tr><tr>
                <td style="background: #e8e9f0" >total</td>
                <td style="background: #E1F5FE" class="text-center" ng-repeat-start="o in matris.grados track by $index">
                    {{o.totalH}}
                </td>
                <td style="background: #E1F5FE" class="text-center" >
                    {{o.meta}}
                </td>
                <td style="background: #FFECB3" class="text-center" ng-repeat-end>
                    {{o.totalT}}
                </td>
                <td style="background: #E1F5FE" class="text-center" >
                    {{matris.totalH}}
                </td>
                <td style="background: #E1F5FE;" class="text-center" >
                    {{matris.metas}}
                </td>
                <td style="background: #FFECB3" class="text-center" >
                    {{matris.totalT}}
                </td>
            </tr><tr>
                <td style="background: #e8e9f0" >Horas sin Asignar</td>
                <td colspan="3" class="text-center " ng-repeat="o in matris.grados track by $index">
                    <progress-bar parcial="o.totalL" total="o.totalT" tipo="h"></progress-bar>
                </td>
                <td colspan="3" class="text-center " >
                    <progress-bar parcial="matris.totalL" total="matris.totalT" tipo="h"></progress-bar>
                </td>
            </tr>
            
        </tbody>
        </table>
        </div>
    </div>
</section>
    
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">PLAZAS MAGISTERIALES</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarPlazas(usuMaster.organizacion.organizacionID)"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="listarPlazas(usuMaster.organizacion.organizacionID)">
        <div class="tabla-responsiva"><table ng-table="tablaPlazas" class="table table-striped table-hover" show-filter="true" >
            <colgroup>
                <col width="20px" /><col width="120px" /><col width="auto"/><col width="auto" /><col width="auto" /><col width="auto" /><col width="auto"/><col width="120px" /><col width="120px" /><col width="100px" />
            </colgroup>
            <tr ng-repeat="o in $data">                
                <td data-title="'N'" sortable="'i'" >{{o.i}}</td>
                <td data-title="'Código Nexus'" filter="{ nexus: 'text'}" sortable="'nexus'" style="text-align: center">{{o.nexus}}</td>
                <td data-title="'Tipo'" sortable="'tipo'" style="text-align: center">{{o.tipo}}</td>
                <td data-title="'Cargo'" filter="{ cargo: 'text'}" sortable="'cargo'" >{{o.cargo}}</td>                
                <td data-title="'Especialidad'" filter="{ especialidad: 'text'}" sortable="'especialidad'" >{{o.especialidad}}</td>
                <td data-title="'Naturaleza'" sortable="'naturalezaID'" style="text-align: center">{{o.naturalezaID}}</td>
                <td data-title="'Condición'" sortable="'condicionID'" style="text-align: center">{{o.condicionID}}</td>
                <td data-title="'Jornada'" sortable="'jornadaLaboral'" style="text-align: center">{{o.jornadaLaboral}}</td>
                <td data-title="'Estado Plaza'" sortable="" style="text-align: center" ng-mouseover="verDocenteHover(o)" ng-attr-title="{{plazaSel.titularNombre}}" >
                    <span class="label label-mini" ng-class="{'label-info': o.asignado=='Asignado','label-warning': o.asignado!='Asignado'}">
                        {{o.asignado}}
                    </span>
                </td>
                <td data-title="'Horas Dictado'" sortable="'jornadaPedagogica'" style="text-align: center">{{o.jornadaPedagogica}}</td>
                <td data-title="'Acción'" style="text-align: center;">
                    <button class="btn btn-primary btn-xs" ng-click="prepararEditar(o)" title="Editar plaza"><i class="fa fa-pencil" ></i></button>
                    <button class="btn btn-success btn-xs" ng-click="prepararAsignarDocente(o)" title="Asignar docente"><i class="fa fa-check" ></i></button>
                    <button class="btn btn-success btn-xs" ng-click="prepararAsignacion(o)" title="Ditribución de horas"><i class="fa fa-table" ></i></button>
                </td>
            </tr>
        </table></div>
        <div align="right" >
            <button class="btn btn btn-primary " ng-disabled="!jornadaSel.nivel" ng-click="prepararNuevo()"><i class="fa fa-plus" ></i> Agregar</button>
        </div>

    </div>
</section>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">PLAZA MAGISTERIAL</h4>
      </div>
      <div class="modal-body">
         <form name="nuevaPlazaForm" class="css-form" novalidate> 
        <div class="form-panel " >
            <div class="form-horizontal style-form" >
                <div class="form-group" style="font-size: 16px;">
                    <label class="col-sm-6" style="text-align: right;font-weight: 700;margin-bottom: 0;">Código Nexus</label>
                    <div class="col-sm-6">
                        <span ng-if="!nuevo">{{plazaSel.nexus}}</span>
                        <input ng-if="nuevo" name="inputCodigoNexus" type="text" class="form-control" ng-model="plazaSel.nexus" ng-change="verificarCodigoNexusExistente()" required>
                        <p ng-show="!plazaSel.nexus" class="help-block">Este campo es requerido</p>
                        <p ng-show="nuevaPlazaForm.inputCodigoNexus.$error.repetido" class="help-block">El código Nexus ya existe</p>
                    </div>
                    
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label" style="text-align: right;padding-right: 0;font-weight: 700;">Naturaleza</label>
                    <div class="col-sm-4">
                        <select class="form-control" ng-model="plazaSel.naturalezaID" ng-options="naturaleza.value as naturaleza.name for naturaleza in selectNaturaleza">
                        </select>
                    </div>
                    <label class="col-sm-2 control-label" style="text-align: right;padding-right: 0;font-weight: 700;">Condición</label>
                    <div class="col-sm-4">
                        <select class="form-control" ng-model="plazaSel.condicionID" ng-change="vacarPlaza()" ng-options="condicion.value as condicion.name for condicion in selectCondicion">
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label" style="text-align: right;padding-right: 0;font-weight: 700;">Modalidad</label>
                    <div class="col-sm-4">
                        <span class="form-control">{{plazaSel.modalidad}}</span>
                    </div>
                    <label class="col-sm-2 control-label" style="text-align: right;padding-right: 0;font-weight: 700;">Nivel</label>
                    <div class="col-sm-4">
                        <span class="form-control">{{plazaSel.nivel}}</span>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label" style="text-align: right;padding-right: 0;font-weight: 700;">Característica</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="plazaSel.caracteristica" required>
                        <p ng-show="!plazaSel.caracteristica" class="help-block">Este campo es requerido</p>
                    </div>
                    <label class="col-sm-2 control-label" style="text-align: right;padding-right: 0;font-weight: 700;">Tipo</label>
                    <div class="col-sm-4">
                        <select class="form-control" ng-model="plazaSel.tipo" ng-options="tipo.value as tipo.name for tipo in selectTipo">
                        </select>
                    </div>
                </div>                
                <div class="form-group" >
                    <label class="col-sm-2 control-label" style="text-align: right;padding-right: 0;font-weight: 700;">Cargo</label>
                    <div class="col-sm-4">
                        <select class="form-control" ng-model="plazaSel.cargo" ng-options="cargo as cargo for cargo in selectCargo">
                        </select>
                    </div>
                    <label class="col-sm-2 control-label" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Especialidad</label>
                    <div class="col-sm-4">
                        <span class="form-control">{{plazaSel.especialidad}}</span>
                    </div>                                      
                </div>                
                <div class="form-group" >
                    <label class="col-sm-2 control-label" style="text-align: right;padding-right: 0;font-weight: 700;">Jornada Laboral</label>
                    <div class="col-sm-4">
                        <input type="number" name="inputJornadaLaboral" class="form-control" ng-model="plazaSel.jornadaLaboral" ng-change="validarJornadaLaboral()" required>
                        <p ng-show="!plazaSel.jornadaLaboral" class="help-block">Este campo es requerido</p>
                        <p ng-show="nuevaPlazaForm.inputJornadaLaboral.$error.menorUno" class="help-block">Seleccione valores mayores que 0</p>
                    </div>
                    <label class="col-sm-2 control-label" style="text-align: right;padding-right: 0;font-weight: 700;">Horas Dictado</label>
                    <div class="col-sm-4">
                        <span class="form-control">{{plazaSel.jornadaPedagogica}}</span>
                    </div>
                </div>                    
                <div class="form-group" >
                    <label class="col-sm-2 control-label" style="text-align: right;padding-right: 0;font-weight: 700;"margin-bottom: 0;>Titular</label>
                    <div class="col-sm-4">
                        <span class="form-control">{{plazaSel.titular}}</span>
                    </div>  
                    <label class="col-sm-2 control-label" style="text-align: right;padding-right: 0;font-weight: 700;"margin-bottom: 0;>Código Modular</label>
                    <div class="col-sm-4">
                        <span class="form-control">{{plazaSel.codigoModular}}</span>
                    </div>            
                </div>                
                <div class="form-group" >
                    <label class="col-sm-2 control-label" style="text-align: right;padding-right: 0;font-weight: 700;"margin-bottom: 0;>Nivel Magisterial</label>
                    <div class="col-sm-4">
                        <span class="form-control">{{plazaSel.nivelMagisterial}}</span>
                    </div> 
                    <label class="col-sm-2 control-label" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Tiempo</label>
                    <div class="col-sm-4">
                        <span ></span>
                    </div>
                </div>
            </div>
        </div> 
       </form>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarPlaza(usuMaster.organizacion.organizacionID)" ng-disabled="nuevaPlazaForm.$invalid"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAsignarDocente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ASIGNAR DOCENTE</h4>
      </div>
      <div class="modal-body">
          
        <div class="form-panel " >
            <div class="form-horizontal style-form" >
                
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Buscar por:</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="busqueda.tipo" ng-value="'DNI'">DNI</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="busqueda.tipo" ng-value="'codigo'">Código Modular</label>
                        </div>                        
                    </div>
                </div>                
                <div class="form-group" >
                    <div class="col-sm-offset-2 col-sm-8"><div class="input-group m-bot15">
                            <input type="text" class="form-control " ng-keyup="plazaSel.docenteID=null;plazaSel.titular=null" style="text-align: center;" ng-model="busqueda.valor" >
                        <span class="input-group-btn">
                          <button class="btn btn-success " type="button" ng-click="buscarDocente()">Buscar</button>
                        </span>
                    </div></div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <label>Docente:</label>
                        <input type="text" name="docente" id="docente" ng-model="docente" ng-keyup="busquedaAutocompletado(docente)" placeholder="Escriba nombre del docente..." class="form-control" />
                        <ul class="list-group" ng-hide="hideinfo">
                            <li class="list-group-item list-group-item-success" ng-repeat="docenteinfo in search_docente" ng-click="escogerDocente(docenteinfo)">{{docenteinfo.nombre}}</li>
                        </ul>
                        <br/>
                    </div>
                </div>
                
                <div class="form-group" >
                    <div class="col-sm-offset-2 col-sm-8">
                        <span class="form-control " style="text-align: center;font-weight: bold">{{plazaSel.titular}}</span>
                    </div>
                </div>
                
            </div>
        </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-disabled="!plazaSel.docenteID" ng-click="asignarDocente()"><i class="fa fa-save" ></i> Asignar Docente</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAsignacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">PLAZA MAGISTERIAL</h4>
      </div>
      <div class="modal-body">
          
          
        <div class="form-panel alert-info" style="padding: 8px 16px">
            <div class="form-horizontal style-form" >
                <div class="form-group" style="font-size: 16px;">
                    <label class="col-sm-6" style="text-align: right;font-weight: 700;margin-bottom: 0;">Código Nexus</label>
                    <div class="col-sm-6">
                        <span >{{plazaSel.nexus}}</span>
                    </div>
                    
                </div>
                <div class="form-group" >
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Naturaleza</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.naturalezaID}}</span>
                    </div>
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Condición</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.condicionID}}</span>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Modalidad</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.modalidad}}</span>
                    </div>
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Nivel</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.nivel}}</span>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Característica</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.caracteristica}}</span>
                    </div>
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Tipo</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.tipo}}</span>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Cargo</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.cargo}}</span>
                    </div>
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Especialidad</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.especialidad}}</span>
                    </div>                                      
                </div>
                <div class="form-group" >
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Jornada Laboral</label>
                    <div class="col-sm-4">
                        <span style="font-size: 14px">{{plazaSel.jornadaLaboral}}</span>
                    </div>
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Horas Dictado</label>
                    <div class="col-sm-4">
                        <span style="font-size: 14px">{{plazaSel.jornadaPedagogica}}</span>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Titular</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.titular}}</span>
                    </div>  
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Código Modular</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.codigoModular}}</span>
                    </div>                   
                                      
                </div>
                <div class="form-group" >
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Nivel Magisterial</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.nivelMagisterial}}</span>
                    </div>  
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Tiempo</label>
                    <div class="col-sm-4">
                        <span ></span>
                    </div>
                </div>                
                
            </div>
        </div><br/>
        <div class="form-panel">
            <div style="text-align: center"><strong>DISTRIBUCIÓN DE HORAS POR GRADO</strong></div>
            <div class="tabla-responsiva" style="max-height: 190px;border-top: 2px solid #ddd;margin-bottom: 0px;">
            <table class="table peque" style="margin-bottom: 0">
                <thead>
                <tr>
                    <th style="width:15px;">#</th><th style="width:auto;text-align: center">Grado</th><th ng-if="disHoras" style="width:30%;text-align: center">Área</th><th style="width:100px;text-align: center">Horas Totales</th><th style="width:100px;text-align: center">Hora Disponibles</th><th style="width:100px;text-align: center">Hora Asignadas</th><th style="width:55px">Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in plazaSel.distribucion">
                    <td>{{$index +1}}</td>
                    <td style="text-align: center">
                        <span ng-hide="d.edi" >{{d.g.abreviacion}}</span>
                        <span ng-show="d.edi" ><select class="form-control input-table" ng-model="d.copia.g" ng-options="g as g.abreviacion for g in matris.grados"></select></span>
                    </td>
                    <td ng-if="disHoras" style="text-align: center">
                        <span ng-hide="d.edi" >{{d.a.nombre}}</span>
                        <span ng-show="d.edi" ><select class="form-control input-table" ng-model="d.copia.a" ng-options="a as a.nombre for a in matris.areas"></select></span>
                    </td>
                    <td style="text-align: center">
                        <span ng-if="disHoras" ng-hide="d.edi" >{{matris.gradoAreas[d.a.i][d.g.i].total}}</span>
                        <span ng-if="!disHoras" ng-hide="d.edi">{{matris.grados[d.g.i].totalT}}</span>
                        <span ng-if="disHoras" ng-show="d.edi" >{{matris.gradoAreas[d.copia.a.i][d.copia.g.i].total}}</span>
                        <span ng-if="!disHoras" ng-show="d.edi">{{matris.grados[d.copia.g.i].totalT}}</span>
                    </td>
                    <td style="text-align: center">
                        <span ng-if="disHoras" ng-hide="d.edi" >{{matris.gradoAreas[d.a.i][d.g.i].horaL}}</span>
                        <span ng-if="!disHoras" ng-hide="d.edi">{{matris.grados[d.g.i].totalL}}</span>
                        <span ng-if="disHoras" ng-show="d.edi" >{{matris.gradoAreas[d.copia.a.i][d.copia.g.i].horaL}}</span>
                        <span ng-if="!disHoras" ng-show="d.edi">{{matris.grados[d.copia.g.i].totalL}}</span>
                    </td>
                    <td style="text-align: center">
                        <span ng-hide="d.edi" >{{d.hora}}</span>
                        <span ng-show="d.edi" ><input type="number" style="width: 100%;" ng-model="d.copia.hora" ></span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="editarDis($index,d)" title="Editar"><i class="fa" ng-class="{'fa-check':d.edi,'fa-pencil':!d.edi}" ></i></button>
                        <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!d.edi}" ng-click="eliminarDis($index,d)" title="Eliminar"><i class="fa" ng-class="{'fa-times':d.edi,'fa-trash-o':!d.edi}"></i></button>
                    </td>
                </tr>                  
                </tbody>
            </table></div>
            <table class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
                <tr>
                    <td style="width:15px">+</td>
                    <td style="width:auto">
                        <select class="form-control input-table" ng-model="dis.g" ng-options="g as g.abreviacion for g in gradosEnDistribucion" ng-change="changeGradoEnDistribucion()"></select>                                        
                    </td>
                    <td ng-if="disHoras" style="width:30%">

                        <select class="form-control input-table" ng-model="dis.a" ng-options="a as a.nombre for a in areasEnDistribucion" ng-change="()" ng-disabled="showAreasEnDistribucion" ></select>
                    </td>
                    <td style="width:100px;text-align: center">
                        <span ng-if="disHoras">{{matris.gradoAreas[dis.a.i][dis.g.i].horaL}}</span>
                        <span ng-if="!disHoras">{{matris.grados[dis.g.i].totalL}}</span>
                    </td>
                    <td style="width:100px">
                        <input type="number" ng-model="dis.hora" class="form-control input-table" ng-change="validarHorasAsignadas()">
                    </td>
                    <td style="width:55px">
                        <button class="btn btn-success btn-xs" ng-click="agregarDis()" title="Agregar distribución de hora"><i class="fa fa-plus" ></i></button>
                        <button type="button" class="btn btn-xs" ng-click="dis = {hora:0};" title="Cancelar"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
            </table>
            <br/>
            <div class="form-horizontal style-form" >
            <div class="form-group" >
                <label class="col-sm-6 control-label">Horas Dictado</label>
                <div class="col-sm-6">
                    <span style="font-size: 16px;padding-top: 3px;">{{plazaSel.jornadaPedagogica}}</span>
                </div>
            </div>
            </div>
        </div>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Cerrar</button>
        <button type="button" class="btn btn-primary" ng-disabled="plazaSel.distribucion.length<=0" ng-click="guardarDistribucion()"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalAsignacion2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">PLAZA MAGISTERIAL</h4>
      </div>
      <div class="modal-body">
          
          
        <div class="form-panel alert-info" style="padding: 8px 16px">
            <div class="form-horizontal style-form" >
                <div class="form-group" style="font-size: 16px;">
                    <label class="col-sm-6" style="text-align: right;font-weight: 700;margin-bottom: 0;">Codigo Nexus</label>
                    <div class="col-sm-6">
                        <span >{{plazaSel.nexus}}</span>
                    </div>
                    
                </div>
                <div class="form-group" >
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Naturaleza</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.naturalezaID}}</span>
                    </div>
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Condicion</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.condicionID}}</span>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;"margin-bottom: 0;>Modalidad</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.modalidad}}</span>
                    </div>
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Nivel</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.nivel}}</span>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;"margin-bottom: 0;>Caracteristica</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.caracteristica}}</span>
                    </div>
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Tipo</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.tipo}}</span>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;"margin-bottom: 0;>Titular</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.nexus}}</span>
                    </div>
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Cargo</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.cargo}}</span>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;"margin-bottom: 0;>Codigo Modular</label>
                    <div class="col-sm-4">
                        <span ></span>
                    </div>
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;"margin-bottom: 0;>Nivel Magisterial</label>
                    <div class="col-sm-4">
                        <span ></span>
                    </div>                    
                </div>
                <div class="form-group" >
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Especialidad</label>
                    <div class="col-sm-4">
                        <span >{{plazaSel.especialidad}}</span>
                    </div>
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Tiempo</label>
                    <div class="col-sm-4">
                        <span ></span>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Jornada Laboral</label>
                    <div class="col-sm-4">
                        <span style="font-size: 14px">{{plazaSel.jornadaLaboral}}</span>
                    </div>
                    <label class="col-sm-2" style="text-align: right;padding-right: 0;font-weight: 700;margin-bottom: 0;">Horas Dictado</label>
                    <div class="col-sm-4">
                        <span style="font-size: 14px">{{plazaSel.jornadaPedagogica}}</span>
                    </div>
                </div>
                
            </div>
        </div><br/>
        <div class="form-panel">
            <div style="text-align: center"><strong>DISTRIBUCION DE HORAS</strong></div>
            <div class="tabla-responsiva" style="max-height: 190px;border-top: 2px solid #ddd;margin-bottom: 0px;">
            <table class="table peque" style="margin-bottom: 0">
                <thead>
                <tr>
                    <th style="width:15px;">#</th><th style="width:60px;text-align: center">Grado</th><th style="width:30%;text-align: center">Area</th><th>Secciones</th><th style="width:55px">Accion</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="g in plazaSel.distribucion">
                    <td>{{$index +1}}</td>
                    <td>
                        <span ng-hide="g.edi" >{{g.grado}}</span>
                        <span ng-show="g.edi" ><select class="form-control input-table" ng-model="g.copia.gradoID" ng-options="g.gradoID as g.abreviacion for g in matris.grados"></select></span>
                    </td>
                    <td>
                        <span ng-hide="g.edi" >{{g.area}}</span>
                        <span ng-show="g.edi" ><select class="form-control input-table" ng-model="g.copia.areaID" ng-options="a.areaID as a.nombre for a in matris.areas"></select></span>
                    </td>
                    <td style="display: flex">
                        <div ng-repeat="s in g.secciones" style="margin: 0 2px;"><div class="input-group input-group-sm">
                            <span class="input-group-addon btn-success">{{s.sec}}</span>
                            <input type="number" ng-model="s.hora" class="form-control" style="width: 45px;padding: 2px;">
                        </div></div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="editarDis($index,g)"><i class="fa" ng-class="{'fa-check':g.edi,'fa-pencil':!g.edi}" ></i></button>
                        <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!r.edi}" ng-click="eliminarRuta($index,g,true)"><i class="fa" ng-class="{'fa-times':g.edi,'fa-trash-o':!g.edi}"></i></button>
                    </td>
                </tr>                  
                </tbody>
            </table></div>
            <table class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
                <tr>
                    <td style="width:15px">+</td>
                    <td style="width:60px">
                        <select class="form-control input-table" ng-model="dis.gradoID" ng-options="g.gradoID as g.abreviacion for g in matris.grados"></select>                                        
                    </td>
                    <td style="width:30%">
                        <select class="form-control input-table" ng-model="dis.areaID" ng-options="a.areaID as a.nombre for a in matris.areas"></select>
                    </td>
                    <td style="width:auto">
                        <button class="btn btn-success btn-xs" ng-click="agregarDis()" title="aÃ±adir distribucion de hora"><i class="fa fa-plus" ></i></button>
                    </td>
                </tr>
            </table>
        </div>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarArea()"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

