<div class="row">
    
<div class="col-md-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">HORARIO ESCOLAR</h4>
    </header>
    <div class="panel-body" ng-init="diseoCurricularVigente(usuMaster.organizacion.organizacionID)">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
            <div class="form-group" >
                <label class="col-sm-2 control-label">Nivel</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="jornadaSel" ng-options="o as o.descripcion for o in plan.niveles"  ng-change="calcularGrados(jornadaSel)"></select>
                </div>
                <label class="col-sm-2 control-label">Grado</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="gradoSel" ng-options="g as g.nombre for g in grados" ng-change="calcularSecciones(gradoSel)"></select>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Seccion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="seccionSel" ng-options="o.seccionID as o.seccionID for o in gradoSel.secciones" ng-change="buscarHorario()"></select>
                </div>
                <label class="col-sm-2 control-label">Hora Inicio</label>
                <div class="col-sm-4">
                    <input type="time" class="form-control" ng-model="horario.hora" ng-change="cambiarInicio()">
                </div>
            </div>
            <div ng-if="!horario.horarioID" class="form-group" align="center">
                <button ng-disabled="!seccionSel" class="btn btn btn-primary" ng-click="crearHorario()"><i class="fa fa-plus" ></i> Crear Horario</button>
            </div>
            </div>
        </div>
        
        <div class="tabla-responsiva">
        <div class="col-sm-3" style="padding-left: 0">
        <table class="table table-border" style="margin-top: 10px;border-spacing: 1px;">
        <thead>
            <tr>
                <th >AREAS</th>
                <th class="text-center" >Horas</th>
                <th class="text-center" >Estado</th>
            </tr>
        </thead>
        <tbody>            
            <tr ng-repeat="a in areas track by $index" >
                <td class="text-center">
                    {{a.nombre}}
                </td>
                <td class="text-center">
                    {{a.horaT}}
                </td>
                <td class="text-center">
                    <progress-bar parcial="a.hora" total="a.horaT" tipo="h"></progress-bar>
                </td>
            </tr>
        </tbody>
        </table></div>
        <div class="col-sm-9" style="padding-right: 0">
        <table class="table table-invoice peque" style="margin-top: 10px;border-spacing: 2.5px;">
        <thead>
            <tr>
                <th class="text-center" style="width: 150px">Hora</th>
                <th class="text-center" >Lunes</th>
                <th class="text-center" >Martes</th>
                <th class="text-center" >Miercoles</th>
                <th class="text-center" >Jueves</th>
                <th class="text-center" >Viernes</th>
                <th class="text-center" >Sabado</th>
            </tr>
        </thead>
        <tbody>            
            <tr ng-repeat="h in horario.horas track by $index" >
                <td class="text-center areaSel" style="background: #FFFDE7">
                    <span ng-hide="h.edi" ng-click="editarHora(h)">{{h.horaA}} - {{h.hora}}</span>
                    <span ng-if="h.edi" >
                        <input type="number" ng-model="h.copia.horaF" min="{{h.horaI}}" max="23" style="width: 35px" /> :
                        <input type="number" ng-model="h.copia.minutoF" min="0" max="59" style="width: 35px"/>
                        <button type="button" class="btn btn-primary btn-xs" style="margin-left: 2px" ng-click="editarHora(h,$index)" title="cambiar nnumero de alumnos"><i class="fa fa-check"></i></button>
                        <button type="button" class="btn btn-xs" ng-click="h.edi=false" title="cancelar"><i class="fa fa-times"></i></button>
                    </span>
                </td>
                <td class="text-center areaSel" style="background: {{d.ocupado?'#FFECB3':''}}" ng-repeat="d in h.dias track by $index" ng-click="prepararAsignacion(d,$parent.$index,$index)">
                    <span style="display: inline-block;" >{{d.area}}</span>
                </td>
            </tr>
            
        </tbody>
        </table>
        </div>
        </div>
        
    </div>
</section>
    

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalHora" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top: calc( 50% - 112.5px)">
  <div class="modal-dialog" style="max-width: 600px;width: 100%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Asignacion de area</h4>
      </div>
        <div class="modal-body"><div class="form-panel">
          
          <div class="form-horizontal style-form" >
            <div class="form-group" align="center">
                <span class="col-sm-12">{{diaSel.dia}} {{diaSel.horaInicio}} - {{diaSel.horaFin}}</span>
            </div>
            <div class="form-group" >
                <label class="col-sm-3 control-label">Area</label>
                <div class="col-sm-7">
                    <select class="form-control" ng-model="diaSel.areaID" ng-change="checkAreaDocente()">
                        <option ng-show="o.hora" ng-repeat="o in areas" value="{{o.areaID}}">{{o.nombre}}</option>
                    </select>
                </div>
                
            </div>
            <div class="form-group" >
                <label class="col-sm-3 control-label">Docente</label>
                <div class="col-sm-7">
                    <select class="form-control" ng-model="diaSel.plazaID">
                        <option ng-hide="o.hora == o.horasAsignadas" ng-repeat="o in plazasSel" value="{{o.plazaID}}"> {{o.docente}}</option>
                    </select>
                </div>
                
            </div>
            <div class="form-group" >
                <label class="col-sm-3 control-label">Aula</label>
                <div class="col-sm-7">
                    <select class="form-control" ng-model="diaSel.aulaID" ng-options="o.amb_id as o.amb_des for o in aulas"></select>
                </div>
                
            </div>
          </div>
        
        </div></div>
        <div class="modal-footer" align="center">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button ng-if="diaSel.ocupado" type="button" class="btn btn-danger" ng-click="desasignarHora()"><i class="fa fa-save" ></i> Borrar Asignacion</button>
            <button type="button" class="btn btn-primary" ng-click="asignarHora()"><i class="fa fa-save" ></i> Asignar Hora</button>
        </div>
  </div>
</div>
