<div class="row">

    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body" ng-init="diseoCurricularVigente(usuMaster.organizacion.organizacionID)">
                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <div align="center">
                            <h1>PLAN DE ESTUDIOS</h1>

                            <h4>{{disenoActual.nombre}}</h4>
                            <h5>{{disenoActual.resolucion}}</h5>
                        </div>
                        <hr/>
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">NOMBRE DEL AÑO ACADEMICO</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="plan.nombre">
                            </div>
                        </div>
                        <label>NIVELES EDUCATIVOS</label>
                        <div class="tabla-responsiva">
                            <table class="table table-bordered peque" style="margin-bottom: 0;">
                                <thead>
                                    <tr>
                                        <th style="width:15%;">Nivel</th><th style="width:15%;">Jornada</th><th style="width:15%;">Turno</th><th style="width:15%;">Periodo</th><th style="width:auto;">Descripcion</th><th style="width:55px">Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="o in plan.niveles">
                                        <td >
                                            <span ng-hide="o.edi" >{{o.nivel}}</span>
                                            <span ng-show="o.edi" ><select class="form-control input-table" ng-model="o.copia.nivelID" ng-options="o.nivelID as o.nombre for o in disenoActual.niveles"></select></span>
                                        </td>
                                        <td >
                                            <span ng-hide="o.edi" >{{o.jornada}}</span>
                                            <span ng-show="o.edi" ><select class="form-control input-table" ng-model="o.copia.jornadaID" ng-options="o.jornadaID as o.nombre for o in disenoActual.jornadas"></select></span>
                                        </td>
                                        <td >
                                            <span ng-hide="o.edi" >{{o.turno}}</span>
                                            <span ng-show="o.edi" ><select class="form-control input-table" ng-model="o.copia.turnoID" ng-options="o.turnoID as o.nombre for o in turnos"></select></span>
                                        </td>
                                        <td >
                                            <span ng-hide="o.edi" >{{o.periodo}}</span>
                                            <span ng-show="o.edi" ><select class="form-control input-table" ng-model="o.copia.periodoID" ng-options="o.periodoID as o.nombre for o in periodos"></select></span>
                                        </td>
                                        <td  style="word-break: break-all;">
                                            <span >{{o.descripcion}}</span>
                                        </td>
                                        <td >
                                            <div >                              
                                                <button type="button" class="btn btn-primary btn-xs" ng-click="editarNivel($index, o)"><i class="fa" ng-class="{'fa-check':o.edi,'fa-pencil':!o.edi}" ></i></button>
                                                <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!o.edi}" ng-click="eliminarPlanNivel($index, o.planNivelID)"><i class="fa" ng-class="{'fa-times':o.edi,'fa-trash-o':!o.edi}"></i></button>                          
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
                                <tr>
                                    <td style="width:15%">
                                        <select class="form-control input-table" ng-model="nivel.nivelID" ng-options="o.nivelID as o.nombre for o in disenoActual.niveles" ng-change="buscarJornada()"></select>
                                    </td>
                                    <td style="width:15%">
                                        <select class="form-control input-table" ng-model="nivel.jornadaID" ng-options="o.jornadaID as o.nombre for o in nivel.jornadas"></select>
                                    </td>
                                    <td style="width:15%">
                                        <select class="form-control input-table" ng-model="nivel.turnoID" ng-options="o.turnoID as o.nombre for o in turnos"></select>
                                    </td>
                                    <td style="width:15%">
                                        <select class="form-control input-table" ng-model="nivel.periodoID" ng-options="o.periodoID as o.nombre for o in periodos"></select>
                                    </td>          
                                    <td style="width:auto;"></td>
                                    <td style="width:55px">
                                        <button class="btn btn-success btn-xs" ng-disabled="!nivel.jornadaID || !nivel.turnoID || !nivel.periodoID" ng-click="agregarNivel()" title="agregar nivel"><i class="fa fa-plus" ></i></button>
                                        <button type="button" class="btn btn-xs" ng-click="nivel = {};" title="cancelar"><i class="fa fa-times"></i></button>
                                    </td>
                                </tr>                      
                            </table>
                        </div>

                    </div>
                </div>
                <div align="center">
                    <button ng-if="!plan.planID" class="btn btn btn-primary btn-sm" ng-click="registrarPlan(usuMaster.organizacion.organizacionID)"><i class="fa fa-plus" ></i> Iniciar Plan de Estudios</button>
                </div>
            </div>
        </section>

        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">CUADRO METAS DE ATENCION</h4>
            </header>
            <div class="panel-body">
                <div class="tabla-responsiva" ng-repeat="nivel in matriz track by $index">
                    <table class="table table-bordered" style="margin-top: 0px;border-bottom:none">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="7">
                                    Nivel <b style="text-transform: uppercase;">"{{nivel.nivel}}"</b> de EBR</th>
                            </tr>
                            <tr>
                                <th class="text-center" style="width: 8%;background: #e8e9f0">TURNO</th>
                                <th class="text-center" style="width: 12%;background: #e8e9f0">JORNADA</th>
                                <th class="text-center" style="width: 20%;background: #e8e9f0">GRADO</th>
                                <th class="text-center" style="width: 15%;background: #e8e9f0">N° SECCIONES</th>
                                <th class="text-center" style="width: 15%;background: #e8e9f0">N° ALUMNOS</th>
                                <th class="text-center" style="width: 15%;background: #e8e9f0" title="N° de horas clase minimas segun plan de Estudio * N° Secciones" >HORAS CLASE</th>
                                <th class="text-center" style="width: 15%;background: #e8e9f0" title="N° de Alumnos / N° de Secciones">CARGA DOCENTE</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="turno in nivel.turnos track by $index">
                            <tr ng-repeat="g in turno.grados track by $index">
                                <td ng-if="$index == 0" rowspan="{{turno.r}}" style="background: #f5f6f9;text-align: center;vertical-align: middle">
                                    <span style="writing-mode: tb-rl;-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);-o-transform: rotate(-180deg);-ms-transform: rotate(-180deg);transform: rotateZ(-180deg);">{{turno.turno}}</span>
                                </td>
                                <td class="text-center" ng-if="$index == 0" rowspan="{{turno.r - 1}}" >
                                    <span style="display: block">{{turno.jornada}}</span>
                                    <span style="font-size: 26px">{{turno.hTotal}}</span> Hr.
                                </td>
                                <td class="text-center" style="background: #f5f6f9;vertical-align: middle">
                                    <span  style="display: inline-block;" >{{g.grado}}</span>
                                </td>
                                <td class="text-center areaSel">
                                    <span ng-hide="g.seccionesEdi != null " style="display: inline-block;" ng-click="editarSecciones(g)">{{g.secciones}}</span>
                                    <span ng-show="g.seccionesEdi != null || g.seccionesEdi==-1">
                                        <input type="number" ng-model="g.seccionesEdi" style="width: 50px;" min="0"/>
                                        <button type="button" class="btn btn-primary btn-xs" style="margin-left: 2px" ng-click="editarSecciones(g, $index)" title="cambiar numero de secciones"><i class="fa fa-check"></i></button>
                                        <button type="button" class="btn btn-xs" ng-click="g.seccionesEdi = null" title="cancelar"><i class="fa fa-times"></i></button>
                                    </span>
                                </td>
                                <td class="text-center areaSel">
                                    <span ng-hide="g.alumnosEdi != null" style="display: inline-block;" ng-click="editarAlumnos(g)">{{g.alumnos}}</span>
                                    <div ng-show="g.alumnosEdi != null">
                                        <input type="number" ng-model="g.alumnosEdi" style="width: 50px;" min="0"/>
                                        <button type="button" class="btn btn-primary btn-xs" style="margin-left: 2px" ng-click="editarAlumnos(g, $index)" title="cambiar nnumero de alumnos"><i class="fa fa-check"></i></button>
                                        <button type="button" class="btn btn-xs" ng-click="g.alumnosEdi = null" title="cancelar"><i class="fa fa-times"></i></button>
                                    </div>
                                </td>
                                <td class="text-center" style="background: #FFFDE7" title=" N° Hrs clase Minimo ({{turno.hTotal}}) * N° de Secciones ({{g.secciones}})" >
                                    <span  style="display: inline-block;" >{{g.horas}}</span>
                                </td>
                                <td class="text-center" style="background: #FFFDE7">
                                    <span  style="display: inline-block;" title="N° de Alumnos ({{g.alumnos}}) / N° de Secciones ({{g.secciones}})">{{g.carga}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center" style="background: #f5f6f9">
                                    <span  style="display: inline-block;" >TOTAL</span>
                                </td>
                                <td class="text-center" style="background: #E1F5FE">
                                    <span  style="display: inline-block;" >{{turno.secciones}}</span>
                                </td>
                                <td class="text-center" style="background: #E1F5FE" >
                                    <span  style="display: inline-block;" >{{turno.alumnos}}</span>
                                </td>
                                <td class="text-center" style="background: #E1F5FE">
                                    <span  style="display: inline-block;" >{{turno.horas}}</span>
                                </td>
                            </tr>
                        </tbody>
                        <tr >
                            <td class="text-center" colspan="3" style="background: #e8e9f0">
                                <span  style="display: inline-block;" ng-click="editarGradoArea(o)">TOTAL</span>
                            </td>
                            <td class="text-center" style="background: #FFECB3">
                                <span  style="display: inline-block;" ng-click="editarGradoArea(o)">{{nivel.secciones}}</span>
                            </td>
                            <td class="text-center" style="background: #FFECB3">
                                <span  style="display: inline-block;" ng-click="editarGradoArea(o)">{{nivel.alumnos}}</span>
                            </td>
                            <td class="text-center" style="background: #FFECB3">
                                <span  style="display: inline-block;" ng-click="editarGradoArea(o)">{{nivel.horas}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <button class="btn btn-success pull-right" 
                        ng-click="iniciarProcesoMatriculas();">
                    <i class="fa fa-star "> Iniciar Proceso de Matriculas</i>
                </button>
            </div>

        </section>
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">HORAS LIBRE DISPONIBILIDAD</h4>
            </header>
            <div class="panel-body" >
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nivel Educativo</label>
                    <div class="col-sm-4">
                        <select class="form-control" ng-model="jornadaSel" ng-options="o as o.descripcion for o in plan.niveles"  ng-change="calcularMatriz2(jornadaSel)"></select>                
                    </div>
                    <label class="col-sm-2 control-label">Horas Libre Disponibilidad:</label>
                    <div class="col-sm-1">
                        <span class="form-control">{{jornadaSel.hLibre}}</span>
                    </div>
                    <label class="col-sm-2 control-label">Total Horas:</label>
                    <div class="col-sm-1">
                        <span class="form-control">{{jornadaSel.hTotal}}</span>
                    </div>
                </div>
                <div class="tabla-responsiva">
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <th style="width: 20%;background: #e8e9f0" colspan="2">NIVEL</th>
                                <th class="text-center" style="background: #e8e9f0" colspan="{{matris2.c}}">{{jornadaSel.nivel}}</th>
                            </tr>
                            <tr>
                                <th style="background: #e8e9f0" colspan="2">GRADOS</th>
                                <th style="background: #f5f6f9" class="text-center" ng-repeat="o in matris2.grados">{{o.nombre}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in matris2.gradoAreas track by $index" ng-if="a">
                                <td ng-if="$index == matris2.ini" rowspan="{{matris2.f}}" style="background: #e8e9f0;text-align: center;vertical-align: middle;font-weight: bold">
                                    <span style="writing-mode: tb-rl;-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);-o-transform: rotate(-180deg);-ms-transform: rotate(-180deg);transform: rotateZ(-180deg);">AREAS CURRICULARES</span>
                                </td>
                                <td class="text-center" style="background: #f5f6f9;vertical-align: middle">
                                    {{disenoActual.areas[$index].nombre}}
                                </td>
                                <td class="text-center" ng-repeat="o in a track by $index" ng-class="{'areaSel':o,'areaNoSel':!o}">
                                    <span ng-hide="o.edi" style="display: inline-block;" ng-click="jornadaSel.hLibre?editarAreaHora(o):true">{{o.hora}} {{o.horaL?'+ '+o.horaL+' HLD':''}}</span>
                                    <span ng-show="o.edi" >
                                        <input type="number" ng-model="o.copia.horaL" style="width: 50px;" min="0"/>
                                        <button type="button" class="btn btn-primary btn-xs" ng-click="agregarHoraDisponible(o, jornadaSel, $index)"><i class="fa fa-check" ></i></button>
                                        <button type="button" class="btn btn-xs" ng-click="editarAreaHora(o)"><i class="fa fa-times"></i></button>
                                    </span>
                                </td>
                            </tr>
                            <tr ng-repeat="a in matris2.gradoTalleres track by $index" ng-if="a">
                                <td ng-if="$index == matris2.ini2" rowspan="{{matris2.f2}}" style="background: #e8e9f0;text-align: center;vertical-align: middle;font-weight: bold">
                                    <span style="writing-mode: tb-rl;-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);-o-transform: rotate(-180deg);-ms-transform: rotate(-180deg);transform: rotateZ(-180deg);">TALLERES</span>
                                </td>
                                <td class="text-center" style="background: #f5f6f9">
                                    {{disenoActual.areas[$index].nombre}}
                                </td>
                                <td class="text-center" ng-repeat="o in a track by $index" ng-class="{'areaSel':o,'areaNoSel':!o}">
                                    <span ng-hide="o.edi" style="display: inline-block;" ng-click="jornadaSel.hLibre?editarAreaHora(o):true">{{o.horaL?'+ '+o.horaL+' HLD':''}}</span>
                                    <span ng-show="o.edi" >
                                        <input type="number" ng-model="o.copia.horaL" style="width: 50px;" min="0"/>
                                        <button type="button" class="btn btn-primary btn-xs" ng-click="agregarHoraDisponible(o, jornadaSel, $index)"><i class="fa fa-check" ></i></button>
                                        <button type="button" class="btn btn-xs" ng-click="editarAreaHora(o)"><i class="fa fa-times"></i></button>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background: #f5f6f9" colspan="2">horas tutoria</td>
                                <td style="background: #F1F8E9" class="text-center" ng-repeat="o in matris2.grados track by $index">
                                    {{jornadaSel.hTutoria}}
                                </td>
                            </tr><tr>
                                <td style="background: #f5f6f9" colspan="2">horas obligatorias</td>
                                <td style="background: #E1F5FE" class="text-center" ng-repeat="o in matris2.grados track by $index">
                                    {{o.total}}
                                </td>
                            </tr><tr>
                                <td style="background: #f5f6f9" colspan="2">horas libre disponibilidad</td>
                                <td style="background: #FFFDE7" class="text-center" ng-repeat="o in matris2.grados track by $index">
                                    {{o.totalL}}
                                </td>
                            </tr><tr>
                                <td style="background: #e8e9f0" colspan="2" class="text-right">TOTAL :</td>
                                <td style="background: #FFECB3" class="text-center" ng-repeat="o in matris2.grados track by $index">
                                    {{jornadaSel.hTutoria + o.total + o.totalL}}
                                </td>
                            </tr>
                            <tr >
                                <th colspan="2">TALLERES</th>
                                <th class="text-center" colspan="{{matris2.c}}" style="min-width:300px;">
                                    <select class="form-control input-table" ng-model="gradoTaller.grado" ng-options="o as o.nombre for o in matris2.grados" style="width: calc( 50% - 55px);display: inline-block;"></select>
                                    <select class="form-control input-table" ng-model="gradoTaller.area" ng-options="o as o.nombre for o in disenoActual.talleres" style="width: calc( 50% - 55px );display: inline-block;"></select>
                                    <input type="number" ng-model="gradoTaller.horaL" style="width: 50px;" min="0"/>
                                    <button class="btn btn-success btn-xs" ng-click="agregarGradoTaller(jornadaSel)" title="agregar taller al grado"><i class="fa fa-plus" ></i></button>
                                    <button type="button" class="btn btn-xs" ng-click="gradoTaller = {};" title="cancelar"><i class="fa fa-times"></i></button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
