<div class="modal"  id="modalAgregarPlantilla">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Nombre: </label>
                            <div class="col-sm-7">
                                <input ng-hide="!accionPFM" type="text" class="form-control" placeholder="Nombre" ng-model="nuevaPlantilla.plaNom">
                                <input ng-hide="accionPFM" type="text" class="form-control" placeholder="Nombre" ng-model="plantillaSel.plaNom">
                            </div>
                        </div> 

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Código: </label>
                            <div class="col-sm-7">
                                <input ng-hide="!accionPFM" type="text" class="form-control" placeholder="Código" ng-model="nuevaPlantilla.plaCod">
                                <input ng-hide="accionPFM" type="text" class="form-control" placeholder="Código" ng-model="plantillaSel.plaCod">
                            </div>
                        </div> 
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Descripción: </label>
                            <div class="col-sm-7">
                                <textarea ng-hide="!accionPFM" type="text" class="form-control" placeholder="Descripción" ng-model="nuevaPlantilla.plaDes"></textarea>
                                <textarea ng-hide="accionPFM" type="text" class="form-control" placeholder="Descripción" ng-model="plantillaSel.plaDes"></textarea>
                            </div>
                        </div>
                    </form>       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal"><i class="fa fa-close"></i>Cancelar</button>
                <span ng-hide="!accionPFM"><button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="agregarPlantilla()"><i class="fa fa-cog"></i> Crear Plantilla</button></span>
                <span ng-hide="accionPFM"><button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarPlantilla()"><i class="fa fa-floppy-o"></i> Guardar Datos</button></span>
            </div>
        </div>
    </div>
</div>       

