<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4><span style="text-align: center">PLANTILLA: {{plantillaNom}}</span></h4>
            </header>
            <div class="panel-body">
                <uib-tabset id="tabConfiguracionPlantilla" justified="true">
                    <uib-tab index="0" heading="Niveles de Avance"> 
                        <br>
                        <div style="text-align: right">
                            <button type="button" class="btn btn-info" ng-click="prepararVisualizacionPlantilla()"><i class="glyphicon glyphicon-file"></i> Ver plantilla</button>
                        </div>
                        <br>
                        <div class="panel panel-primary">
                            <div class="panel-heading">Nuevo nivel de avance</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <input ng-hide="!accionValoracionInd" class="form-control" ng-model="nuevaValoracionInd.valIndNom" placeholder="Nombre">
                                        <input ng-hide="accionValoracionInd" class="form-control" ng-model="valoracionIndSel.valIndNom" placeholder="Nombre">
                                    </div>
                                    <div class="col-sm-7">
                                        <textarea ng-hide="!accionValoracionInd" class="form-control" rows="1" ng-model="nuevaValoracionInd.valIndDes" placeholder="Descripción"></textarea>
                                        <textarea ng-hide="accionValoracionInd" class="form-control" rows="1" ng-model="valoracionIndSel.valIndDes" placeholder="Descripción"></textarea>
                                    </div>
                                    <div class="col-sm-2">
                                        <input ng-hide="!accionValoracionInd" type="number" class="form-control" ng-model="nuevaValoracionInd.valIndPun" placeholder="Puntaje">
                                        <input ng-hide="accionValoracionInd" type="number" class="form-control" ng-model="valoracionIndSel.valIndPun" placeholder="Puntaje">
                                    </div>
                                </div>
                                <br>
                                <div style="text-align: center">
                                    <span ng-hide="!accionValoracionInd"><button class="btn btn-success btn-sm" ng-click="agregarValoracionInd()"><i class="glyphicon glyphicon-plus" ></i> Nivel de Avance</button></span>
                                    <span ng-hide="accionValoracionInd"><button class="btn btn-success btn-sm" ng-click="actualizarValoracionInd()"><i class="glyphicon glyphicon-floppy-disk" ></i> Nivel de Avance</button></span>
                                    <span ng-hide="accionValoracionInd"><button class="btn btn-white btn-sm" ng-click="actualizarAccionValInd()">Cancelar <i class="glyphicon glyphicon-remove"></i></button></span>
                                </div> 
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table ng-table ="tablaValoracionesInd" ng-init="listarValoracionesInd()" class="table table-hover table-condensed table-bordered" >
                                <tr ng-repeat="vi in $data">
                                    <td data-title="'Nombre'"  style="text-align: center;">{{vi.valIndNom}}</td>
                                    <td data-title="'Descripción'" >{{vi.valIndDes}}</td>
                                    <td data-title="'Puntaje'"  style="text-align: center;">{{vi.valIndPun}}</td>
                                    <td data-title="'Acciones'"  style="text-align: center;">
                                        <button class="btn btn-primary btn-xs" ng-click="prepararEditarValoracionInd(vi)"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button class="btn btn-danger btn-xs" ng-click="eliminarValoracionInd(vi)"><span class="glyphicon glyphicon-trash"></span></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Sobre el desarrollo de la sesión de aprendizaje">
                        <br>
                        <div style="text-align: right">
                            <button type="button" class="btn btn-info" ng-click="prepararVisualizacionPlantilla()"><i class="glyphicon glyphicon-file"></i> Ver plantilla</button>
                        </div>
                        <br>
                        <div class="panel panel-primary">
                            <div class="panel-heading">Nueva Rubrica</div>
                            <div class="panel-body">
                                <div>
                                    <textarea class="form-control" rows="2" ng-model="nuevoCompromiso.comDes" placeholder="Descripción de la Rubrica"></textarea>
                                </div>
                                <br>
                                <div>
                                    <select class="form-control" ng-model="nuevoCompromiso.comTip"  ng-options="t.id as t.des for t in tipoCompromisos">            
                                    </select>                    
                                </div> 
                                <br>
                                <div style="text-align: center">
                                    <button class="btn btn-success btn-sm" ng-click="agregarCompromiso()"><i class="glyphicon glyphicon-plus" ></i> Rubrica</button>                
                                </div> 
                            </div>
                        </div>
                        <uib-accordion close-others="false">
                            <div ng-repeat="compromiso in compromisos">
                                <div uib-accordion-group class="panel-success" is-open="true">
                                    <uib-accordion-heading> 
                                        <div class="row">
                                            <div class="col-sm-11">
                                                <span ng-hide="compromiso.edi" >{{compromiso.comDes}}</span>
                                                <span ng-show="compromiso.edi" style="display:block"><textarea class="form-control" rows="1" style="display:block" ng-model="compromiso.copia.comDes"></textarea></span>
                                            </div>
                                            <div class="col-sm-1" style="text-align: right">
                                                <button class="pull-right btn btn-danger btn-xs" ng-click="eliminarCompromiso($index);$event.stopPropagation();$event.preventDefault();"><span class="fa fa-trash-o"></span></button>
                                                <button class="pull-right btn btn-primary btn-xs" ng-click="editarCompromiso(compromiso);$event.stopPropagation();$event.preventDefault();"><span class="fa" ng-class="{'fa-check':compromiso.edi,'fa-pencil':!compromiso.edi}" ></span></button>
                                            </div>                            
                                        </div>                        
                                    </uib-accordion-heading>
                                    <div ng-repeat="instruccion in compromiso.instrucciones">
                                        <div uib-accordion-group class="panel-info" is-open="true">
                                            <uib-accordion-heading>
                                                <div class="row">
                                                    <div class="col-sm-11">
                                                        <span ng-hide="instruccion.edi" >{{instruccion.insDes}}</span>
                                                        <span ng-show="instruccion.edi" ><input ng-model="instruccion.copia.insDes"/></span>   
                                                    </div>
                                                    <div class="col-sm-1" style="text-align: right">
                                                        <button class="pull-right btn btn-danger btn-xs" ng-click="eliminarInstruccion($index, compromiso);$event.stopPropagation();$event.preventDefault();"><span class="fa fa-trash-o"></span></button>
                                                        <button class="pull-right btn btn-primary btn-xs" ng-click="editarInstruccion(instruccion);$event.stopPropagation();$event.preventDefault();"><span class="fa" ng-class="{'fa-check':instruccion.edi,'fa-pencil':!instruccion.edi}"></span></button>
                                                    </div>
                                                </div>
                                            </uib-accordion-heading>   
                                            <div ng-repeat="indicador in instruccion.indicadores">
                                                <div uib-accordion-group class="panel-warning">
                                                    <uib-accordion-heading>
                                                        <div class="row">
                                                            <div class="col-sm-11">
                                                                <span ng-hide="indicador.edi" >{{indicador.indDes}}</span>
                                                                <span ng-show="indicador.edi" ><input ng-model="indicador.copia.indDes"/></span>   
                                                            </div>
                                                            <div class="col-sm-1" style="text-align: right">
                                                                <button class="pull-right btn btn-danger btn-xs" ng-click="eliminarIndicador($index, instruccion);$event.stopPropagation();$event.preventDefault();"><span class="fa fa-trash-o"></span></button>
                                                                <button class="pull-right btn btn-primary btn-xs" ng-click="editarIndicador(indicador);$event.stopPropagation();$event.preventDefault();"><span class="fa" ng-class="{'fa-check':indicador.edi,'fa-pencil':!indicador.edi}"></span></button>
                                                            </div>
                                                        </div>
                                                    </uib-accordion-heading>    
                                                </div>                    
                                            </div>
                                            <div class="row" style="margin: 10px 20px 10px 20px">
                                                <div class="col-sm-11">
                                                    <textarea class="form-control" rows="2" ng-model="instruccion.nuevoIndicador.indDes" placeholder="Descripción del Indicador"></textarea>                            
                                                </div>                       

                                                <div class="col-sm-1" style="text-align: center">
                                                    <button class="btn btn-success btn-sm" ng-click="agregarIndicador(instruccion)"><i class="glyphicon glyphicon-plus" ></i> Indicador</button>
                                                </div>                        
                                            </div>
                                        </div>                    
                                    </div>
                                    <div class="row" style="margin: 10px 20px 10px 20px">
                                        <div class="col-sm-11">
                                            <textarea class="form-control" rows="2" ng-model="compromiso.nuevaInstruccion.insDes" placeholder="Descripción de la Instruccion"></textarea>                            
                                        </div>                       

                                        <div class="col-sm-1" style="text-align: center">
                                            <button class="btn btn-success btn-sm" ng-click="agregarInstruccion(compromiso)"><i class="glyphicon glyphicon-plus" ></i> Instrucción</button>
                                        </div>                        
                                    </div>
                                </div>
                            </div>   
                        </uib-accordion>
                    </uib-tab>
                </uib-tabset>
            </div>
        </section>
    </div>
</div>   
