<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4><span>Plantillas de Ficha de Monitoreo</span></h4>   
                <span class="tools pull-right">
                    <button class="btn btn btn-primary" ng-click="showNuevaPlantilla()"><i class="fa fa-plus"></i> Nuevo</button>
                </span>    
            </header>    
            <div class="panel-body">                    
                <div class="tabla-responsiva">
                    <table ng-table="tablaPlantillasFMSA" ng-init="listarPlantillas()" class="table table-bordered table-condensed">                        
                        <colgroup>
                            <col width="10%" />
                            <col width="35%" />
                            <col width="30%" />
                            <col width="15%" />
                        </colgroup>
                        <tr ng-repeat="p in $data">                            
                            <td filter="{plaCod: 'text'}" sortable="'plaCod'" ng-form="plaCod" data-title="'Código'" style="text-align: center">{{p.plaCod}}</td>
                            <td filter="{plaNom: 'text'}" sortable="'plaNom'" ng-form="plaNom" data-title="'Nombre'">{{p.plaNom}}</td>                
                            <td filter="{plaDes: 'text'}" sortable="'plaDes'" ng-form="plaDes" data-title="'Descripción'">{{p.plaDes}}</td>
                            <td data-title="'Acciones'" style="text-align: center">
                                <button class="btn btn-warning btn-xs"  uib-tooltip="Ver detalle" ng-click="showDetallePlantilla(p)"><span class="glyphicon glyphicon-eye-open"></span></button>
                                <button class="btn btn-info btn-xs"  uib-tooltip="Visualizar plantilla" ng-click="showPlantillaPDF(p)"><span class="glyphicon glyphicon-file"></span></button>
                                <button class="btn btn-primary btn-xs"  uib-tooltip="Editar plantilla" ng-click="showEditarPlantilla(p)"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button class="btn btn-danger btn-xs"  uib-tooltip="Eliminar plantilla" ng-click="eliminarPlantilla(p)"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>