<div class="modal fade"  id="modalVerContenidoArchivo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div style="text-align: center;">
                    <iframe ng-src="{{pathArchivo}}" 
                            style="width:700px; height:400px;" frameborder="0">
                    </iframe>
                </div>
                
                <div style="text-align: right;">
                    <select class="form-control" style="text-align: right;width: 200px" ng-model="docenteContenidoArchivo.estAva" ng-options="e.id as e.title for e in estadoAvance">
                        <option ng-selected="docenteContenidoArchivo.estAva === e.id">{{e.title}}</option>
                    </select>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click= "cancel()">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarEstadoAvance()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>       
