<div class="modal fade"  id="modalVerInformeCarpeta">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div style="text-align: center;">
                    <iframe ng-src="{{pathInforme}}" 
                            style="width:700px; height:400px;" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click= "cancel()">Cancelar</button>
            </div>
        </div>
    </div>
</div>  
