 <div class="modal fade " >
    <div class="modal-dialog " style="width:75%">
        <div class="modal-content">

            <uib-tabset active="active" >
                <uib-tab index="0"  select=" " >   
                    <uib-tab-heading >
                        Compras - Pagos                            
                    </uib-tab-heading>
                    <div class="modal-body">
                        <div class="row">                            
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <section class="panel">
                                            <div class="panel-heading">
                                                <a>Datos de la Operación</a>

                                            </div>
                                            <div class="panel-body">
                                                <form class="form-horizontal " method="get">  


                                                    <div class="form-group ">   
                                                        <div class="col-lg-8">
                                                            <label class="control-label  "> Descripcion: </label>
                                                            <div class="input-group ">
                                                                <span class="input-group-btn">
                                                                    <button  class="btn btn-primary" readonly= "" ng-click="showBuscarOperacion(1)"> <i class="fa fa-search"> </i></button>
                                                                </span>
                                                                <input type="text" class="form-control" readonly="" ng-model="asientoE.glosa">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <label class="control-label  "> Monto S/ </label>                                                                                                                             
                                                            <input type="number" step="0.01" class="form-control"  ng-model="asientoE.importe">

                                                        </div>
                                                    </div> 

                                                    <div class="form-group">
                                                         
                                                        <div class="col-lg-4">

                                                            <label class="control-label"> Tipo de documento: </label>

                                                            <select class="form-control" ng-model="asientoE.tipoPago" ng-options="m as m.nombre for m in tipoPago">
                                                            </select>


                                                        </div>
                                                        <div class="col-lg-4">
                                                            <label class="control-label  "> N° documento </label>                                                                                                                             
                                                            <input type="text" class="form-control" ng-model="asientoE.numeroD">

                                                        </div>




                                                        <div class="col-lg-4">
                                                            <label class="control-label "> Fecha Operación:</label>
                                                            <div class="input-group date form_datetime-component">                                                        
                                                                <input type="text" class="form-control " uib-datepicker-popup="dd/MM/yyyy" ng-model="asientoE.fecha" is-open="popup1.opened" datepicker-options="dateOptions"  close-text="Close" />
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-primary date-set"  ng-click="open1()" ><i class="fa fa-calendar"></i></button>
                                                                </span>
                                                            </div>
                                                        </div>





                                                    </div>                                                                                                                        

                                                    <div class="form-group ">   
                                                        <div class="col-lg-12">
                                                            <label class="control-label  "> Proveedor </label>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <div class="input-group ">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-primary" ng-click="showBuscarClienteProveedor(1)"> <i class="glyphicon glyphicon-user"></i></button>
                                                                </span>
                                                                <input type="text" class="form-control " ng-model="asientoE.clienteProveedor.clienteProveedorID">

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <input type="text" class="form-control " ng-model="asientoE.clienteProveedor.datos">
                                                        </div>


                                                    </div>  
                                                    <div class="form-group ">  <div class="col-lg-12"></div> </div>
                                                    <div class="form-group ">  <div class="col-lg-12"></div> </div>
                                                   
                                                    
                                                     <div class="col-lg-4">

                                                            <label class="control-label"> Centro de Costo: </label>

                                                            <select class="form-control"  ng-model="asientoE.area" ng-options="n as n.nombre for n in tipoArea">
                                                            </select>
                                                     </div> 
                                                  <!--  <div >
                                                         <span class="input-group-btn">
                                                          <button class="btn btn btn-primary " data-toggle="modal" data-target="#modalReciboH">Recibo Auxiliar</button>
                                            
                                                        <button class="btn btn-primary" ng-click="showReciboAuxiliar()">Recibo Auxiliar</button>
                                                        </span>
                                                        
                                                    </div>-->


                                                </form>
                                            </div> 


                                        </section>

                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <section class="panel">
                                            <div  class="panel-heading">
                                                <a>Datos de la Cuenta Asociada</a>

                                            </div>

                                            <div class="panel-body">
                                                <form class="form-horizontal " method="get">  


                                                    <div class="form-group">
                                                        <div class="col-lg-8">
                                                            <label class="control-label"> N° Cta: </label>
                                                            <input type="text" class=" form-control " readonly=""  ng-model="asientoE.debe.cuentaContableID"> 
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-lg-12 ">
                                                            <label class="control-label"> Nombre Cta: </label>
                                                            <!--<input type="text" class=" readonly="" form-control " ng-model="asientoE.debe.nombre">--> 
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-lg-12">

                                                            <label class="control-label"> Cuenta Pagada desde: </label>

                                                            <select class="form-control" readonly="" ng-model="asientoE.haber" ng-options="c as c.nombre for c in cuentasEfectivo">
                                                            </select>

                                                        </div>
                                                    </div>



                                                </form>
                                            </div>

                                            <div  class="panel-heading">
                                                <a> Documento Adjunto</a>

                                            </div>

                                            <div class="panel-body">    
                                                <div class="form-horizontal">         

                                                    <div class="form-group">

                                                        <div class="col-lg-10" >
                                                            <div class="pull-left">

                                                                <input-file ng-hide="asientoE.doc.edi"  nombre archivo="asientoE.doc.archivo" ></input-file>
                                                                <view-file  ng-show="asientoE.doc.edi"  nombre="asientoE.doc.archivo.name"  archivo="asientoE.doc.archivo" > </view-file>

                                                            </div>
                                                        </div>



                                                        <div class="col-lg-2" style="top: 3px">
                                                            <button ng-hide="asientoE.doc.edi" class="btn btn-primary btn-xs" ng-click="agregarDocE()" ><i class="fa fa-plus" ></i></button>
                                                            <button ng-show="asientoE.doc.edi"  class="btn btn-warning btn-xs" ng-click="borrarDocE()" ><i class="fa fa-times" ></i></button>
                                                        </div>


                                                    </div>

                                                </div>
                                            </div> 


                                        </section>



                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="modal-footer ">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-warning" ng-click="agregarTransaccionE()">Registrar Operación</button>

                    </div>


                </uib-tab>
                <uib-tab index="1"  select="" >   
                    <uib-tab-heading >
                        Ventas - Cobros                           
                    </uib-tab-heading>
                    <div class="modal-body">
                        <div class="row">                            
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <section class="panel">
                                            <div class="panel-heading">
                                                <a>Datos de la Operación</a>

                                            </div>
                                            <div class="panel-body">
                                                <form class="form-horizontal " method="get">  


                                                    <div class="form-group ">   
                                                        <div class="col-lg-8">
                                                            <label class="control-label  "> Descripcion: </label>
                                                            <div class="input-group ">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-primary" ng-click="showBuscarOperacion(2)"> <i class="fa fa-search"> </i></button>
                                                                </span>
                                                                <input type="text" class="form-control" ng-model="asientoI.glosa">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <label class="control-label  "> Monto S/ </label>                                                                                                                             
                                                            <input type="number" class="form-control" ng-model="asientoI.importe">

                                                        </div>
                                                    </div> 

                                                    <div class="form-group">
                                                        <div class="col-lg-4">

                                                            <label class="control-label"> Tipo de documento: </label>

                                                            <select class="form-control" ng-model="asientoI.tipoPago" ng-options="m as m.nombre for m in tipoPago">
                                                            </select>


                                                        </div>
                                                        <div class="col-lg-4">
                                                            <label class="control-label  "> N° documento </label>                                                                                                                             
                                                            <input type="text" class="form-control" ng-model="asientoI.numeroD">

                                                        </div>




                                                        <div class="col-lg-4">
                                                            <label class="control-label "> Fecha Operación:</label>
                                                            <div class="input-group date form_datetime-component">                                                        
                                                                <input type="text" class="form-control " uib-datepicker-popup="dd/MM/yyyy" ng-model="asientoI.fecha" is-open="popup2.opened" datepicker-options="dateOptions"  close-text="Close" />
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-primary date-set"  ng-click="open2()" ><i class="fa fa-calendar"></i></button>
                                                                </span>
                                                            </div>
                                                        </div>





                                                    </div>                                                                                                                        

                                                    <div class="form-group ">   
                                                        <div class="col-lg-12">
                                                            <label class="control-label  "> Cliente </label>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <div class="input-group ">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-primary" ng-click="showBuscarClienteProveedor(2)"> <i class="glyphicon glyphicon-user"></i></button>
                                                                </span>
                                                                <input type="text" class="form-control " ng-model="asientoI.clienteProveedor.clienteProveedorID">

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <input type="text" class="form-control " ng-model="asientoI.clienteProveedor.datos">
                                                        </div>


                                                    </div>    

                                                    <div class="form-group ">  <div class="col-lg-12"></div> </div>
                                                    <div class="form-group ">  <div class="col-lg-12"></div> </div>
                                                    <div class="form-group ">  <div class="col-lg-12"></div> </div>
                                                    <div class="form-group ">  <div class="col-lg-12"></div> </div>
                                                    <div class="form-group ">  <div class="col-lg-12"></div> </div>
                                                    <div class="form-group ">  <div class="col-lg-12"></div> </div>
                                                    <div class="form-group "> 
                                                        <div class="col-lg-12">
                                                            <label class="control-label small"> Observación: </label>                                                                                   
                                                            <textarea  class="form-control input-sm m-bot15 "  ng-model="asientoI.observacion"></textarea>
                                                        </div>
                                                    </div>


                                                </form>
                                            </div>                                                                                          
                                        </section>

                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <section class="panel">
                                            <div  class="panel-heading">
                                                <a>Datos de la Cuenta Asociada</a>

                                            </div>

                                            <div class="panel-body">
                                                <form class="form-horizontal " method="get">  


                                                    <div class="form-group">
                                                        <div class="col-lg-8">
                                                            <label class="control-label"> N° Cta: </label>
                                                            <input type="text" class=" form-control " ng-model="asientoI.haber.cuentaContableID"> 
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-lg-12 ">
                                                            <label class="control-label"> Nombre Cta: </label>
                                                            <input type="text" class="  form-control " ng-model="asientoI.haber.nombre"> 
                                                        </div>
                                                    </div>
                                                    <div class="form-group">

                                                        <div class="col-lg-12">

                                                            <label class="control-label"> Cuenta Pagada desde: </label>

                                                            <select class="form-control" ng-model="asientoI.debe" ng-options="c as c.nombre for c in cuentasEfectivo">
                                                            </select>
                                                        </div>
                                                    </div>



                                                </form>
                                            </div>

                                            <div  class="panel-heading">
                                                <a> Documento Adjunto</a>

                                            </div>

                                            <div class="panel-body">    
                                                <div class="form-horizontal">         

                                                    <div class="form-group">

                                                        <div class="col-lg-10" >
                                                            <div class="pull-left">

                                                                <input-file ng-hide="asientoI.doc.edi"  nombre archivo="asientoI.doc.archivo" ></input-file>
                                                                <view-file  ng-show="asientoI.doc.edi"  nombre="asientoI.doc.archivo.name"  archivo="asientoI.doc.archivo" > </view-file>

                                                            </div>
                                                        </div>



                                                        <div class="col-lg-2" style="top: 3px">
                                                            <button ng-hide="asientoI.doc.edi" class="btn btn-primary btn-xs" ng-click="agregarDocI()" ><i class="fa fa-plus" ></i></button>
                                                            <button ng-show="asientoI.doc.edi"  class="btn btn-warning btn-xs" ng-click="borrarDocI()" ><i class="fa fa-times" ></i></button>
                                                        </div>


                                                    </div>

                                                </div>
                                            </div> 



                                        </section>



                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="modal-footer ">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-warning" ng-click="agregarTransaccionI()">Registrar Operación</button>

                    </div>



                </uib-tab>


                <uib class=" pull-right" >


                    <div class="  pull-right col-lg-12" style="top: 10px">
                        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">×</button>                        
                    </div>

                </uib>
            </uib-tabset> 





        </div>
    </div>
</div>       
    
