<div class="row">
    <div class="col-lg-12">
        <section class="panel">
                <uib-tabset active="active" >
                    <uib-tab index="0"  select="" >   
                        <uib-tab-heading >
                            Libro Caja I.E.                            
                        </uib-tab-heading>
                      
                                               
                        
                        
                        <div class="row">
                            <div class="col-lg-12">
                                <section class="panel">
                                  
                                    <div class="panel-body" ng-init="$watch(listarOpe(),listarClienteProveedor())">
                
            <form class="form-horizontal " method="get">  

                 <div class="form-group">

                                                    <div class="col-lg-12"> 
                                                      <div class="btn-group" >
                                                            <button class="btn btn-warning" ng-click="cierreLibro()">Cierre Libro <i class="fa fa-plus" ></i>  </button>
                                                        </div>
                                                        
                                                   
                                                     <div class="pull-right">
                 <div class="btn-group " ng-click="cambiarMes(libroEstado.mesSel)"> <!---ng-click="getFilterMonth(libroEstado.mesSel)"-->
                                <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'0'" style="border:0px solid transparent; ;font-size: 89%; top: -5px">
                                     Enero
                                </label>
                                <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'1'" style="border:0px solid transparent ;font-size: 89%; top: -5px">
                                   Febrero
                                </label>
                                <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'2'" style="border:0px solid transparent ;font-size: 89%; top: -5px">
                                  Marzo
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'3'" style="border:0px solid transparent  ;font-size: 89%; top: -5px">
                                   Abril
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'4'" style="border:0px solid transparent  ;font-size: 89%; top: -5px">
                                     Mayo
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'5'" style="border:0px solid transparent  ;font-size: 89%; top: -5px">
                                    Junio
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'6'" style="border:0px solid transparent ;font-size: 89%; top: -5px">
                                     Julio
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'7'" style="border:0px solid transparent ;font-size: 89%; top: -5px">
                                    Agosto
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'8'" style="border:0px solid transparent  ;font-size: 89%; top: -5px">
                                    Septiembre
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'9'" style="border:0px solid transparent  ;font-size: 89%; top: -5px">
                                  Octubre
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'10'" style="border:0px solid transparent   ;font-size: 89%; top: -5px">
                                    Noviembre
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'11'" style="border:0px solid transparent  ;font-size: 89%; top: -5px">
                                     Diciembre
                                </label>
                            </div>
             </div>
                                                    </div>
                                                    
                                                    <div class="col-lg-4"> 
                                                     
                                                        
                                                    </div>
                                                    <div class="col-lg-4">
                                                    <div class="form-group ">
                                                          
                                                    
                                                              
                                                              <div class="input-group m-bot15 ">  
                                                                         <span class="input-group-btn">
                                                                             <button class="btn btn-primary btn-sm" >Saldo {{libroEstado.mes |date:'MMMM'}}: </button></span>
                                                                                <span  class="form-control input-sm m-bot15 " style="text-align:center" > {{libroEstado.saldoMes |currency:'S/ ' :2 }}</span>
                                                                      </div>
                                                       
                                                    </div>
                                                    </div>
                                                   <div class="col-lg-0 "></div>
                                                    <div class="col-lg-4 ">
                                                        
                                                       
                                                                          <span class="input-group-btn ">
                                                                              <button class="btn btn-default btn-sm" > <span ><a>Debe: </a>{{libroEstado.debe |currency:' S/ ' :2 }}</span>   </button>
                                                                             <button class="btn btn-default btn-sm" > <span ><a>Haber: </a>{{libroEstado.haber |currency:' S/ ' :2 }}</span>   </button>
                                                                      
                                                                            </span>
                                                                     
                                                      
                                                    </div>

                                                 

                                                  
                                                                                                                                                                  
                                                </div>

                                
                <div class="form-group">
                      <div class="adv-table editable-table ">

                        <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                <div class="col-lg-6">
                                <div class="col-lg-12">
                                    <div id="editable-sample_length" class="dataTables_length">
                                        <label>
                                            <select size="1" name="editable-sample_length" aria-controls="editable-sample" class="form-control xsmall" ng-model="tablaLibroCaja.parameters().count">
                                                <option value="10" >10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                            </select> 
                                            registros
                                        </label>
                                    </div>
                                </div>
                                </div>

                                <div class="col-lg-6 ">
                                    
                                    <div class="dataTables_filter " id="editable-sample_filter">
                                        
                                       <div class="input-group m-bot15 col-lg-12 ">
                                            <span class="input-group-btn">
                                                <button class="btn btn-warning btn-sm col-lg-12" type="button"><i class="fa fa-search"></i></button>
                                            </span>
                                           <input type="text" class="form-control input-sm m-bot15 col-lg-12" ng-model="tablaLibroCaja.filter().glosa">
                                            <div class="input-group-btn ">
                                                <select class="form-control input-sm m-bot15 ">
                                                    <option>Fecha Operación</option>
                                                    <option>Medio Pago</option>
                                                    <option>Option 3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-hover table-bordered small "  ng-table ="tablaLibroCaja" show-filter="false" >
                                <tr ng-show ="tablaLibroCaja.parameters().page==1">                                     
                                     <td  data-title="'N'" style="width: 40px;text-align:center">
                                        {{}}
                                    </td>
                                    <td data-title="'Fecha Operación'" filter="{fecha:'text'}" sortable="'fecha'" style="width: 40px;text-align:left">
                                        {{}}
                                    </td>
                                     <td  data-title="'Medio Pago'" style="width: 40px;text-align:center">
                                        {{}}
                                    </td>
                                    <td  data-title="'Descripcion Operación'" filter="{glosa:'text'}" style="width: 180px;text-align:left">
                                        <a> {{libroEstado.enunciado}} </a>
                                    </td>
                                    <td data-title="'Razon Social'" style="width: 120px;text-align:left">
                                        {{}}
                                    </td>
                                     <td  data-title="'N° Doc.'" style="width: 50px;text-align:center">
                                        {{}}
                                    </td>
                                    
                                    
                                     <td data-title="'Cod. Cta'" style="width: 50px;text-align:center">
                                        {{}}
                                    </td>
                                     <td data-title="'Descripción Cuenta'" style="width: 100px;text-align:left">
                                        {{}}
                                    </td>
                                    <td data-title="'Debe'" style="width: 50px;text-align:right">
                                        <a>  {{libroEstado.saldoMesAnterior}} </a>
                                    </td><td data-title="'Haber'" style="width: 50px;text-align:right">
                                       {{}}
                                    </td>

                                    <td   data-title="'Estado'" style="text-align: center;width:30px">
                                    </td>

                                    <td   data-title="'Ver '" style="width: 30px">
                                        
                                    </td>
                                                                        
                                </tr>
                                <tbody  ng-repeat="sm in $data">                                                                    
                                 <tr>                                     
                                     <td rowspan="2" data-title="'N'" style="width: 40px;text-align:center">
                                        {{sm.i}}
                                    </td>
                                    <td  rowspan="2" data-title="'Fecha Operación'" filter="{fecha:'text'}" sortable="'fecha'" style="width: 40px;text-align:left">
                                        {{sm.fecha | date:'dd/MM/yyyy'}}
                                    </td>
                                     <td rowspan="2" data-title="'Medio Pago'" style="width: 40px;text-align:center">
                                        {{sm.tipoPago.tipoPagoID}}
                                    </td>
                                    <td rowspan="2" data-title="'Descripcion Operación'" filter="{glosa:'text'}" style="width: 180px;text-align:left">
                                        {{sm.glosa}}
                                    </td>
                                    <td rowspan="2" data-title="'Razon Social'" style="width: 120px;text-align:left">
                                        {{sm.clienteProveedor.datos}}
                                    </td>
                                     <td rowspan="2" data-title="'N° Doc.'" style="width: 50px;text-align:center">
                                        {{sm.numeroD}}
                                    </td>
                                    
                                    
                                     <td data-title="'Cod. Cta'" style="width: 50px;text-align:center">
                                        {{sm.debe.cuentaContableID}}
                                    </td>
                                     <td data-title="'Descripción Cuenta'" style="width: 100px;text-align:left">
                                        {{sm.debe.nombre}}
                                    </td>
                                    <td data-title="'Debe'" style="width: 50px;text-align:right">
                                        {{sm.debe.importe  |currency:'':2}}
                                    </td><td data-title="'Haber'" style="width: 50px;text-align:right">
                                       {{}}
                                    </td>

                                    <td  rowspan="2" data-title="'Estado'" style="text-align: center;width:30px">
                                        <span class="label label-mini" ng-class="{'label-info': sm.estado=='A','label-warning': sm.estado=='I'}">{{sm.estado}}</span>
                                    </td>

                                    <td  rowspan="2" data-title="'Ver'" style="width: 30px">
                                        <button class="btn btn-primary btn-xs" ng-click="verTransaccion(sm)"><i class="fa fa-search-plus" ></i></button>
                                       
                                    </td>
                                    
                                    
                                </tr>
                                
                                 <tr>
                                                                         
                                     <td data-title="'Cod. Cta'" style="width: 50px;text-align:center">
                                        {{sm.haber.cuentaContableID}}
                                    </td>
                                     <td data-title="'Descripción Cuenta'" style="width: 100px;text-align:left">
                                        {{sm.haber.nombre}}
                                    </td>
                                    <td data-title="'Debe'" style="width: 50px;text-align:right">
                                      {{}}
                                    </td><td data-title="'Haber'" style="width: 50px;text-align:right">
                                        {{sm.haber.importe |currency:'':2}}
                                    </td>

                                   
                                    
                                    
                                </tr>
                                </tbody>
                            </table>
                        </div>    

                        </div>
              </div>





                
            </form>    
            </div>
                                </section>

                            </div>
                        </div>


                          
                   
                       
                       
                    </uib-tab>
                    
                    <uib-tab index="1" select="">  
                         <uib-tab-heading >
                                Control Libro Caja I.E.
                        </uib-tab-heading>
                        <section class="panel">
                        <div class="panel-body" >
                                <div class="table-responsive " style="border-top: 20px solid #ddd;margin-bottom: 0px;">
                                   <table ng-table ="tablaControlLibro" class="table  table-condensed table-bordered table-striped" >
                                      <colgroup>
                                             <col width="20px" /><col width="auto" /><col width="auto" /><col width=auto /><col width=auto /><col width=auto />
                                      </colgroup>
                                       <tr ng-repeat="r in $data">  
                                          <td data-title="'N'" sortable="'i'" >
                                              {{r.i}}
                                          </td>
                                          <td data-title="'Detalle'"   style="text-align: center">
                                              {{r.descripcion}}
                                          </td>
                                          <td data-title="'Pre-Cierre'"   style="text-align: center">
                                              {{r.fechaPreCierre}}
                                          </td>
                                          <td data-title="'Cierre'"  style="text-align: center">
                                              {{r.fechaCierre}}
                                          </td>
                                          <td data-title="'Re-Apertura'"   style="text-align: center">
                                              {{r.fechaReApertura}}
                                          </td>
                                          <td data-title="'Accion'"   style="text-align: center">
                                             <!-- <button type="button" class="btn btn-danger btn-xs" ng-click="eliminarControl($index,r.controlD)"><i class="fa fa-trash-o " ></i></button>-->
                                              <!--eliminarEstadoExpediente($index,e.estadoExpedienteID)-->
                                          </td>
                                      </tr>
                                      </tbody>    
                                  </table>
                            </div>
                        </div>
                        </section>
                    </uib-tab>
                    <!--<uib class=" pull-right" >
                       
                        
                        <div class=" btn-group pull-right col-lg-12" style="top: 10px">

                            <a data-toggle="dropdown" class="fa fa-cog " ></a>

                            <ul role="menu" class="dropdown-menu " >
                                <li><a href="#"><i class="fa fa-edit"> </i> Descargar Libro </a></li>   
                                <li><a href="#"><i class="fa fa-edit"> </i> Descargar Controles </a></li>   
                                <li><a href="#"><i class="fa fa-print"> </i> Imprimir </a></li>

                            </ul>                                
                        </div>
                   
                    </uib>-->
        </uib-tabset> 
            
        </section>
    </div>
</div>
      
  
    
<div class="modal fade" id="modalCierreLibro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width:650px; top:100px;  ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">CONTROL DEL LIBRO CAJA</h4>
      </div>
      <div class="modal-body">
                    
            <div class="form-panel">
                <div class="form-horizontal " >
                    
                    <div class="form-group">
                        
                       
                        <div class="col-lg-6">                            
                            <pre class="alert alert-info "><strong>El Saldo de cierre es:  <a style="font-size: 120%">{{libroEstado.libro.saldoActual |currency:'S/ ' :2 }}</a></strong></pre>
                       
                        </div>
                         <div class="col-lg-4">   
                             <div class=" col-lg-12 pull-left">
                             <label class=" control-label "><strong>TIPO DE CIERRE:</strong></label>
                             </div>
                                <div class="radio col-lg-6" style="display: inline-block">
                                  <label>
                                    <input type="radio" ng-model="cierreToPa.EstadoLibro" value="I" checked>
                                    Parcial  
                                   </label>
                                </div>
                                <div class="radio col-lg-6" style="display: inline-block;top">
                                  <label>
                                    <input type="radio" ng-model="cierreToPa.EstadoLibro" value="C">
                                    Final
                                  </label>
                                
                            </div>
                             
                        </div>
                        <div class="col-lg-2" style="top: 10px">
                            <button class="btn btn-primary btn-sm"  ng-click="registrarCierreLibro()">Agregar  <i class="fa fa-plus" ></i>  </button>
                        </div>
                        
                    </div>
                        
                     <!--  <div class="form-group "> 
                           <div class="col-lg-12">
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                            <uib-accordion-heading>
                                                Estado de Efectivo del Libro
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </uib-accordion-heading>
                                            <div class="table-responsive">

                                            <table class="table table-striped">
                                              <thead>
                                            <tr>
                                            <th style="width: 40px;text-align:left">Número</th>
                                            <th style="width: 150px;text-align:left">Nombre</th>
                                            <th style="width: 70px;text-align:right">Importe</th>
                                            <th  style="width: 150px;text-align:center">Banco</th>
                                            <th  style="width: 100px;text-align:left">N° Cta.</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                             <tr ng-repeat="sm in libroA " >
                                                <td  style="width: 40px;text-align:left">
                                                    {{sm.numero}}
                                                </td>
                                                <td  style="width: 150px;text-align:left">
                                                    {{sm.nombre}}
                                                </td>
                                                 <td  style="width: 70px;text-align:right">
                                                   {{sm.importe|currency:'S/ ' :2}}

                                                </td> 

                                                 <td ng-show="sm.flag" style="width: 150px;text-align:center">
                                                    {{sm.banco}}

                                                 </td>  
                                                  <td ng-show="sm.flag" style="width: 100px;text-align:left">
                                                     {{sm.numeroCuenta}}                                               
                                                 </td>  

                                            </tr>
                                            </tbody>
                                            </table>
                                            </div>   
                                    </div>
                                 </uib-accordion>
                                    
                           </div>
                             
                        </div> -->              
                    
                </div>
            </div>
        
      </div>
      
    </div>
  </div>
</div>
