<div class="row"><div class="col-lg-12">
<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="GASTOS POR CENTRO DE COSTO" >
    <section class="panel">
    
    <div class="panel-body" >        
        <div class="form-horizontal" >
            <div class="form-group" >
                <label class="col-sm-offset-2 col-sm-2 control-label">Institucion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.orgID" >
                        <option value="0"></option>
                        <option ng-repeat="o in organizaciones" value="{{o.organizacionID}}">{{o.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">A</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="generarEstadisticaCenCost()">generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div style="height: 450px" align="center">
            <canvas id="graGastoArea" width="800" height="450"></canvas>
        </div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirCenCost()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
    </div>

    </section>
    </uib-tab>
    <uib-tab index="1" heading="CUENTAS CONTABLES " >

    <section class="panel">
    
    <div class="panel-body" >        
        <div class="form-horizontal" >
            <div class="form-group" >
                <label class="col-sm-offset-2 col-sm-2 control-label">Institucion</label>
                <div class="col-sm-6">
                    <select class="form-control" ng-model="busqueda.orgID2">
                        <option value="0"></option>
                        <option ng-repeat="o in organizaciones" value="{{o.organizacionID}}">{{o.nombre}}</option>
                    </select>
                </div>
              
            </div>
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">A</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="generarEstadisticaCueContable()">generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div style="height: 450px" align="center">
            <canvas id="graGatoCuenta" width="800" height="450"></canvas>
        </div>
         
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirCuentConta()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
    </div>

    </section>
    </uib-tab>
    <uib-tab index="2" heading="INGRESOS Y EGRESOS POR IIEE">
        <section class="panel"><div class="panel-body" >
            
        <div class="form-horizontal" >
           
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">A</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="generarEstadisticaEgresosIngresos()">generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div style="height: 450px" align="center">
            <canvas id="graEgreIngre" width="800" height="450"></canvas>
        </div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirIngEng()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
                
        </div></section>
    </uib-tab>

    <uib-tab index="3" heading="EGRESOS Y INGRESOS DE LA IIEE">
        <section class="panel"><div class="panel-body" >
            
        <div class="form-horizontal" >
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">A</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="generarEstadisticaEgresosIngresosIIEE()">generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div style="height: 450px" align="center">
            <canvas id="graVentas" width="800" height="450"></canvas>
        </div>
        
        <div style="height: 450px" align="center">
            <canvas id="graCompras" width="800" height="450"></canvas>
        </div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirIngEngIIEE()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
                
        </div></section>
    </uib-tab>
    <uib-tab index="4" heading="CONTROL CIERRE LIBRO CAJA">
        <section class="panel">
            <div class="panel-body" >
            
        <<div class="form-horizontal" >
            
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">A</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="generarEstadisticaCantidadRegistrosControlCaja()">generar</button>
                </div>
            </div>
        </div>
        <hr/>
       <div style="height: 450px" align="center">
            <canvas id="graControl" width="800" height="450"></canvas>
        </div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirControles()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
                
        </div></section>
    </uib-tab>
    <uib-tab index="5" heading="REGISTRO LIBRO CAJA POR IIEE">
        <section class="panel"><div class="panel-body" >
            
        <div class="form-horizontal" >
            <div class="form-group" >
                <label class="col-sm-offset-2 col-sm-2 control-label">Institucion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.orgID2" ng-change="listarAreas(busqueda.orgID2)">
                        <option value="0"></option>
                        <option ng-repeat="o in organizaciones" value="{{o.organizacionID}}">{{o.nombre}}</option>
                    </select>
                </div>
                
            </div>
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">A</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="generarEstadisticaHistorialLibroCajaXIIEE()">generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div style="height: 450px" align="center">
            <canvas id="graHistorial" width="800" height="450"></canvas>
        </div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirHistoCambios()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
                
        </div></section>
    </uib-tab>
     
</uib-tabset>

</div></div>
