<div uib-collapse="isCollapsed" >
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
             <header class="panel-heading" style="overflow: inherit ">
                  LIBRO CAJA II.EE. 
                        <!--  <div class=" btn-group pull-right" >
                                 
                               <a data-toggle="dropdown" class="fa fa-cog " ></a>

                              <ul role="menu" class="dropdown-menu " >
                              <li><a href="#"><i class="fa fa-edit"> </i>Descargar</a></li>
                              <li><a href="#"><i class="fa fa-folder-open"> </i> Exportar</a></li>                        
                              <li><a href="#"><i class="fa fa-print"> </i> Imprimir</a></li>

                              </ul>


                            </div>  -->                     
                     
                           
            </header>
        
    
        <div class="panel-body" ng-init="listarLibros ()">
             <form class="form-horizontal " method="get">  
                <div class="form-group">
                <div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3" >                          
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalNuevoControl"><i class="fa fa-calendar-o" ></i> Añadir Control </button>                          
                </div>   
           
                <div class=" col-xs-12  col-sm-4 col-md-3 col-lg-3">  
                    
                    <label class="text-right control-label "> AÑO DE CONTROL:  &nbsp; </label>                           
                    <button type="button" class=" btn btn-primary date-set btn-xs"  ng-click="open1()" > <strong style="font-size: 150%"> {{control.fecha | date:'yyyy'}} <i class="fa fa-calendar"></i></strong></button>                                       
                    <input ng-hide="true" type="text" class=" control-group " ng-change="listarLibros()" uib-datepicker-popup="yyyy" show-button-bar="false" ng-model="control.fecha" is-open="popup1.opened" datepicker-options="dateOptions"  close-text="Close">                                                         
                             
                </div> 
        
                <div class=" col-xs-12  col-sm-offset-0 col-sm-4  col-md-offset-0  col-md-3  col-lg-offset-0 col-lg-3">
                  
                  <!--  <label class=" control-label" > Periodo: &nbsp; </label>                           
                          
                                   <select class="control-group input-sm m-bot15" ng-model="control.controlID" ng-options="control.controlID as control.descripcion for control in controles" >
                                      <option value="">Seleccionar</option>
                                    </select>
                      -->   
                </div>

                <!--<div class=" col-xs-12  col-sm-4 col-md-3 col-lg-offset-1 col-lg-2">
                    <button type="button" class="  btn btn-primary btn-sm"  ng-click="notificar()"> <i class="fa fa-envelope" ></i> Notificar Control  </button>
                </div>
                  -->
                </div>
                 
                <div class="form-group ">
                    <div class="adv-table editable-table ">
                        <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                <div class ="col-xs-2 col-sm-6">
                                <div class="col-xs-2 col-sm-12">
                                    <div id="editable-sample_length" class="dataTables_length ">
                                        <label>
                                            <select  name="editable-sample_length" aria-controls="editable-sample" class="form-control input-sm m-bot15 " ng-model="tablaLibrosCaja.parameters().count">
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                            </select> 
                                            
                                        </label>
                                    </div>
                                </div>
                                </div>

                                <div class="col-xs-10 col-sm-6 " >
                                    
                                    <div class="dataTables_filter " id="editable-sample_filter">                                        
                                       <div class="input-group m-bot15 col-sm-12 ">                                                                                    
                                           <input type="text" class="form-control input-sm m-bot15 col-sm-12" ng-model="globalSearchTerm" ng-change="applyGlobalSearch(globalSearchTerm)">
                                             <span class="input-group-btn">
                                                <button class="btn btn-warning btn-sm" type="button"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                   </div>
                                 
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
             </form>
            
                
             <div class="table-responsive ">
                            <table  ng-table ="tablaLibrosCaja" class="table table-striped table-hover table-bordered small "  show-filter="false" >
                  
                                 <tr ng-repeat="sm in $data |filter :searchData">
                                    <td  data-title="'N'" style="text-align:center ;width:auto">
                                        {{sm.i}}
                                    </td>
                                    
                                    <td  data-title="'Código Modular'"  style="text-align:center; width: auto">
                                        {{sm.codigo }}
                                    </td>
                                    <td data-title="'Fecha Apertura'" style="text-align:center; width: 100px">
                                        {{sm.fechaApertura}}
                                    </td>
                                    <td data-title="'Fecha Cierre'" style="text-align:center; width: 120px">
                                        {{sm.fechaCierre }}
                                    </td>
                                      <td data-title="'Saldo Apertura'" style="text-align:right; width: 100px">
                                        {{sm.saldoI  |currency:'S/ ' :2 }}
                                    </td>
                                    <td data-title="'Saldo Actual'" style="text-align:right;width: 100px">
                                         <a><strong> {{sm.saldoA |currency:'S/ ' :2 }} </strong></a>
                                    </td>

                                    <td data-title="'Descripcion I.E.'" style="text-align:center; width: 300px">
                                       <strong> {{sm.institucion}} </strong>
                                    </td>
                                    <td data-title="'Director I.E.'"  style="text-align:center; width: 300px">
                                        {{sm.director}}
                                    </td>
                                   
                                    <td  data-title="'Estado'" style="text-align: center;width:30px">
                                        <span class="label label-mini" ng-class="{'label-primary': sm.estado=='A','label-success': sm.estado=='I','label-warning': sm.estado=='C'}">{{sm.estado}}</span>
                                    </td>

                                    <td  data-title="'Reportes'" style="text-align: center; width: 80px">
                                        <button type="button" class="btn btn-primary btn-xs" ng-click="verLibro(sm)"><i class="fa fa fa-book" ></i></button>
                                     <!--   <button class="btn btn-danger btn-xs" ng-click="supervisarLibro(sm)"><i class="fa fa-pencil-square-o " ></i></button>
                                     -->
                                    </td>                                                                                                        
                                                                         
                                </tr>
                          
                            </table>
             </div>    
             
            </div>
       
        

        </section>
    </div>
</div>
</div>
<div class="modal fade" id="modalNuevoControl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog " style="max-width:850px">
    <div class="modal-content" >
      <div class="modal-header">
          
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">CONTROL LIBRO CAJA II.EE.</h4>
      </div>
      <div class="modal-body" style="background-color: #eee"><div class="form-panel" >
        <form class="form-horizontal style-form" method="get">                    
         
            <div class="form-group" >
            
                    <div class="col-sm-4">
                        <div class=" form-group col-sm-12">
                            <label>Detalle del Control</label>
                            <input type="text" class="form-control input-sm m-bot15 " ng-model="control.descripcion">
                        </div>
                        <div class=" form-group col-sm-12">
                           <label class="control-label "> Fecha Pre-Cierre:</label>
                            <div class="input-group date form_datetime-component">                                                        
                                <input style="background-color:white " type="text" class="form-control input-sm m-bot15" uib-datepicker-popup="dd/MM/yyyy" ng-model="control.fechaPreCierre" is-open="popup2.opened" datepicker-options="dateOptions1"  close-text="Close" readonly>
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary date-set btn-sm"  ng-click="open2()" ><i class="fa fa-calendar"></i></button>
                                        </span>
                            </div>
                        </div>
                        <div class=" form-group col-sm-12">
                            <label class="control-label "> Fecha Cierre:</label>
                            <div class="input-group date form_datetime-component">                                                        
                                <input style="background-color:white " type="text" class="form-control input-sm m-bot15" uib-datepicker-popup="dd/MM/yyyy" ng-model="control.fechaCierre" is-open="popup3.opened" datepicker-options="dateOptions1"  close-text="Close" readonly>
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary date-set btn-sm"  ng-click="open3()" ><i class="fa fa-calendar"></i></button>
                                        </span>
                            </div>
                        </div>
                         <div class=" form-group col-sm-12">
                           <label class="control-label "> Fecha Re-Apertura:</label>
                            <div class="input-group date form_datetime-component">                                                        
                                <input style="background-color:white " type="text" class="form-control input-sm m-bot15" uib-datepicker-popup="dd/MM/yyyy" ng-model="control.fechaReApertura" is-open="popup4.opened" datepicker-options="dateOptions1"  close-text="Close" readonly>
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary date-set btn-sm"  ng-click="open4()" ><i class="fa fa-calendar"></i></button>
                                        </span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" ><br></div>
                        
                           <div class="form-group col-sm-12" >
                                       
                                <div class="pull-right" >
                                    <button type="reset" class="btn btn-default" ng-click="cancelar()"> Cancelar</button>
                                    <button type="button" class="btn btn-warning btn-sm" ng-click="agregarControlLibro()"> Agregar </button>

                                </div>
                             </div>                                                                     
                        
                    </div>
               
                    <div class="col-sm-8" >
                        <br>
                         <div class="table-responsive " style="max-width:850px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                             <table ng-table ="tablaControlLibro" class="table  table-condensed table-bordered table-striped" >
                                <colgroup>
                                       <col width="20px" /><col width="auto" /><col width="auto" /><col width=auto /><col width=auto /><col width=auto />
                                </colgroup>
                                 <tr ng-repeat="r in $data">  
                                    <td data-title="'N'" sortable="'i'" >
                                        {{r.i}}
                                    </td>
                                    <td data-title="'Detalle'"   style="text-align: center">
                                        {{r.descripcion}}
                                    </td>
                                    <td data-title="'Pre-Cierre'"   style="text-align: center">
                                        {{r.fechaPreCierre}}
                                    </td>
                                    <td data-title="'Cierre'"  style="text-align: center">
                                        {{r.fechaCierre}}
                                    </td>
                                    <td data-title="'Re-Apertura'"   style="text-align: center">
                                        {{r.fechaReApertura}}
                                    </td>
                                    <td data-title="'Estado'"   style="text-align: center">
                                        {{r.estado}}
                                    </td>
                                    <td data-title="'Accion'"   style="text-align: center">
                                        <button ng-if=" r.estado ==='A'" type="button" class="btn btn-danger btn-xs" ng-click="eliminarControl($index,r.controlD)"><i  class="fa fa-trash-o " ></i></button>
                                     </td>
                                </tr>
                                </tbody>    
                            </table>
                         </div>
                       
                    </div>
                    
              
                
                </div>
                
          
           
        </form>
      </div></div>
     
    </div>
  </div>
</div>
                          
                   
<div ng-show="isCollapsed">
<div class="row">   
    <div class="col-lg-12">
        <section class="panel">
             <header class="panel-heading" style="overflow: inherit ">
                
              
            <div class="form-group">
             <div class=" pull-left"> 
                       
                     <div class=" btn-group " >
               
                        <a data-toggle="dropdown" class="fa  fa-gears  " ></a>

                        <ul role="menu" class="dropdown-menu " >
                            <li><a ng-click="reporte()"><i class="fa fa-print"> </i> Libro Caja</a></li>
                        <li><a ng-click="reporteIngresos()"><i class="fa fa-print"> </i> Reporte Ingresos</a></li>                        
                        <li><a ng-click="reporteEgresos()"><i class="fa fa-print"> </i> Reporte Egresos</a></li>
                          <li><a ng-click="reporteBalanceGeneral()"><i class="fa fa-print"> </i> Reporte Balance General</a></li>

                        </ul>     
                        REPORTES I.E.
                
                  </div>
                   
              </div>
                   <div class=" col-lg-1"> </div>
                   
                   <div class=" btn-group col-lg-5 pull-right" >
                        <div class="col-lg-6">
                                   <select  class="form-control input-sm m-bot15 " ng-model="value" ng-selected="seleccionar(value)"  >
                                      <option value="">Seleccionar Reporte</option>
                                      <option value="1">Libro Caja </option>
                                      <option value="2">Ingresos</option>
                                      <option value="3">Egresos</option>
                                      <option value="4">Balance General</option>


                                    </select>
                               </div>   
                        <div class=" col-lg-6">
                             <button class="btn btn-warning btn-sm" ng-click="verReporte()">Ver Reporte <i class="fa fa-file-text-o" ></i>  </button>
                             <button class="btn btn-default btn-sm" ng-click="regresarSupervision()"><i class="fa fa-reply" ></i>  </button>
                        </div>
                </div>
                                                                       
                <div class=" input-group col-lg-3" >                                                                       
                    
                    <a class="col-lg-2"> Fechas</a>
                                <div class="col-lg-3">
                                    <div class="input-group input-large">
                                        <input type="date" class="form-control input-sm m-bot15 " ng-model="consulta.desde"  min="{{consulta.fechaApertura}}" max="{{consulta.fechaCierre}}"/>
                                        <span class="input-group-addon input-sm m-bot15">A</span>
                                        <input type="date"  class="form-control input-sm m-bot15 " ng-model="consulta.hasta" min="{{consulta.fechaApertura}}" max="{{consulta.fechaCierre}}" />
                                    </div>                                   
                                </div>
                </div>


                      
                  </div>
                
   
            </header>
           
           
                <div class="panel-body">
                    
                <div class="col-lg-12">
                    <form class="form-horizontal " method="get">  
                       
                <div class="form-panel" ng-show="seleccionar.flagReporteL">
                    <fieldset ><legend > 
                           
                            LIBRO CAJA
                            
                          
                                 
                 
                 <div class="btn-group pull-right" ng-click="cambiarMes(libroEstado.mesSel)"> <!---ng-click="getFilterMonth(libroEstado.mesSel)"-->
                                <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'0'" style="border:0px solid transparent; ;font-size: 60%; top: -5px">
                                     Enero
                                </label>
                                <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'1'" style="border:0px solid transparent ;font-size: 60%; top: -5px">
                                   Febrero
                                </label>
                                <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'2'" style="border:0px solid transparent ;font-size: 60%; top: -5px">
                                  Marzo
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'3'" style="border:0px solid transparent  ;font-size: 60%; top: -5px">
                                   Abril
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'4'" style="border:0px solid transparent  ;font-size:60%; top: -5px">
                                     Mayo
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'5'" style="border:0px solid transparent  ;font-size: 60%; top: -5px">
                                    Junio
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'6'" style="border:0px solid transparent ;font-size: 60%; top: -5px">
                                     Julio
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'7'" style="border:0px solid transparent ;font-size: 60%; top: -5px">
                                    Agosto
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'8'" style="border:0px solid transparent  ;font-size: 60%; top: -5px">
                                    Septiembre
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'9'" style="border:0px solid transparent  ;font-size: 60%; top: -5px">
                                  Octubre
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'10'" style="border:0px solid transparent   ;font-size: 60%; top: -5px">
                                    Noviembre
                                </label>
                                 <label class="btn btn-primary btn-sm" ng-model="libroEstado.mesSel" uib-btn-radio="'11'" style="border:0px solid transparent  ;font-size: 60%; top: -5px">
                                     Diciembre
                                </label>
                            </div>
            
          
                                 
                        
                        </legend>
                          <form class="form-horizontal " method="get">  
                              <div class="form-group">

                                                    <div class="col-lg-4"> 
                                                     
                                                    </div>
                                                    <div class="col-lg-4">
                                                    <div class="form-group ">
                                                          
                                                    
                                                              
                                                              <div class="input-group m-bot15 ">  
                                                                         <span class="input-group-btn">
                                                                             <button class="btn btn-primary btn-sm" >Saldo {{libroEstado.mes |date:'MMMM'}}: </button></span>
                                                                                <span  class="form-control input-sm m-bot15 " style="text-align:center" > {{libroEstado.saldoMes |currency:'S/ ' :2 }}</span>
                                                                      </div>
                                                       
                                                    </div>
                                                    </div>
                                                   <div class="col-lg-0 "></div>
                                                    <div class="col-lg-4 ">
                                                        
                                                       
                                                                          <span class="input-group-btn ">
                                                                              <button class="btn btn-default btn-sm" > <span ><a>Debe: </a>{{libroEstado.debe |currency:' S/ ' :2 }}</span>   </button>
                                                                             <button class="btn btn-default btn-sm" > <span ><a>Haber: </a>{{libroEstado.haber |currency:' S/ ' :2 }}</span>   </button>
                                                                      
                                                                            </span>
                                                                     
                                                      
                                                    </div>

                                                 

                                                  
                                                                                                                                                                  
                                                </div>

                                
                <div class="form-group">
                      <div class="adv-table editable-table ">

                        <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                <div class="col-lg-6">
                                <div class="col-lg-12">
                                    <div id="editable-sample_length" class="dataTables_length">
                                        <label>
                                            <select size="1" name="editable-sample_length" aria-controls="editable-sample" class="form-control xsmall" ng-model="tablaLibroCaja.parameters().count">
                                                <option value="10" >10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                            </select> 
                                            registros
                                        </label>
                                    </div>
                                </div>
                                </div>

                                <div class="col-lg-6 ">
                                    
                                    <div class="dataTables_filter " id="editable-sample_filter">
                                        
                                       <div class="input-group m-bot15 col-lg-12 ">
                                            <span class="input-group-btn">
                                                <button class="btn btn-warning btn-sm col-lg-12" type="button"><i class="fa fa-search"></i></button>
                                            </span>
                                           <input type="text" class="form-control input-sm m-bot15 col-lg-12" ng-model="tablaLibroCaja.filter().glosa">
                                            <div class="input-group-btn ">
                                                <select class="form-control input-sm m-bot15 ">
                                                    <option>Fecha Operación</option>
                                                    <option>Medio Pago</option>
                                                    <option>Option 3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-hover table-bordered small "  ng-table ="tablaLibroCaja" show-filter="false" >
                                <tr ng-show ="tablaLibroCaja.parameters().page==1">                                     
                                     <td  data-title="'N'" style="width: 40px;text-align:center">
                                        {{}}
                                    </td>
                                    <td data-title="'Fecha Operación'" filter="{fecha:'text'}" sortable="'fecha'" style="width: 40px;text-align:left">
                                        {{}}
                                    </td>
                                     <td  data-title="'Medio Pago'" style="width: 40px;text-align:center">
                                        {{}}
                                    </td>
                                    <td  data-title="'Descripcion Operación'" filter="{glosa:'text'}" style="width: 180px;text-align:left">
                                        <a> {{libroEstado.enunciado}} </a>
                                    </td>
                                    <td data-title="'Razon Social'" style="width: 120px;text-align:left">
                                        {{}}
                                    </td>
                                     <td  data-title="'N° Doc.'" style="width: 50px;text-align:center">
                                        {{}}
                                    </td>
                                    
                                    
                                     <td data-title="'Cod. Cta'" style="width: 50px;text-align:center">
                                        {{}}
                                    </td>
                                     <td data-title="'Descripción Cuenta'" style="width: 100px;text-align:left">
                                        {{}}
                                    </td>
                                    <td data-title="'Debe'" style="width: 50px;text-align:right">
                                        <a>  {{libroEstado.saldoMesAnterior}} </a>
                                    </td><td data-title="'Haber'" style="width: 50px;text-align:right">
                                       {{}}
                                    </td>

                                    <td   data-title="'Estado'" style="text-align: center;width:30px">
                                    </td>

                                    <td   data-title="'Ver'" style="width: 30px">
                                        
                                    </td>
                                                                        
                                </tr>
                                <tbody  ng-repeat="sm in $data">                                                                    
                                 <tr>                                     
                                     <td rowspan="2" data-title="'N'" style="width: 40px;text-align:center">
                                        {{sm.i}}
                                    </td>
                                    <td  rowspan="2" data-title="'Fecha Operación'" filter="{fecha:'text'}" sortable="'fecha'" style="width: 40px;text-align:left">
                                        {{sm.fecha | date:'dd/MM/yyyy'}}
                                    </td>
                                     <td rowspan="2" data-title="'Medio Pago'" style="width: 40px;text-align:center">
                                        {{sm.tipoPago.tipoPagoID}}
                                    </td>
                                    <td rowspan="2" data-title="'Descripcion Operación'" filter="{glosa:'text'}" style="width: 180px;text-align:left">
                                        {{sm.glosa}}
                                    </td>
                                    <td rowspan="2" data-title="'Razon Social'" style="width: 120px;text-align:left">
                                        {{sm.clienteProveedor.datos}}
                                    </td>
                                     <td rowspan="2" data-title="'N° Doc.'" style="width: 50px;text-align:center">
                                        {{sm.numeroD}}
                                    </td>
                                    
                                    
                                     <td data-title="'Cod. Cta'" style="width: 50px;text-align:center">
                                        {{sm.debe.cuentaContableID}}
                                    </td>
                                     <td data-title="'Descripción Cuenta'" style="width: 100px;text-align:left">
                                        {{sm.debe.nombre}}
                                    </td>
                                    <td data-title="'Debe'" style="width: 50px;text-align:right">
                                        {{sm.debe.importe  |currency:'':2}}
                                    </td><td data-title="'Haber'" style="width: 50px;text-align:right">
                                       {{}}
                                    </td>

                                    <td  rowspan="2" data-title="'Estado'" style="text-align: center;width:30px">
                                        <span class="label label-mini" ng-class="{'label-info': sm.estado=='A','label-warning': sm.estado=='I'}">{{sm.estado}}</span>
                                    </td>

                                    <td  rowspan="2" data-title="'Ver'" style="width: 30px">
                                        <button class="btn btn-primary btn-xs" ng-click="prepararEditar(sm)"><i class="fa fa-search" ></i></button>
                                  <!--      <button class="btn btn-danger btn-xs" ng-click="eliminarCuenta(sm.i,sm.cuentaContableID)"><i class="fa fa-trash-o " ></i></button>
                                  -->
                                    </td>
                                    
                                    
                                </tr>
                                
                                 <tr>
                                                                         
                                     <td data-title="'Cod. Cta'" style="width: 50px;text-align:center">
                                        {{sm.haber.cuentaContableID}}
                                    </td>
                                     <td data-title="'Descripción Cuenta'" style="width: 100px;text-align:left">
                                        {{sm.haber.nombre}}
                                    </td>
                                    <td data-title="'Debe'" style="width: 50px;text-align:right">
                                      {{}}
                                    </td><td data-title="'Haber'" style="width: 50px;text-align:right">
                                        {{sm.haber.importe |currency:'':2}}
                                    </td>

                                   
                                    
                                    
                                </tr>
                                </tbody>
                            </table>
                        </div>    

                        </div>
              </div>





                
            </form>  
                    </fieldset>
                           
                        </div>         
                        
                         <div class="form-panel " ng-show="seleccionar.flagReporteI">
                         
                          <form class="form-horizontal " method="get">  
                        <fieldset ><legend>MOVIMIENTO ECONOMICO</legend>
                           <div class="form-group">
                      <div class="adv-table editable-table ">

                      
                        <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-hover table-bordered small " >
                               <thead>
                                <tr>
                                    <th style="width: 80px;text-align:center"> a) SALDO INICIAL AL <a>{{ consulta.desde |date:'dd-MM-yyyy'}}</a> </th>
                                    <th style="width: 60px;text-align:center">b) INGRESOS  </th>
                                    <th style="width: 60px;text-align:center">c) TOTAL INGRESOS (a+b)</th>
                                    <th style="width: 60px;text-align:center">d) TOTAL EGRESOS/GASTOS</th>
                                    <th style="width: 60px;text-align:center">e) SALDO ACTUAL (c-d)</th>
                                </tr>
                                </thead>
                                <tbody>
                                  <tr>                                     
                                     <td style="width: 60px;text-align:center">
                                        {{saldoInicial |currency:' S/ ':2}}
                                    </td>
                                    <td style="width: 60px;text-align:center">
                                        {{totalIngreso.totalIngresos |currency:' S/ ':2}}
                                    </td>
                                     <td style="width: 60px;text-align:center">
                                         <strong>{{totalI |currency:' S/ ':2}}</strong>
                                    </td>
                                    <td  style="width: 60px;text-align:center">
                                        <strong>  {{totalEgreso.totalEgresos |currency:' S/ ':2}} </strong>
                                    </td>
                                    <td style="width: 60px;text-align:center">
                                         <a><strong>{{saldoA |currency:' S/ ':2}}</strong></a>
                                    </td>        
                                                                        
                                </tr>                               
                                </tbody>
                            </table>
                        </div>    

                        </div>
              </div>
            </fieldset >
            <fieldset ><legend>CLASIFICACION</legend>                
                <div class="form-group">
                      <div class="adv-table editable-table ">

                        <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                       
                            </div>
                        <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-hover table-bordered small "  ng-table ="tablaCuentasIngreso"  >
                                 
                                <tbody  ng-repeat="sm in $data">                                                                    
                                 <tr>                                     
                                     <td  data-title="'INGRESOS'" style="width: 200px;text-align:center">
                                        {{sm.nombre}}
                                    </td>
                                    <td   data-title="'Enero'"  style="width: 50px;text-align:right">
                                        {{sm.ene |currency:'':2}}
                                    </td>
                                    
                                    <td data-title="'Febrero'"  style="width: 50px;text-align:right">
                                        {{sm.feb |currency:'':2}}
                                    </td>
                                    <td data-title="'Marzo'" style="width: 50px;text-align:right">
                                        {{sm.mar |currency:'':2}}
                                    </td>
                                     <td  data-title="'Abril'" style="width: 50px;text-align:right">
                                        {{sm.abr |currency:'':2}}
                                    </td>
                                    
                                    
                                     <td data-title="'Mayo'" style="width: 50px;text-align:right">
                                        {{sm.may |currency:'':2}}
                                    </td>
                                     <td data-title="'Junio'" style="width: 50px;text-align:right">
                                        {{sm.jun |currency:'':2}}
                                    </td>
                                    <td data-title="'Julio'" style="width: 50px;text-align:right">
                                        {{sm.jul  |currency:'':2}}
                                    </td>
                                    <td data-title="'Agos.'" style="width: 50px;text-align:right">
                                       {{sm.ago |currency:'':2}}
                                    </td>
                                     <td data-title="'Set'" style="width: 50px;text-align:right">
                                       {{sm.sep |currency:'':2}}
                                    </td>
                                     <td data-title="'Oct.'" style="width: 50px;text-align:right">
                                       {{sm.oct |currency:'':2}}
                                    </td>
                                     <td data-title="'Nov.'" style="width: 50px;text-align:right">
                                       {{sm.nov |currency:'':2}}
                                    </td>
                                     <td data-title="'Dic.'" style="width: 50px;text-align:right">
                                       {{sm.dic |currency:'':2}}
                                    </td>
                                     <td data-title="'TOTAL'" style="width: 60;text-align:center">
                                       {{sm.total |currency:'S/ ':2}}
                                    </td>
                                                                                                                                           
                                </tr>
                                
                              
                                </tbody>
                                  <tr>                                     
                                     <td style="width: 200px;text-align:center">
                                        INGRESOS S/
                                    </td>
                                    <td   style="width: 50px;text-align:right">
                                        {{totalIngreso.Enero |currency:'':2}}
                                    </td>
                                    
                                    <td  style="width: 50px;text-align:right">
                                        {{totalIngreso.Febrero |currency:'':2}}
                                    </td>
                                    <td style="width: 50px;text-align:right">
                                        {{totalIngreso.Marzo |currency:'':2}}
                                    </td>
                                     <td   style="width: 50px;text-align:right">
                                        {{totalIngreso.Abril |currency:'':2}}
                                    </td>
                                    
                                    
                                     <td  style="width: 50px;text-align:right">
                                        {{totalIngreso.Mayo |currency:'':2}}
                                    </td>
                                     <td style="width: 50px;text-align:right">
                                        {{totalIngreso.Junio |currency:'':2}}
                                    </td>
                                    <td  style="width: 50px;text-align:right">
                                        {{totalIngreso.Julio  |currency:'':2}}
                                    </td>
                                    <td  style="width: 50px;text-align:right">
                                       {{totalIngreso.Agosto |currency:'':2}}
                                    </td>
                                     <td  style="width: 50px;text-align:right">
                                       {{totalIngreso.Septiembre |currency:'':2}}
                                    </td>
                                     <td style="width: 50px;text-align:right">
                                       {{totalIngreso.Octubre |currency:'':2}}
                                    </td>
                                     <td  style="width: 50px;text-align:right">
                                       {{totalIngreso.Noviembre |currency:'':2}}
                                    </td>
                                     <td style="width: 50px;text-align:right">
                                       {{totalIngreso.Diciembre |currency:'':2}}
                                    </td>
                                     <td  style="width: 60;text-align:center">
                                         <a>{{totalIngreso.totalIngresos |currency:'S/ ':2}}</a>
                                    </td>
                                                                                                                                           
                                </tr>
                                
                            </table>
                        </div>    

                        </div>
              </div>

            </fieldset >



                
            </form>  
                           
                        </div>     
                           
                        
                        
                         <div class="form-panel "ng-show="seleccionar.flagReporteE">
                        <form class="form-horizontal " method="get">  
                      
            <fieldset ><legend>CLASIFICACION</legend>                
                <div class="form-group">
                      <div class="adv-table editable-table ">

                       
                        <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-hover table-bordered small "  ng-table ="tablaCuentasEgreso" show-filter="false" >
                                 
                                <tbody  ng-repeat="sm in $data">                                                                    
                                 <tr>                                     
                                     <td  data-title="'GASTOS'" style="width: 200px;text-align:center">
                                        {{sm.nombre}}
                                    </td>
                                    <td   data-title="'Enero'"  style="width: 50px;text-align:right">
                                        {{sm.ene |currency:'':2}}
                                    </td>
                                    
                                    <td data-title="'Febrero'"  style="width: 50px;text-align:right">
                                        {{sm.feb |currency:'':2}}
                                    </td>
                                    <td data-title="'Marzo'" style="width: 50px;text-align:right">
                                        {{sm.mar |currency:'':2}}
                                    </td>
                                     <td  data-title="'Abril'" style="width: 50px;text-align:right">
                                        {{sm.abr |currency:'':2}}
                                    </td>
                                    
                                    
                                     <td data-title="'Mayo'" style="width: 50px;text-align:right">
                                        {{sm.may |currency:'':2}}
                                    </td>
                                     <td data-title="'Junio'" style="width: 50px;text-align:right">
                                        {{sm.jun |currency:'':2}}
                                    </td>
                                    <td data-title="'Julio'" style="width: 50px;text-align:right">
                                        {{sm.jul  |currency:'':2}}
                                    </td>
                                    <td data-title="'Agos.'" style="width: 50px;text-align:right">
                                       {{sm.ago |currency:'':2}}
                                    </td>
                                     <td data-title="'Set'" style="width: 50px;text-align:right">
                                       {{sm.sep |currency:'':2}}
                                    </td>
                                     <td data-title="'Oct.'" style="width: 50px;text-align:right">
                                       {{sm.oct |currency:'':2}}
                                    </td>
                                     <td data-title="'Nov.'" style="width: 50px;text-align:right">
                                       {{sm.nov |currency:'':2}}
                                    </td>
                                     <td data-title="'Dic.'" style="width: 50px;text-align:right">
                                       {{sm.dic |currency:'':2}}
                                    </td>
                                     <td data-title="'TOTAL'" style="width: 60;text-align:center">
                                       {{sm.total |currency:' S/ ':2}}
                                    </td>
                                                                                                                                           
                                </tr>
                                
                              
                                </tbody>
                                  <tr>                                     
                                     <td style="width: 200px;text-align:center">
                                        TOTAL GASTOS S/
                                    </td>
                                    <td   style="width: 50px;text-align:right">
                                        {{totalEgreso.Enero |currency:'':2}}
                                    </td>
                                    
                                    <td  style="width: 50px;text-align:right">
                                        {{totalEgreso.Febrero |currency:'':2}}
                                    </td>
                                    <td style="width: 50px;text-align:right">
                                        {{totalEgreso.Marzo |currency:'':2}}
                                    </td>
                                     <td   style="width: 50px;text-align:right">
                                        {{totalEgreso.Abril |currency:'':2}}
                                    </td>
                                    
                                    
                                     <td  style="width: 50px;text-align:right">
                                        {{totalEgreso.Mayo |currency:'':2}}
                                    </td>
                                     <td style="width: 50px;text-align:left">
                                        {{totalEgreso.Junio |currency:'':2}}
                                    </td>
                                    <td  style="width: 50px;text-align:right">
                                        {{totalEgreso.Julio |currency:'':2}}
                                    </td>
                                    <td  style="width: 50px;text-align:right">
                                       {{totalEgreso.Agosto |currency:'':2}}
                                    </td>
                                     <td  style="width: 50px;text-align:right">
                                       {{totalEgreso.Septiembre |currency:'':2}}
                                    </td>
                                     <td style="width: 50px;text-align:right">
                                       {{totalEgreso.Octubre |currency:'':2}}
                                    </td>
                                     <td  style="width: 50px;text-align:right">
                                       {{totalEgreso.Noviembre |currency:'':2}}
                                    </td>
                                     <td style="width: 50px;text-align:right">
                                       {{totalEgreso.Diciembre |currency:'':2}}
                                    </td>
                                     <td  style="width: 60;text-align:center">
                                         <a><strong>{{totalEgreso.totalEgresos |currency:' S/ ':2}}</strong></a>
                                    </td>
                                                                                                                                           
                                </tr>
                                
                            </table>
                        </div>    

                        </div>
              </div>

            </fieldset >



                
            </form>  
                             
                        </div> 
                         <div class="form-panel "ng-show="seleccionar.flagReporteB">
                        <form class="form-horizontal " method="get">  
                        <fieldset ><legend>MOVIMIENTO ECONOMICO</legend>
                           <div class="form-group">
                      <div class="adv-table editable-table ">

                      
                        <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-hover table-bordered small "   >
                                <thead>
                                     <tr>                                     
                                     <th  style="width: 80px;text-align:center">
                                        a) SALDO INICIAL AL <a>{{ consulta.desde |date:'dd-MM-yyyy'}}
                                    </th>
                                    <th  style="width: 60px;text-align:center">
                                        b) INGRESOS  
                                    </th>
                                     <th  style="width: 60px;text-align:center">
                                        C) TOTAL INGRESOS (a+b)
                                    </th>
                                    <th  style="width: 60px;text-align:center">
                                        d) TOTAL EGRESOS/GASTOS
                                    </th>
                                    <th style="width: 60px;text-align:center">
                                        e) SALDO ACTUAL (c-d)
                                    </th>        
                                                                        
                                </tr> 
                                    
                                </thead>
                                  <tr>                                     
                                     <td  data-title="'a) SALDO INICIAL AL'" style="width: 60px;text-align:center">
                                        {{saldoInicial  |currency:' S/ ':2 }}
                                    </td>
                                    <td data-title="'b) INGRESOS  '" style="width: 60px;text-align:center">
                                        {{totalIngreso.totalIngresos  |currency:' S/ ':2}}
                                    </td>
                                     <td  data-title="'C) TOTAL INGRESOS (a+b)'" style="width: 60px;text-align:center">
                                         <strong>{{totalI |currency:' S/ ':2}}</strong>
                                    </td>
                                    <td  data-title="'d) TOTAL EGRESOS/GASTOS'"  style="width: 60px;text-align:center">
                                        <strong>  {{totalEgreso.totalEgresos  |currency:' S/ ':2}}</strong>
                                    </td>
                                    <td data-title="'e) SALDO ACTUAL (c-d)'" style="width: 60px;text-align:center">
                                        <a><strong>{{saldoA |currency:' S/ ':2}}</strong></a>
                                    </td>        
                                                                        
                                </tr>                               
                            </table>
                        </div>    

                        </div>
              </div>
            </fieldset >
            <fieldset ><legend>CLASIFICACION</legend>                
                <div class="col-lg-6">
                <div class="form-group">
                      <div class="adv-table editable-table ">

                        <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                       
                            </div>
                        <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-hover table-bordered small "  ng-table ="tablaCuentasIngreso" show-filter="false" >
                                 
                                <tbody  ng-repeat="sm in $data">                                                                    
                                 <tr>                                     
                                     <td  data-title="'INGRESOS'" style="width: 200px;text-align:center">
                                        {{sm.nombre}}
                                    </td>
                                    
                                    
                                     <td data-title="'TOTAL S/'" style="width: 60;text-align:right">
                                       {{sm.total |currency:' S/ ':2}}
                                    </td>
                                                                                                                                           
                                </tr>
                                
                              
                                </tbody>
                                  <tr>                                     
                                     <td style="width: 200px;text-align:center">
                                        INGRESOS S/
                                    </td>
                                    <td   style="width: 50px;text-align:right">
                                        <a> {{totalIngreso.totalIngresos |currency:' S/ ':2}}</a>
                                    </td>                                                                      
                                                                                                                                           
                                </tr>
                                
                            </table>
                        </div>    

                        </div>
              </div>
                </div>
                <div class="col-lg-6" >
                <div class="form-group">
                      <div class="adv-table editable-table ">

                        <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                       
                            </div>
                        <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-hover table-bordered small "  ng-table ="tablaCuentasEgreso" show-filter="false" >
                                 
                                <tbody  ng-repeat="sm in $data">                                                                    
                                 <tr>                                     
                                     <td  data-title="'EGRESOS'" style="width: 200px;text-align:center">
                                        {{sm.nombre}}
                                    </td>
                                    
                                    
                                     <td data-title="'TOTAL S/'" style="width: 60;text-align:right">
                                       {{sm.total |currency:' S/ ':2}}
                                    </td>
                                                                                                                                           
                                </tr>
                                
                              
                                </tbody>
                                  <tr>                                     
                                     <td style="width: 200px;text-align:center">
                                        TOTAL EGRESOS S/
                                    </td>
                                    <td   style="width: 50px;text-align:right">
                                        <a> {{totalEgreso.totalEgresos |currency:' S/ ':2}}</a>
                                    </td>                                                                      
                                                                                                                                           
                                </tr>
                                
                            </table>
                        </div>    

                        </div>
              </div>
                </div>

            </fieldset >



                
            </form>  
                        </div> 
            </form>       
                                     
                                                   
                    
            </div>
            </div>
        </section>
    </div>
</div>
</div>