<div class="row fichaEvaluacion">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlplanCurricular.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Plan Curricular</h4>
                <span class="tools pull-right">
                    <button type="submit" class="btn btn-primary btn-xs" ng-click="ctrlplanCurricular.nuevo()">Nuevo</button>
                    <!--<button type="submit" class="btn btn-primary btn-sm" ng-click="ctrlplanCurricular.listar()">Listar</button>-->
                </span>
            </header>
            <div class="panel-body">
                <table ng-table="ctrlplanCurricular.curriculas" class="table table-bordered table-hover table-condensed editable-table" >
                    <colgroup>
                        <col width="5%" />
                        <col width="20%" />
                        <col width="25%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="5%" />
                        <col width="15%" />
                    </colgroup>
                    <tr ng-repeat="row in $data" ng-form="rowFormCargo">
                        <td ng-form="num" data-title="'N°'"><span>{{$index}}</span></td>
                        <td sortable="'org'"  ng-form="org" data-title="'Colegio'"><span>{{row.org.nom}}</span></td>
                        <td filter="{nom: 'text'}" sortable="'nom'"  ng-form="nom" data-title="'Nombre'"><span>{{row.nom}}</span></td>
                        <td sortable="'are'"  ng-form="are" data-title="'Area'"><span>{{row.are.nom}}</span></td>
                        <td sortable="'grad'"  ng-form="grad" data-title="'Grado'"><span>{{row.grad.nom}}</span></td>
                        <td sortable="'fec'"  ng-form="fec" data-title="'Año'"><span>{{row.fec | date:'yyyy'}}</span></td>
                        <td>
                            <button class="btn btn-warning btn-xs" ng-click="ctrlplanCurricular.ver(row)" title="Ver">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button class="btn btn-success btn-xs" ng-click="ctrlplanCurricular.generarReporte(row)" title="Reporte">
                                <span class="glyphicon glyphicon-file"></span>
                            </button>
                            <!--<button class="btn btn-primary btn-xs" ng-click="ctrlplanCurricular.editar(row)" title="Editar">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>-->
                            <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="ctrlplanCurricular.eliminar($event,row)" title="Eliminar">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>

                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>
<script type="text/ng-template" id="nuevo_plan_anual.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal css-form" name="myForm" novalidate>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nivel:</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="ctrl.nivel" ng-options="s.nom for s in ctrl.niveles track by s.id" ng-change="ctrl.mostrarGrados(ctrl.nivel)" required>
                            </select>
                            <p ng-show="!ctrl.nivel" class="help-block">Este campo es requerido</p>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Grado: </label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="ctrl.plan.grad"  ng-options="s.nom for s in ctrl.grados track by s.id" ng-change="ctrl.mostrarAreas(ctrl.plan.grad)" ng-disabled="!ctrl.nivel" required></select>
                            <p ng-show="!ctrl.plan.grad" class="help-block">Este campo es requerido</p>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Area: </label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="ctrl.plan.are"  ng-options="s.nom for s in ctrl.areas track by s.id" ng-disabled="!ctrl.plan.grad" required></select>
                            <p ng-show="!ctrl.plan.are" class="help-block">Este campo es requerido</p>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Año:</label>
                        <div style="padding-left: 15px;" class="input-group col-sm-4 form-inline">
                            <input name="fec" type="text" class="form-control"  uib-datepicker-popup="yyyy" ng-model="ctrl.plan.fec" is-open="ctrl.abrirCalendar"
                                   datepicker-options="ctrl.dateOptions" close-text="Cerrar" today-text="Hoy" clear-text="Limpiar" required/>
                            <p ng-show="!ctrl.plan.fec" class="help-block">Este campo es requerido</p>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>

                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.plan.nom" required/>
                            <p ng-show="!ctrl.plan.nom" class="help-block">Este campo es requerido</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save()" ng-disabled="myForm.$invalid">Guardar</button>
        </div>
    </div>
</script>