<!DOCTYPE html>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4><span>Monitoreo de Carpeta Pedagogica</span></h4>   
                <span class="tools pull-right">
                    <button class="btn btn btn-primary btn-sm" ><i class="fa fa-rotate-right"></i> Actualizar</button>
                </span>    
            </header>    
            <div class="panel-body"> 
                <div class="tabla-responsiva">
                    <table ng-table="tablaCarpetasNivelDRE" ng-init="listarCarpetas()" class="table table-bordered table-condensed">                        
                        <colgroup>
                            <col width="5%" />
                            <col width="12%" />
                            <col width="23%" />
                            <col width="25%" />
                            <col width="20%" />
                            <col width="10%" />
                            <col width="5%" />
                        </colgroup>
                        <tr ng-repeat="p in $data">                            
                            <td filter="{carEta: 'text'}" sortable="'carEta'" ng-form="carEta" data-title="'Año'" style="text-align: center">{{p.carEta}}</td>
                            <td filter="{ugelDat: 'text'}" sortable="'ugelDat'" ng-form="ugelDat" data-title="'UGEL'">{{p.ugelDat}}</td>
                            <td filter="{ieDat: 'text'}" sortable="'ieDat'" ng-form="ieDat" data-title="'I.E.'">{{p.ieDat}}</td>
                            <td filter="{docDat: 'text'}" sortable="'docDat'" ng-form="docDat" data-title="'Docente'">{{p.docDat}}</td>                
                            <td filter="{carDes: 'text'}" sortable="'carDes'" ng-form="carDes" data-title="'Carpeta Pedagogica'">{{p.carDes}}</td>
                            <td filter="{carEst: 'text'}" sortable="'carEst'" ng-form="carEst" data-title="'Estado'" style="text-align: center">{{p.carEst}}</td>
                            <td data-title="'Detalles'" style="text-align: center">
                                <button class="btn btn-primary btn-xs" ng-click="verCarpetaDetalle(p.docId)"><i class="fa fa-eye" ></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>