<div class="modal fade"  id="modalAgregarAscenso">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Número de resolución: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Número de resolución" ng-model="nuevoAscenso.numRes">
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de resolución: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoAscenso.fecRes" 
                                           is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha en que surte efecto la resolución: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoAscenso.fecEfe" 
                                           is-open="date_2" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_2 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Escala </label>
                            <div class="col-sm-3">
                                <select class="form-control input-sm m-bot15" ng-model="nuevoAscenso.esc" >
                                   <option ng-repeat="e in escalas" value="{{e.id}}">{{e.title}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Adjuntar resolución </label>
                            <div class="col-sm-3 form-inline">
                                <input-file nombre="nuevoLegajoAsc.nom" archivo="nuevoLegajoAsc.archivo"></input-file>
                                <view-file url="{{nuevoLegajoAsc.url}}" nombre="nuevoLegajoAsc.nom" archivo="nuevoLegajoAsc.archivo" vernombre='true'></view-file>
                            </div>
                        </div> 
                        
                    </form>       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="agregarAscenso()">Registrar datos</button>
            </div>
        </div>
    </div>
</div>       
