<div class="modal fade"  id="modalEditarPariente">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form name="myFormPe">
                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">Parentesco *: </label>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="parienteSel.tipoParienteId" ng-options="p.tpaId as p.tpaDes for p in tipoPariente" required>
                                </select>
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label"> Apellido Paterno *: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Apellido Paterno" ng-model="parienteSel.parApePat" required>
                            </div>
                        </div> 

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label"> Apellido Materno: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Apellido Materno" ng-model="parienteSel.parApeMat">
                            </div>
                        </div> 

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label"> Nombres *: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Nombres" ng-model="parienteSel.parNom" required>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">Sexo *: </label>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="parienteSel.parSex" required>
                                    <option ng-repeat="s in sexo" value="{{s.id}}">{{s.title}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de Nacimiento *:</label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="parienteSel.parFecNac" 
                                           is-open="date_1" current-text="Hoy" close-text="Cerrar" clear-text="Limpiar" show-meridian="true" datepicker-options="{startingDay: 1, yearFormat: 'yy'}" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">DNI: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" maxlength="8" placeholder="DNI" ng-model="parienteSel.parDni" ng-disabled="true">
                            </div>
                            <div class="col-sm-3 form-inline">
                                <input-file ></input-file>
                                <view-file ></view-file>
                            </div>
                        </div>                             

                        <div class="form-group form-inline">   
                            <label class="col-sm-3 control-label">Teléfono fijo: </label>
                            <div style="padding-left: 15px;" class="input-group col-sm-4 form-inline">
                                <input type="text" class="form-control" placeholder="Teléfono fijo" ng-model="parienteSel.parFij">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" disabled="disabled"><i class="glyphicon glyphicon-earphone"></i></button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Celular1: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Número Móvil1" ng-model="parienteSel.parNum1">
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Celular2: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Número Móvil2" ng-model="parienteSel.parNum2">
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Email: </label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="Correo electrónico" ng-model="parienteSel.parEmail">
                            </div>
                        </div>
                    </div>       
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-disabled="myFormPe.$invalid" data-dismiss="modal" ng-click="actualizarPariente()">Registrar datos</button>
            </div>
        </div>
    </div>
</div>       
