<div class="row" >
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                LISTA DE TRABAJADORES 
            </header>
            <div class="panel-body">
                <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="table-responsive" ng-init="listarTrabajadores()">
                        <table class="table table-striped table-hover"  ng-table ="tablaTrabajadores" >
                            <tr ng-repeat="d in $data">
                                <td data-title="'Apellido Paterno'"  style="text-align: center;width: 30px" filter="{ perApePat: 'text'}" sortable="'perApePat'">{{d.perApePat}}</td>
                                <td data-title="'Apellido Materno'"  style="text-align: center;width: 30px" filter="{ perApeMat: 'text'}" sortable="'perApeMat'">{{d.perApeMat}}</td>
                                <td data-title="'Nombre'"  style="text-align: center;width: 30px" filter="{ perNom: 'text'}" sortable="'perNom'">{{d.perNom}}</td>
                                <td data-title="'DNI'"  style="text-align: center;width: 30px" filter="{ perDni: 'text'}" sortable="'perDni'">{{d.perDni}}</td>
                                <td data-title="'Años de servicios'"  style="text-align: center;width: 30px" filter="{ traAnoSer: 'text'}" sortable="'traAnoSer:'">{{d.traAnoSer}}</td>
                                <td data-title="'Acción'" style="text-align: center;width: 100px">
                                    <button class="btn btn-warning btn-xs" title="Ver Legajo Personal" ng-click="prepararVerLegajoPersonal(d)">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                    <button class="btn btn-info btn-xs" title="Ver Ficha Escalafonaria" ng-click="verFichaEscalafonaria(d)">
                                        <span class="glyphicon glyphicon-file" ></span>
                                    </button>
                                    <button class="btn btn-primary btn-xs" title="Actualizar Ficha Escalafonaria" ng-click="prepararModificarFichaEscalafonaria(d)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button class="btn btn-danger btn-xs md-primary md-raised" title="Eliminar Trabajador" ng-click="eliminarTrabajador(d)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>    
                </div>
            </div>
        </section>
    </div>
</div>
