<div class="row"><div class="col-lg-12">
<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="EXPEDIENTES POR AREA" >
    <section class="panel">
    
    <div class="panel-body" >        
        <div class="form-horizontal" >
            <div class="form-group" >
                <label class="col-sm-offset-2 col-sm-2 control-label">Institucion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.orgID" >
                        <option value="0"></option>
                        <option ng-repeat="o in organizaciones" value="{{o.organizacionID}}">{{o.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">A</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="generarEstadistica()">Generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div style="height: 450px" align="center">
            <canvas id="graExpedienteArea" width="800" height="450"></canvas>
        </div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirGrafico()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
    </div>

    </section>
    </uib-tab>
    <uib-tab index="1" heading="EXPEDIENTES POR TRABAJADOR" >
    <section class="panel">
    
    <div class="panel-body" >        
        <div class="form-horizontal" >
            <div class="form-group" >
                <label class="col-sm-2 control-label">Institucion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.orgID2" ng-change="listarAreas(busqueda.orgID2)">
                        <option value="0"></option>
                        <option ng-repeat="o in organizaciones" value="{{o.organizacionID}}">{{o.nombre}}</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Area</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.areID" >
                        <option value="0"></option>
                        <option ng-repeat="o in areas" value="{{o.areaID}}">{{o.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">A</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="generarEstadistica4()">Generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div style="height: 450px" align="center">
            <canvas id="graExpedienteTrab" width="800" height="450"></canvas>
        </div>
         <div class="tabla-responsiva"><table ng-table="tabla" class="table table-striped table-hover" show-filter="true" >
            <colgroup>
                <col width="auto" /><col width="150px" /><col width="150px" /><col width="150px" /><col width="150px" />
            </colgroup>
            <tr ng-repeat="j in $data">
                <td data-title="'Trabajador'" style="text-align: center">{{j.Responsaletr}}</td>
                <td data-title="'Recibidos'" style="text-align: center">{{j.expedientestr}}</td>
                <td data-title="'Derivados'" style="text-align: center">{{j.derivadostr}}</td>
                <td data-title="'Devueltos'" style="text-align: center">{{j.devueltostr}}</td>
                <td data-title="'Finalizados'" style="text-align: center">{{j.finalizadostr}}</td>
            </tr>
        </table>
        </div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirGrafico4()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
    </div>

    </section>
    </uib-tab>
    <uib-tab index="2" heading="EXPEDIENTES POR TIPO">
        <section class="panel"><div class="panel-body" >
            
        <div class="form-horizontal" >
            <div class="form-group" >
                <label class="col-sm-offset-2 col-sm-2 control-label">Institucion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.orgID" >
                        <option value="0"></option>
                        <option ng-repeat="o in organizaciones" value="{{o.organizacionID}}">{{o.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">A</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="generarEstadistica2()">Generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div style="height: 450px" align="center">
            <canvas id="graTipoTramite" width="800" height="450"></canvas>
        </div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirGrafico2()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
                
        </div></section>
    </uib-tab>
    <uib-tab index="3" heading="REPORTE POR ORGANIZACION">
        <section class="panel"><div class="panel-body" >
            
        <div class="form-horizontal" >
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">A</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="generarEstadistica3()">Generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div class="tabla-responsiva"><table ng-table="tabla" class="table table-striped table-hover" show-filter="true" >
            <colgroup>
                <col width="20px" /><col width="auto" /><col width="150px" /><col width="150px" /><col width="150px" />
            </colgroup>
            <tr ng-repeat="o in $data">
                <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                <td data-title="'Organizacion'" filter="{ organizacion: 'text'}" sortable="'organizacion'">{{o.organizacion}}</td>
                <td data-title="'Expedientes'" filter="{ expedientes: 'text'}" sortable="'expedientes'" style="text-align: center">{{o.expedientes}}</td>
                <td data-title="'Finalizados'" filter="{ finalizados: 'text'}" sortable="'finalizados'" style="text-align: center">{{o.finalizados}}</td>
                <td data-title="'Entregados'" filter="{ entregados: 'text'}" sortable="'entregados'" style="text-align: center">{{o.entregados}}</td>
            </tr>
        </table></div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirGrafico3()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
                
        </div></section>
    </uib-tab>
     <uib-tab index="4" heading="REPORTE POR AREA ">
        <section class="panel">
            <div class="panel-body" >
            
        <<div class="form-horizontal" >
            <div class="form-group" >
                <label class="col-sm-offset-2 col-sm-2 control-label">Institucion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.orgID" >
                        <option value="0"></option>
                        <option ng-repeat="o in organizaciones" value="{{o.organizacionID}}">{{o.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">A</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="reporteArea()">Generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div class="tabla-responsiva"><table ng-table="tabla" class="table table-striped table-hover" show-filter="true" >
            <colgroup>
                <col width="auto" /><col width="150px" /><col width="150px" /><col width="150px" /><col width="150px" />
            </colgroup>
            <tr ng-repeat="o in $data">
                
                <td data-title="'Area'" style="text-align: center">{{o.areaa}}</td>
                <td data-title="'Recibidos'"  style="text-align: center">{{o.recibidosa}}</td>
                <td data-title="'Rechazados'" style="text-align: center">{{o.devueltosa}}</td>
                <td data-title="'Derivados'" style="text-align: center">{{o.derivadosa}}</td>
                <td data-title="'Finalizados'"  style="text-align: center">{{o.finalizadosa}}</td>
            </tr>
            <tr data-title="''">
            
        </table></div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirReporteArea()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
                
        </div></section>
    </uib-tab>
    <uib-tab index="5" heading="REPORTE POR TRABAJADOR">
        <section class="panel"><div class="panel-body" >
            
        <div class="form-horizontal" >
            <div class="form-group" >
                <label class="col-sm-2 control-label">Institucion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.orgID2" ng-change="listarAreas(busqueda.orgID2)">
                        <option value="0"></option>
                        <option ng-repeat="o in organizaciones" value="{{o.organizacionID}}">{{o.nombre}}</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Area</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.areID" >
                        <option value="0"></option>
                        <option ng-repeat="o in areas" value="{{o.areaID}}">{{o.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">A</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="reporteTrabajador()">Generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div class="tabla-responsiva"><table ng-table="tabla" class="table table-striped table-hover" show-filter="true" >
            <colgroup>
                <col width="auto" /><col width="150px" /><col width="150px" /><col width="150px" /><col width="150px" />
            </colgroup>
            <tr ng-repeat="j in $data">
                <td data-title="'Trabajador'" style="text-align: center">{{j.Responsaletr}}</td>
                <td data-title="'Recibidos'" style="text-align: center">{{j.expedientestr}}</td>
                <td data-title="'Derivados'" style="text-align: center">{{j.derivadostr}}</td>
                <td data-title="'Devueltos'" style="text-align: center">{{j.devueltostr}}</td>
                <td data-title="'Finalizados'" style="text-align: center">{{j.finalizadostr}}</td>
            </tr>
        </table>
        </div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirReporteTrabajador()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
                
        </div></section>
    </uib-tab>
     <uib-tab index="6" heading="REPORTE POR TIPO TRAMITE">
        <section class="panel"><div class="panel-body" >
            
          <div class="form-horizontal" >
            <div class="form-group" >
                <label class="col-sm-offset-2 col-sm-2 control-label">Institucion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.orgID" >
                        <option value="0"></option>
                        <option ng-repeat="o in organizaciones" value="{{o.organizacionID}}">{{o.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" align="center">
                <label class="col-sm-offset-2 col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <div class="input-group " >
                        <input type="date" class="form-control " ng-model="busqueda.desde" />
                        <span class="input-group-addon">a</span>
                        <input type="date" class="form-control " ng-model="busqueda.hasta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="reporteTipo()">Generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div class="tabla-responsiva">
            <table ng-table="tabla" class="table table-striped table-hover" show-filter="true" >
            <colgroup>
                <col width="auto" /><col width="150px" /><col width="150px" /><col width="150px" /><col width="150px" />
            </colgroup>
            <tr ng-repeat="o in $data">
                <td data-title="'Tipo Tramite'" style="text-align: center">{{o.TipoTra}}</td>
                <td data-title="'Recibidos'"  style="text-align: center">{{o.recibidost}}</td>
                <td data-title="'Entregados'"  style="text-align: center">{{o.entregadost}}</td>
                <td data-title="'Finalizados'"  style="text-align: center">{{o.finalizadost}}</td>
            </tr>
        </table></div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirReporteTipoTramite()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
                
        </div></section>
    </uib-tab>
     <uib-tab index="7" heading="REPORTE POR RUTA">
        <section class="panel"><div class="panel-body" >
            
          <div class="form-horizontal" >
            <div class="form-group" >
                <label class="col-sm-5 control-label">Codigo Expediente</label>
                <div class="col-sm-2">
                    <input type="text"   ng-model="busqueda.codigo" >
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success " type="button" style="margin-top:-6px;" ng-click="reporteRuta()">Generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div class="tabla-responsiva">
            <table ng-table="tabla" class="table table-striped table-hover" show-filter="true" >
            <colgroup>
                <col width="auto" /><col width="200px" /><col width="200px" /><col width="200px" /><col width="150px" />
            </colgroup>
            <tr ng-repeat="e in $data">
                <td data-title="'Codigo Expediente'" style="text-align: center">{{e.codigoExp}}</td>
                <td data-title="'Area'"  style="text-align: center">{{e.areae}}</td>
                <td data-title="'Fecha Ingreso'"  style="text-align: center">{{e.fechaIngreso}}</td>
                <td data-title="'Fecha Salida'"  style="text-align: center">{{e.fechaSalida}}</td>
                <td data-title="'Estado'"  style="text-align: center">{{e.estadoe}}</td>
            </tr>
        </table></div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirReporteRuta()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
                
        </div></section>
    </uib-tab>
</uib-tabset>

</div></div>
