<!--
<div ng-app="app" ng-controller="confRepCtrl">
    <div class="panel-custom" > 
        <h3 class="subheader">CONFIGURACION DE REPOSITORIO</h2>
        <br>
            <h4>Seleccione una opcion de configuración</h4>


            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#/listarTiposDoc">Tipos de Documentos</a></li>
   
            </ul>

    </div>
   
    <div class="modal fade" id="modalNuevoTipDoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">REGISTRAR TIPO DE ARCHIVO </h4>
                </div>
                <div class="modal-body">
                    <div class="form-panel">
                        <form class="form-horizontal style-form" method="get">        
                            <div class="form-group" style="margin-bottom: 0;">
                                <div class='col-sm-8'>
                                    <label class="control-label">Nombre Tipo Documento</label>
                                    <input type="text" class="form-control" ng-model="tipDoc.nom" placeholder="Nombre Completo del Tipo de Doc">
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Abreviatura</label>
                                    <input type="text" class="form-control" ng-model="tipDoc.abr">
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label class="control-label" for="desTipDoc">Descripcion</label>
                                        <textarea ng-model="tipDoc.des" id="desTipDoc" class="form-control" rows="6"></textarea>
                                    </div>
                                </div>                                    
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="regTipDoc()">Registrar</button>
                </div>
            </div>

        </div>
    </div>
</div>
-->    
    
    
<div ng-app="app" ng-controller="listaTiposDocCtrl">
    <div class="row"><div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <h4>LISTA DE TIPOS DE DOCUMENTOS</h4>
                    <span class="tools pull-right">
                        <button class="btn btn btn-primary " ng-click="listarTipDocs()"><i class="fa fa-rotate-right"></i> Listar</button>
                    </span>
                </header>
                <div class="panel-body" ng-init="listarTipDocs()" ng-if="mostrar1" >
                    <table ng-table="tablaTipoDoc" class="table table-condensed table-bordered table-striped">
                        <colgroup>
                            <col width="25%"/>
                            <col width="60%"/>
                            <col width="15%"/>
                        </colgroup>
                        <tr  ng-if="td.est === 'A'" ng-repeat="td in $data"  >
                            <td title="'Abreviatura'"  filter="{abr: 'text'}" sortable="'abr'">{{td.abr}}
                            <td title="'Nombre'"  filter="{nom: 'text'}" sortable="'nom'">{{td.nom}}</td>
                            <!--<td>{{td.fec}}</td>-->
                            <!--<td>{{td.est}}</td>-->
                            <td>
                                <button class="btn btn-primary btn-xs" title="Editar Documento" ng-click="prepararEditar($index, td)"><i class="fa fa-pencil" ></i></button>
                                <button class="btn btn-danger btn-xs" title="Eliminar Documento"ng-click="eliminarTipoDoc($index, td.id)"><i class="fa fa-trash-o " ></i></button>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <div align="left">            
                        <button class="btn btn btn-primary"  ng-click="mostrarLisDoc()" >Deshabilitados</button>
                        <!--<button class="btn btn-danger" ng-click="eliminarTiposDocs()"><i class="fa fa-times" ></i> Eliminar</button>-->
                    </div>
                    <div align="right">            
                        <button class="btn btn btn-primary" data-toggle="modal" data-target="#modalNuevoTipDoc"><i class="fa fa-plus" ></i> Agregar</button>
                        <!--<button class="btn btn-danger" ng-click="eliminarTiposDocs()"><i class="fa fa-times" ></i> Eliminar</button>-->
                    </div>
                </div>
                <!--deshabilitados-->
                <div class="panel-body" ng-init="listarTipDocs()" ng-if="!mostrar1" >
                    <table ng-table="tablaTipoDoc" class="table table-condensed table-bordered table-striped">
                        <colgroup>
                            <col width="25%"/>
                            <col width="60%"/>
                            <col width="15%"/>
                        </colgroup>
                        <tr  ng-if="td.est === 'E'" ng-repeat="td in $data"  >
                            <td title="'Abreviatura'"  filter="{abr: 'text'}" sortable="'abr'">{{td.abr}}
                            <td title="'Nombre'"  filter="{nom: 'text'}" sortable="'nom'">{{td.nom}}</td>
                            <!--<td>{{td.fec}}</td>-->
                            <!--<td>{{td.est}}</td>-->
                            <td>
                                <button class="btn btn-primary btn-xs" title="Restablecer Documento" ng-click="habTipoDoc($index, td)"><i class="fa fa-check" ></i></button>
                                <!--<button class="btn btn-danger btn-xs" title="Eliminar Documento"ng-click="eliminarTipoDoc($index, td.id)"><i class="fa fa-trash-o " ></i></button>-->
                            </td>
                        </tr>
                    </table>
                    <br>
                    <div align="left">            
                        <button class="btn btn btn-primary" ng-click="mostrarLisDoc()" >Habilitados</button>
                        <!--<button class="btn btn-danger" ng-click="eliminarTiposDocs()"><i class="fa fa-times" ></i> Eliminar</button>-->
                    </div>
                    
                </div>
            </section>
        </div></div>

       <!-- Modal -->
    <div class="modal fade" id="modalEditarTipDoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">ACTUALIZAR TIPO DOCUMENTO</h4>
                </div>
                <div class="modal-body">
                    <form name="tipoEspDocForm" novalidate>
                    
                    <div class="form-panel">
                        <form class="form-horizontal style-form" method="get">        
                            <div class="form-group" style="margin-bottom: 0;">
                                <div class="col-sm-8">
                                    <label class="control-label">Nombre Tipo Documento</label>
                                    <input name="name" type="text" class="form-control" ng-model="tipoDocSel.nom" placeholder="Nombre Completo del Tipo de Doc" required>                                    
                                    <p ng-show="tipoEspDocForm.name.$invalid && !tipoEspDocForm.name.$pristine" >El nombre es requerido</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Abreviatura</label>
                                    <input name="abr" type="text" class="form-control" ng-model="tipoDocSel.abr" placeholder="Abreviatura del documento" required>
                                    <p ng-show="tipoEspDocForm.abr.$invalid && !tipoEspDocForm.abr.$pristine" >La abreviatura es requerida</p>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="control-label" for="desTipDoc">Descripcion</label>
                                    <textarea name="desc" ng-model="tipoDocSel.des" id="desTipDoc" class="form-control" rows="6" placeholder="Breve descripción del documento"  required></textarea>
                                    <p ng-show="tipoEspDocForm.desc.$invalid && !tipoEspDocForm.desc.$pristine" >La descripción es requerida</p>
    
                                </div>
                            </div>                                                               
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" ng-disabled="tipoEspDocForm.$invalid" ng-click="editarTipoDoc()">Guardar Cambios</button>                   
                </div>
            </div>
        </div>
    </div>
    <!--***************************************************************************************************************--
                                                        Nuevo Tipo de Doc
    <!--***************************************************************************************************************-->
     <div class="modal fade" id="modalNuevoTipDoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">REGISTRAR TIPO DE ARCHIVO </h4>
                </div>
                <div class="modal-body">
                    <form name="tipoEspNueForm" novalidate>
                        <div class="form-panel">
                            <form class="form-horizontal style-form" method="get">        
                                <div class="form-group" style="margin-bottom: 0;">
                                    <div class='col-sm-8'>
                                        <label class="control-label">Nombre Tipo Documento</label>
                                        <input name="name" type="text" class="form-control" ng-model="tipDoc.nom" placeholder="Nombre Completo del Tipo de Doc" required>
                                        <p ng-show="tipoEspNueForm.name.$invalid && !tipoEspNueForm.name.$pristine" >El nombre es requerido</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Abreviatura</label>
                                        <input name="abre" type="text" class="form-control" ng-model="tipDoc.abr" placeholder="Nombre de la abreviatura" required>
                                        <p ng-show="tipoEspNueForm.abre.$invalid && !tipoEspNueForm.abre.$pristine" >La abreviatura es requerida</p>
                                    </div>                                                                                      
                                </div>
                                  <div class="form-group">
                                        <div class="col-sm-12">
                                            <label class="control-label" for="desTipDoc">Descripcion</label>
                                            <textarea  name="des" ng-model="tipDoc.des" id="desTipDoc" class="form-control" rows="6" placeholder="Breve descripción del documento" required></textarea>
                                            <p ng-show="tipoEspNueForm.des.$invalid && !tipoEspNueForm.des.$pristine" >La descripción es requerida</p>
                                        </div>
                                    </div>   

                        </div>
                        <div class="modal-footer">
                             <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" ng-disabled="tipoEspNueForm.$invalid" ng-click="regTipDoc()">Registrar</button>
                        </div>
                    </form> 
            </div>

        </div>
    </div>
</div>
</div>


