<style> .success { background-color: #C1F5AC; }
    select:invalid { color: gray; }
    .modal.and.carousel {
    position: fixed;    
    }
</style>
<div ng-app="app" ng-controller="entornoInicioCtrl" class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4>ENTORNO DE DOCUMENTOS DE GESTION</h4>
            </header>
            <div ng-init="construirUrlGen()"></div>
            <div class="panel-body">
                <div style="float:left; display:block; margin:0px 5px 5px">
                    <input type="text" class="form-control" placeholder="Buscar Directorio" ng-model="predicate">
                    <div ng-init="levantarDatosModalNuevoFile()"></div>
                    <div style="margin:5px 0px 5px" class="btn-group" ng-show="vistaUgel">
                        <button class="btn btn-primary btn-sm" type="button" ng-click="prepararNuevoDir()"><i class="fa fa-plus"></i> Nuevo</button>
                        <button class="btn btn-primary btn-sm" type="button" ng-click="prepararEdicionDir()"><i class="fa fa-edit"></i>Editar</button>
                        <button class="btn btn-primary btn-sm" type="button" ng-click="eliminarDirect()"><i class="fa fa-times"></i> Eliminar</button>
                    </div>
                    <br>
                    <div style="overflow: scroll; width:200px; height:600px">
                        <div ng-init="listarDocs();">
                            <h3>Arbol de Directorios</h3>
                            <treecontrol class="tree-classic" tree-model="rolelist" node-children="children" on-selection="showSelected(node)" order-by="orderby" reverse-order="{{reverse}}" filter-expression="predicate" filter-comparator="comparator">
                                {{node.roleName}} ({{node.roleId}})
                            </treecontrol>
                        </div>
                    </div>
                </div>
                
                <div style="display:inline-block; width:70%;">
                    
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder=" Buscar Documento" ng-model="filtroNombreDoc">
                        </div>
                       
                        <div class="col-sm-2">
                            <div class="dropdown">
                              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-show="vistaAdmin"><i class="fa fa-file-archive-o"></i> Reportes
                              <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                <li><a title="Generar reporte de documentos de gestion" ng-click="preparaReporteGeneral()">Reportes de documentos</a></li>
                                <!--<li><a  ng-show="vistaAdmin" ng-click="prepararReporteIGA()" title="Generar reporte IGA"> Reporte IGA</a></li>-->                                
                              </ul>
                            </div>                        
                             
                        </div>
                 
                    <div style="margin:5px 0px 5px" class="login-social-link centered">
                     <br><br>
                        <button class="btn btn-primary btn-sm" data-toggle="modal" ng-click="limpiarData()" data-target="#modalNuevoArch" ng-show="vistaAdmin" title="Añadir documento"><i class="fa fa-plus"></i> Nuevo</button>
                        <!--<button class="btn btn-primary btn-sm" ng-click="compartirArch()" ng-show="vistaAdmin"><i class="fa fa-group"></i> Compartir</button>-->
                        <button title="Busca segun tipeas en los campos que requieras, filtra la información" class="btn btn-primary btn-sm" ng-click="activarFiltroEsp()"><i class="fa fa-search-plus" ></i> Búsqueda Personalizada</button>
                        <!--<button class="btn btn-primary btn-sm" ><i class="fa fa-print"></i  >Imprimir</button>-->
                        <br><br>
                        <div class="panel-body">
                            <div class="tabla-responsiva">
                                    <table  ng-table="tablaRepositorio" class="table table-condensed table-bordered table-striped" show-filter=filtroGen>
                                        <colgroup>
                                            <!--<col width="5%"/>-->
                                            <col width="40%"/>
                                            <col width="5%"/>
                                            <col width="5%"/>
                                            <col width="15"/>
                                            <col width="5%"/>
                                            <col width="15%"/>
                                            <col width="30%"/>
                                        </colgroup>
                                    <tr  ng-repeat="docges in $data| filter:{nomFil:filtroNombreDoc}:false" ng-class="{'success':docSelect.index == ($index+'')}" context-menu="menuOptions" >

                                        <!--<td title="'Select'" ><input type="radio" name="radio-primary" ng-model="docSelect.index" ng-value="$index+''"/></td>-->
                                        <td title="'Nombre'"  filter="{ nomFil: 'text'}"  sortable="'nomFil'" class="hidden-phone"  style="text-align: center" >{{docges.nomFil}}</td>
                                        <td title="'Tipo'"  filter="{ tesFilAli: 'text'}"  sortable="'tesFilAli'" class="hidden-phone"  style="text-align: center" >{{docges.tesFilAli}}</td>
                                        <td title="'Version'"  filter="{ verFil: 'text'}"  sortable="'verFil'"  style="text-align: center" > {{docges.verFil}}</td>
                                        <td title="'Autoria'"  filter="{ autoria: 'text'}"  sortable="'autoria'"  style="text-align: center" > <span class="label label-default label-mini"> {{docges.autoria}}</span></td>
                                        <td title="'Tamaño(KB)'"  filter="{ tamFil: 'text'}"  sortable="'tamFil'"  style="text-align: center" > <span class="label label-info label-mini">{{docges.tamFil}}</span></td>
                                        <td title="'Fecha'"  filter="{ fecCre: 'text'}"  sortable="'fecCre'" class="hidden-phone"  style="text-align: center" >{{docges.fecCre| date:'yyyy/MM/dd'}}</td>

                                        <td title="'Accion'" style="text-align: center" >
                                            <div ng-show="docges.tipFil === 'A'">                                        
                                                <!--<view-file  nombre="docges.urlFil" archivo="docges.urlFil" nover="true"></view-file>-->
                                                <button class="btn btn-primary btn-sm" title="Ver" ><view-file  nombre="docges.urlFil" archivo="docges.urlFil" nover="true"></view-file></button>
                                                <!--<button class="btn btn-primary btn-sm" title="Editar" ng-click="prepararEditarDoc(docges)" ng-show="docges.autoria=='Propio'"><i class="fa fa-pencil"></i></button>-->

                                                <!--<button class="btn btn-success btn-sm" ng-click="crearCopiaArch(docges)" ng-show="vistaAdmin"><i class="fa fa-copy"></i></button>-->
                                                <button class="btn btn-success btn-sm" title="Historial" ng-click="prepararHistorial(docges,docges.tesFilAli)" ng-show="docges.autoria=='Propio'"><i class="fa fa-book" aria-hidden="true"></i></button>
                                                <button class="btn btn-primary btn-sm" title="Compartir" ng-click="compartirArch(docges)" ng-show="docges.autoria=='Propio'"><i class="fa fa-group"></i></button>
                                                <button ng-click="eliminarDoc($index,docges)"  title="Eliminar"class="btn btn-danger btn-sm" type="button" ng-show="docges.autoria=='Propio'"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                            </table> 
                            </div>
                        </div>
                           
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!--***************************************************************************************************************--
                                                                    Nuevo Directorio
    <!--***************************************************************************************************************-->
    <div class="modal fade" id="modalNuevoDirect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button  title="Nueva carpeta" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">NUEVO DIRECTORIO</h4>
                </div>
                <div class="modal-body">
                    <div class="form-panel">
                        <h4 class="mb">FORMULARIO DIRECTORIO</h4>
                        <form class="form-horizontal style-form" method="get">
                            <div class="form-group" style="margin-bottom: 0;">
                                <div class="col-sm-12">
                                    <label class="control-label">Nombre de Directorio</label>
                                    <input  placeholder="Ingrese nombre de carpeta" type="text" class="form-control" ng-model="directorio.nomDir">
                                </div>
                                
                            </div>
                            <div class="form-group" style="margin-bottom: 0;">
                                <div class="col-sm-12">
                                    <label class="control-label">Ubicacion a Guardar</label>
                                    <input placeholder="Ubicacion del directorio" type="text" class="form-control"  ng-model="directorio.urlDir" readonly/>   
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0;">
                                <!--
                                <div class="col-sm-6">
                                    <label class="control-label">Version</label>
                                    <input type="text" class="form-control" ng-model="directorio.verDir">
                                </div>
                                -->
                                <div class="col-sm-6">
                                    <label class="control-label">Carpeta Padre</label>
                                    <input placeholder="Cancele acción,realice clic en directorio Repositorio" type="text" class="form-control" ng-model="directorio.nombrePadre" readonly/>
                                </div>
                            </div>
                            <br>
                            <br>
                             <div class="form-group" style="margin-bottom: 0;">
                                <div class="col-sm-6">  
                                    <label for="inputSuccess"> Agregar Proteccion</label>
                                    <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="flagProteccion">
                                </div>
                                 <div class="col-md-6">  
                                    <label for="inputSuccess" ng-model="labelCndPlazo"> {{labelCndPlazo}}</label>
                                    <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="flagControlPlazo" ng-click="cargarValsPlazos()">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6" ng-show="flagProteccion">
                                    <label class="control-label">Cod. Protección</label>
                                    <input  placeholder="Ingrese contraseña" type="text" class="form-control"  ng-model="directorio.proteccion">
                                </div>    
                            </div>
                            <br>
                            <div class="form-group" style="margin-bottom:0 ;" ng-show="flagControlPlazo">
                                    <div class="col-sm-12">
                                        <h5><label class="cotrol-label">Agregar Plazo de Subida</label></h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label">Fecha Inicio</label>
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup ng-model="fechasPlazo.fecini" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                              <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label">Fecha Fin</label>
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup ng-model="fechasPlazo.fecfin" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                              <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="agregarDirGes()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!--***************************************************************************************************************--
                                                                    Edicion Directorio
    <!--***************************************************************************************************************-->
    <div class="modal fade" id="modalEditDirect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">EDITAR DIRECTORIO</h4>
                </div>
                <div class="modal-body">
                    <div class="form-panel">                        
                        <form class="form-horizontal style-form" method="get">
                            <div class="form-group" style="margin-bottom: 0;">                                
                                <div class="col-sm-12">
                                    <label class="control-label">Nombre de Directorio</label>
                                    <input  placeholder="Ingrese nombre de carpeta" type="text" class="form-control" ng-model="directSelected.nomFil">
                                </div>
                            </div>
                            <br>
                            <div class="form-group" style="margin-bottom: 0;">                                
                                <div class="col-sm-12">
                                    <label class="control-label">Ubicacion Actual</label>
                                    <input type="text" class="form-control"  ng-model="directSelected.urlFil">
                                </div>
                            </div>
                            <br>
                              <div class="form-group">
                                <div class="col-sm-12">  
                                    <!--<label for="inputSuccess" ng-model="labelCndPlazo"> {{labelCndPlazo}}</label>-->
                                    <label for="inputSuccess"> Editar Codigo Proteccion</label>
                                    <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="flagProteccionEditar" >
                                </div>                                
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6" ng-show="flagProteccionEditar">
                                      <label class="control-label">Codigo Proteccion</label>
                                    <input placeholder="Ingrese contraseña" type="text" class="form-control"  ng-model="directSelected.iteProt">
                                  <!--      <input type="text" class="form-control" style="width: 70px;" ng-model="clave">
                                        <button class="btn btn-primary btn-xs" ng-click="verificarClave(directSelected)"><i class="fa" ng-class="{'fa-check':clave,'fa-pencil':!clave}" ></i></button>-->
                                </div>
                            </div>
                            <br>
                            <div class="form-group" style="margin-bottom: 0;">
                                <div class="col-sm-6">  
                                    <!--<label for="inputSuccess" ng-model="labelCndPlazo"> {{labelCndPlazo}}</label>-->
                                    <label for="inputSuccess"> {{mensajePlazoEditar}}</label>
                                    <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="flagControlPlazoEditar" >
                                </div>
                                
                                <div class="col-sm-6" ng-show="flagControlPlazoEditar">
                                    <div ng-show="directSelected.plazoIni">
                                    <label for="inputSuccess"> Eliminar Plazo</label>
                                    <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="flagEliminarPlazoEditar">
                                </div>
                                    
                                </div>
                            </div>
                          
                            <div class="form-group" style="margin-bottom:0 ;" ng-show="flagControlPlazoEditar" ng-disabled="flagEliminarPlazoEditar">
                                <div class="col-sm-6">
                                    <label class="control-label">Fecha Inicio</label>
                                    <p class="input-group" >
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="dateDirIni" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-disabled="flagEliminarPlazoEditar"/>
                                        <span class="input-group-btn">
                                          <button type="button" class="btn btn-default" ng-click="open1()" ng-disabled="flagEliminarPlazoEditar"><i class="glyphicon glyphicon-calendar" ></i></button>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">Fecha Fin</label>
                                    <p class="input-group" >
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="dateDirFin" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-disabled="flagEliminarPlazoEditar"/>
                                        <span class="input-group-btn">
                                          <button type="button" class="btn btn-default" ng-click="open2()" ng-disabled="flagEliminarPlazoEditar"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>                              
                            </div>           
                            <br>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <h4><label class="control-label">Archivos</label></h4>
                                    <table class="table table-condensed table-bordered table-striped" border="1" style="margin: 0 auto;">
                                    <thead>
                                        <th>Nombre  de Archivo</th>
                                        <th>Version</th>
                                        <th>Fecha</th>                                        
                                        <th>Tamaño</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="hijo in contDirActNav">                                            
                                            <td>{{hijo.nomFil}}</td>
                                            <td>{{hijo.verFil}}</td>
                                            <td>{{hijo.fecCre}}</td>
                                            <td>{{hijo.tamFil}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>                                                                                  
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="updateDirGes()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!--***************************************************************************************************************--
                                                            Nuevo Documento
        ***************************************************************************************************************-->
    <div class="modal fade" id="modalNuevoArch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            
            <div class="modal-content">
                <form  class="form-horizontal style-form" method="get" name="agreNueDocForm" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">NUEVO DOCUMENTO </h4>                    
                </div>
                <div class="modal-body">
                    
                    <div class="form-panel">
                        
                            <div class="form-group" style="margin-bottom: 0;">
                                
                                <div class="col-sm-12">
                                    <label  class="control-label">Nombre de Documento</label>
                                    <input placeholder="Generado automaticamente a partir del tipo de documento seleccionado" type="text" class="form-control" ng-model="documento.desdoc" readonly />
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0;">
                                <div class="col-sm-6" >
                                    <label class="control-label">Responsable</label>
                                    <input type="text" class="form-control"  ng-model="usuMaster.usuario.nombre" readonly />
                                    <!--<input type="text" class="form-control"  ng-model="traId" uib-typeahead="trabajador as trabajador.cargo + ' ' + trabajador.perDNI + ' ' + trabajador.perNom + ' ' + trabajador.perPat for trabajador in trabajadores | filter:$viewValue | limitTo:8" placeholder="Selecciona" required />-->
                                </div>
                                
                                <div class="col-sm-6">
                                    <label class="control-label">Tipo Documento</label>
                                    <select  ng-required="true"   ng-options="tipesp.index as tipesp.nom for tipesp in tipesps" ng-model="selUbiEnt.TipDoc" id="selectPosTipEsp"  class="form-control m-bot15" ng-change="cambiarNombreNuevoDocumento()">
                                        <option value="" disabled selected hidden>Selecciona un documento</option>
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0;">
                                <div class="col-sm-12">  
                                    <label for="inputSuccess"> Agregar Protección</label>
                                    <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="flagProteccion">
                                </div>                                                            
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6" ng-show="flagProteccion">
                                    <label class="control-label">Cod. Protección</label>
                                    <input placeholder="Ingrese contraseña" type="text" class="form-control"  ng-model="documento.proteccion">
                                </div>    
                            </div>
                            <br>
                            <div class="form-group" style="margin-bottom: 0;">
                                <div class="col-sm-6">
                                    <label for="inputSuccess"> Adjunte Documento</label>
                                    <input-file nombre="documento.nombreReal" archivo="documento.archivo" ng-required="true"></input-file>
                                </div>    
                                <div class="col-sm-6">
                                    <div ng-show="showLoadBar" class="ng-hide">
<!--                                    <img src="../recursos/img/avatar2.png" alt="">-->
                                        <img src="../recursos/img/cargando.gif" alt="">
                                    </div>
                                </div>                           
                                                                
                            </div>
                            
                          <!--
                            <div ng-controller="entornoInicioCtrl">
                                <br>
                                <input id="file"  type="file" />
                                <div id="progress_bar"><div class="percent">0%</div></div>
                            </div>
                          -->
                        
                    </div>
                </div>
                <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary"  ng-click="agregarDocGes()">Guardar</button>
                </div>
                                  </form>

            </div>
        </div>
    </div>
                                                            
                                                            
<!--***************************************************************************************************************--
                                                            Historial Documento
        ***************************************************************************************************************-->
    <div class="modal fade" id="modalHistorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">HISTORIAL DOCUMENTO </h4>
                </div>
                <div class="modal-body">
                    <div class="form-panel">
                        <form class="form-horizontal style-form" method="get">
                            <div class="form-group" style="margin-bottom: 0;">                                
                                <div class="col-sm-8">
                                    <label class="control-label">Nombre de Documento</label>
                                    <input type="text" class="form-control" ng-model="historialNombre" readonly />
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Tipo Documento</label>
                                    <input type="text" class="form-control" ng-model="historialTipo" readonly />
                                </div>
                            </div>
                        </form>
                        
                        <br>
                        <table  ng-table="tablaHistorial" class="table table-condensed table-bordered table-striped">
                            <colgroup>
                                <!--<col width="5%"/>-->
                                <col width="45%"/>
                                <col width="5%"/>
                                <col width="15"/>
                                <col width="15%"/>
                                <col width="10%"/>
                            </colgroup>
                            <tr  ng-repeat="docges in $data" >                            
                                <td title="'Nombre'"  filter="{ nomDoc: 'text'}"  sortable="'nomDoc'" class="hidden-phone"  style="text-align: center" >{{docges.nomDoc}}</td>
                                <td title="'Version'"  filter="{ verDoc: 'text'}"  sortable="'verDoc'"  style="text-align: center" > {{docges.verDoc}}</td>
                                <td title="'Tamaño'"  filter="{ tamDoc: 'text'}"  sortable="'tamDoc'"  style="text-align: center" > <span class="label label-info label-mini">{{docges.tamDoc}}</span></td>
                                <td title="'Fecha'"  filter="{ fecCre: 'text'}"  sortable="'fecCre'" class="hidden-phone"  style="text-align: center" >{{docges.fecCre| date:'yyyy/MM/dd'}}</td>
                                <td title="'Ver documento'" style="text-align: center" >
                                    <button title="Ver documento" class="btn btn-primary btn-sm"  style='width:31.44px; height:30px'><view-file  nombre="docges.urlDoc" archivo="docges.urlDoc" nover="true"></view-file></button>
                                </td>
                            </tr>
                        </table>                           
                    </div>
                </div>
                <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>                                               
    
    <!--***************************************************************************************************************--
                                                            Editar Documento
    <!--***************************************************************************************************************-->
    <div class="modal fade" id="modalEditarDoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">EDITAR DOCUMENTO </h4>
                </div>
                <div class="modal-body">
                    <div class="form-panel">
                        <form class="form-horizontal style-form" method="get">        
                            <div class="form-group" style="margin-bottom: 0;">
                                <div class="col-sm-12">
                                    <label class="control-label">Nombre de Documento</label>
                                    <input type="text" class="form-control" ng-model="docSel.nomFil" readonly/>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0;">
                                <div class="col-sm-6">
                                    <label class="control-label">Responsable</label>
                                    <input type="text" class="form-control"  ng-model="usuMaster.usuario.nombre" readonly/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">Tipo Doc.</label>
                                    <select  ng-model="selUbiEnt.TipDoc" ng-options="tipesp.id as tipesp.nom for tipesp in tipesps" id="selectPosTipEsp" class="form-control m-bot15" ng-change="cambiarNombreEditarDocumento()">
                                    </select>
                                </div>
                            </div>
   
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="actualizarDoc()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
    <!--***************************************************************************************************************--
                                                            Visualizar Documento
    <!--***************************************************************************************************************-->
    <div class="modal fade" id="modalVisArch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{urlArch}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" method="get">
                        <div class="form-group" style="margin-bottom: 0;">
                            <div class="col-sm-10">
                                <!--<iframe ng-model="urlArch" style="display:block" src={{urlArch}} width="560" height="600"></iframe>-->                                
                                <iframe style="display:block" src={{urlArch}} width="560" height="600"></iframe>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <!--***************************************************************************************************************--
                                                            Proteccion de Documento
    <!--***************************************************************************************************************-->
    <div class="modal fade" id="modalProtegerFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Proteccion de Documento</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" method="get">
                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="col-sm-2 control-label">Codigo de Proteccion</label>
                            <div class="col-sm-10">
                                <input class="form-control input-lg m-bot15" type="text" ng-model="oldProteccion" placeholder="Codigo de Proteccion">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" ng-click="quitarProteccion()" ng-show="flagDesproteger">Desproteger</button>
                <button type="button" class="btn btn-primary" ng-click="editarProteccion()">Proteger</button>
            </div>
        </div>
    </div>
    </div>
    
    <!--***************************************************************************************************************--
                                                            Solicitud de Autorizacion Directorio
    <!--***************************************************************************************************************-->
    <div class="modal fade" id="modalSolPermDir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Ingrese codigo de proteccion</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" method="get">
                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="col-sm-2 control-label">Codigo de Proteccion</label>
                            <div class="col-sm-10">
                                <input class="form-control input-lg m-bot15" type="text" ng-model="dataAutElim.codProt" placeholder="Codigo de Proteccion">
                            </div>
                        </div>
                        <!--    
                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="col-sm-2 control-label" for="inputSuccess" ng-model="labelCndPlazo"> Notificar</label>
                            <div class="col-sm-8">
                                <md-checkbox ng-model="setcheckb.solPerm" aria-label="Checkbox 1" ng-click="peticionCodigo()">
                                    Solicitar Permisos de Eliminacion
                                </md-checkbox>
                            </div>
                        </div>-->
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="solicitarPermisosEliminacion()" ng-show="setcheckb.solPerm">Solicitar Permisos</button>
                <button type="button" class="btn btn-danger" ng-click="verificarCodigoProteccion(dataAutElim.codProt)"ng-hide="setcheckb.solPerm">Eliminar</button>
            </div>
        </div>
    </div>
    </div>
     <!--***************************************************************************************************************--
                                                            Solicitud de Autorizacion Archivo
    <!--***************************************************************************************************************-->
    <div class="modal fade" id="modalSolPermDoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Ingrese codigo de proteccion</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" method="get">
                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="col-sm-2 control-label">Codigo de Proteccion</label>
                            <div class="col-sm-10">
                                <input class="form-control input-lg m-bot15" type="text" ng-model="dataAutElim.codProt" placeholder="Codigo de Proteccion">
                            </div>
                        </div>

                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="col-sm-2 control-label" for="inputSuccess" ng-model="labelCndPlazo"> Notificar</label>
                            <div class="col-sm-8">
                                <md-checkbox ng-model="setcheckb.solPerm" aria-label="Checkbox 1" ng-click="peticionCodigo()">
                                    Solicitar Permisos de Eliminacion
                                </md-checkbox>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="solicitarPermisosEliminacion()" ng-show="setcheckb.solPerm">Solicitar Permisos</button>
                <button type="button" class="btn btn-danger" ng-click="verificarCodigoProteccionArchivo(dataAutElim.codProt)"ng-hide="setcheckb.solPerm">Eliminar</button>
            </div>
        </div>
    </div>
    </div>
    <!--***************************************************************************************************************--
                                                Peticion de Codigo de Autorizacion
    <!--***************************************************************************************************************-->
    <div class="modal fade" id="modalPetCodAut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">PETICION DE CODIGO DE AUTORIZACION</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" method="get">
                        
                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="col-sm-2 control-label">Tipo de Documento:</label>
                            <div class="col-sm-10">
                                <input class="form-control input-lg m-bot15" type="text" ng-model="varsSolPerm.tipDoc" placeholder="Tipo de Documento" readonly="true">
                            </div>
                        </div>
                        
                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="col-sm-2 control-label">Nombre de Documento</label>
                            <div class="col-sm-10">
                                <input class="form-control input-lg m-bot15" type="text" ng-model="varsSolPerm.nomDoc" placeholder="Nombre de Documento" readonly>
                            </div>
                        </div>
                        
                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="col-sm-2 control-label">DNI:</label>
                            <div class="col-sm-10">
                                <input class="form-control input-lg m-bot15" type="text" ng-model="varsSolPerm.dniUsu" placeholder="Documento de Identidad">
                            </div>
                        </div>
                        
                        <div class="form-group" style="margin-bottom: 0;">
                            <div class="col-sm-10  col-sm-offset-2">
                            <p>Revise su bandeja de Notificacion despues del envio
                            y Verificar el Codigo de Autorizacion enviado</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="autorizarEliminacion()">Enviar Peticion</button>
            </div>
        </div>
    </div>
    </div>
  
    <!--***************************************************************************************************************--
                                                    Compartir Archivos
    <!--***************************************************************************************************************-->
    <div class="modal fade" id="modalCompartArch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">COMPARTIR ARCHIVOS</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" method="get">                        
                        <div class="form-group" style="margin-bottom: 0;">
                            <div class="col-sm-12">
                                <h5><label class="control-label">Usuarios Compartidos</label></h5>
                                <table  ng-table="tablaUsuariosArch" class="table table-condensed table-bordered table-striped" >
                                    <colgroup>
                                        <!--<col width="5%"/>-->
                                        <col width="45%"/>
                                        <col width="20%"/>
                                        <col width="25%"/>
                                        <col width="10%"/>
                                    </colgroup>
                                    <tr  ng-repeat="datUsu in $data" ng-class="{'success':usuSelect.index == ($index+'')}">
                                        
                                        <!--<td title="'Select'" ><input type="radio" name="radio-primary" ng-model="usuSelect.index" ng-value="$index+''"/></td>-->
                                        <td title="'Nombre'"  sortable="'usuario.nomUsu'" class="hidden-phone">{{datUsu.usuario.nombreCompleto}}</td>
                                        <td title="'Organizacion'"  sortable="'usuario.org'">{{datUsu.usuario.organizacion}}</td>
                                        <td title="'Rol'"  sortable="'usuario.rol'">{{datUsu.usuario.rol}}</td>
                                        <!--
                                        <td title="'Permisos'"> <select ng-change="saveOldIdPer({{datUsu.idePer}})" disabled id="sel{{$index}}" ng-model="datUsu.idePer" ng-options="itemPerm.id as itemPerm.nom for itemPerm in listPerms" id="selectPosTipEsp" class="form-control m-bot15"></select></td>
                                        -->
                                        <td title="'Action'">
                                            <button ng-click="eliminarComparticion($index,datUsu)" title="Revocar permiso" class="btn btn-danger btn-sm" type="button" ><i class="fa fa-trash-o"></i></button>
                                                <!--
                                                <button ng-show="flagSelPerm==true" ng-click="prepararEditarPerm($index,datUsu)" class="btn btn-primary btn-sm" type="button" ><i class="fa fa-save"></i></button>
                                                <button ng-show="flagSelPerm==true" ng-click="eliminarComparticion($index,datUsu)" class="btn btn-primary btn-sm" type="button" ><i class="fa fa-trash-o"></i></button>
                                                -->
                                        </td>
                                    </tr>
                                </table>
                            </div>                            
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-6">
                                <h5>Compartir con usuario</h5>
                            </div>
                            <br>
                            <div class="col-sm-6">
                                <label class="control-label">Entidad</label>
                                <select class="form-control" ng-model="organizacionSel" ng-options="o as o.nombre for o in organizaciones" >
                                    <option value="" disabled selected hidden>Selecciona una organizacion</option>
                                    <!--<option ng-repeat="o in organizaciones" value="{{o.organizacionID}}">{{o.nombre}}</option>-->
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group" >
                            <div class="col-sm-6">
                                <label class="control-label">Buscar Nombre</label>
                                <div class="input-group">
                                    <span ng-click="buscarPersonaByNombre()" class="input-group-addon btn-white"><i  class="fa fa-search"></i></span>
                                    <input placeholder="Escriba un nombre o inicial " type="text" class="form-control" ng-model="userComp.nom" placeholder="Nombre" ng-change="buscarPersonaByNombre()"/>
                                </div>                                
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Usuarios encontrados</label>
                                <select ng-model="userComp" ng-options="itemPerm as itemPerm.nombreCompletoRol for itemPerm in listPers" class="form-control m-bot15">
                                    <option value="" disabled selected hidden>Selecciona un usuario</option>
                                </select>
                            </div>
                        </div>                      
                                                       
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="registrarComparticion()" class="btn btn-primary" >Compartir</button>
                <button type="button" ng-click="registrarCompartirTodos()" title="UGEL: Comparte a todas sus directores IE's, DRE: Comparte a todas sus especialistas de UGEL's"  ng-show="vistaCompar" class="btn btn-primary" >Compartir a Todos</button>
                
              
            </div>
        </div>
    </div>
    </div>
    
    <!--***************************************************************************************************************--
                                                            Reporte Documento
    <!--***************************************************************************************************************-->
    <div class="modal fade" id="modalRepDocs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{iteFilSelected.nomFil | uppercase}}</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Cantidad de Documentos de Gestión</h3></div>
                        <div class="panel-body">
                            <!--<canvas id="reporteRDG" class="chart chart-pie" chart-data="data2" chart-labels="labels2" chart-options="option2" 
                                    chart-dataset-override="datasetOverride2"></canvas>-->
                            <canvas id="reporteRDG" class="chart chart-doughnut" chart-data="data2" chart-labels="labels2" chart-options="options"></canvas>

                        </div>
                    </div>
            </div>
                <div class="modal-footer">
                    <button title="Imprimir documento" type="button" class="btn btn-default" ng-click="imprimir()"><i class="fa fa-print"></i> Imprimir</button>                            
                </div>
        </div>
    </div>
    </div>
    <!--***************************************************************************************************************--
                                                            Reporte IGA
    <!--***************************************************************************************************************-->
      
    <div class="modal fade and carousel slide" id="modalRepIGA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" align="center" id="myModalLabel">Gestión Anual:IGA</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Estadisticas de Gestión Anual</h3></div>
                        <div class="panel-body">
                           <div id="myCarousel" class="carousel slide" data-ride="carousel">
                              <!-- Indicators -->
                              <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                              </ol>

                              <!-- Wrapper for slides -->
                              <div class="carousel-inner">
                                <div class="item active">
                                   <canvas id="reporteRDG" class="chart chart-doughnut" chart-data="data2" chart-labels="labels2" chart-options="options"></canvas>

                                </div>

                                <div class="item">
                                    <canvas id="reporteRDG" class="chart chart-doughnut" chart-data="data2" chart-labels="labels2" chart-options="options"></canvas>

                                </div>

                                <div class="item">
                                   <canvas id="reporteRDG" class="chart chart-doughnut" chart-data="data2" chart-labels="labels2" chart-options="options"></canvas>

                                </div>
                              </div>

                              <!-- Left and right controls -->
                              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                            <!--<canvas id="reporteRDG" class="chart chart-pie" chart-data="data2" chart-labels="labels2" chart-options="option2" 
                                    chart-dataset-override="datasetOverride2"></canvas>-->
                           

                        </div>
                    </div>
            </div>
                <div class="modal-footer">
                    <button title="Imprimir documento" type="button" class="btn btn-default" ng-click="imprimir()"><i class="fa fa-print"></i> Imprimir</button>                            
                </div>
        </div>
    </div>
    </div>
</div>