<div class="row"><div class="col-lg-12" >
        <section class="panel">
          <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">Inventario de las Series Documentales</h4>
     
        </header>   
            <div class="panel-body" ng-init="listarInventarios()">
                <div class="tabla-responsiva">
                    <table ng-table="tabla_inventarios" class="table table-striped table-hover" show-filter="true" >
                        <colgroup>
                           <col width="20px" /><col width="50px" /><col width="auto" /><col width="20%" /><col width="60px" /><col width="100px"/><col width="65px" />
                        </colgroup>
                        <tr ng-repeat="inv in $data">
                            <td data-title="'Nro. de Transferencia'"  sortable="'i'">{{$index+1}}</td>
                            <td data-title="'Fecha de Transferencia'" sortable="'fec'">{{inv.fec| date:'yyyy-MM-dd'}}</td>
                            <td data-title="'Area'" filter="{ area: 'text'}" sortable="'area'" style="text-align:center">{{inv.area}}</td>
                            <td data-title="'Unidad Organica'" filter="{ un_org: 'text'}" sortable="'un_org'" style="text-align:center">{{inv.un_org}}</td>
                            <td data-title="'Titulo de Serie Documental'" filter="{ serie: 'text'}" sortable="'serie'" style="text-align:center">{{inv.serie}}</td>
                            
                             
                            <td data-title="'Estado'" sortable="''">
                            
                                   <span class="label label-mini" ng-class="{'label-info': inv.etiqueta}">{{inv.etiqueta}}</span>
                                   
                            </td>
                          
                            <td data-title="'Accion'" style="text-align: center;">
                                <button class="btn btn-primary btn-xs" ng-disabled="inv.prestamo" ng-click="PrepararPrestamo(inv)"><i class="fa fa-eye"></i></button>
                                <button class="btn btn-success btn-xs" ng-show="inv.prestamo" ng-click="devolverSerie(inv.pre_serie_id ,inv.inv_tra_id)"><i class="fa fa-unlock"></i></button>

                                <button class="btn btn-primary btn-xs" ng-click="Listar_Archivos(inv)"><i class="fa fa-file"></i></button>
                                <button class="btn btn-primary btn-xs" ng-click="EditarInventario(inv)"><i class="fa fa-pencil" ></i></button>
                                <button class="btn btn-danger btn-xs"  ng-click="EliminarInventario($index,inv)"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </table>
                    
                </div>
                
                <div class="form-group">
                    <div class=" col-md-offset-10">
                        <button class="btn btn-primary" ng-click="limpiar_inventario()"><i class="fa fa-plus"> Nuevo Inventario</i></button>
                    </div>          
                </div>
                
                      
            </div>   
           
            
        </section>
</div>
  
   <div class="modal fade" id="modalNuevoInventario" ng-init="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
           <div class ="modal-content">
               <div class ="modal-header">
                   <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Nuevo Inventario de Series Documentales</h4>
                   </div>
                   
                   
               </div>
               <div class="modal-body">
                 <div class="form-horizontal style-form" >
                    <div class="form-group">
                       <uib-tabset active="activeJustified" justified="true">
                           
                            <!-- DATOS GENERALES DEL INVENTARIO DE SERIE DOCUMENTAL. -->
                            <uib-tab index="0" heading="Datos Generales" >
                               <section class="panel">
                                   <div class="form-panel" ng-init="listarAreas(usuMaster.organizacion.organizacionID)">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Area :</label>
                                                <div class="col-sm-4">
                                                    <select class="form-control" ng-model="inventario_transferencia.areaID" ng-change="elegirUnidadOrganica(inventario_transferencia.areaID)">
                                                        <option value=""></option>
                                                        <option ng-repeat="a in areas" value="{{a.areaID}}">{{a.nombre}}</option>
                                                    </select>
                                                </div>
                                            </div>  
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Unidades Organicas :</label>
                                                <div class="col-sm-4">
                                                    <select class="form-control" ng-model="inventario_transferencia.unID" ng-change="listarSeries()">
                                                        <option value=""></option>
                                                         <option ng-repeat="uo in unidades_organicas" value="{{uo.uni_org_id}}">{{uo.nombre}}</option>
                                                    </select>
                                                </div>
                                            </div>                                 
                                        </div>
                                     </div>   
                               </section> 
                           </uib-tab>
                            
                            <!-- DATOS IDENTIFICADOR DE SERIE DOCUMENTAL. -->
                           <uib-tab index="1" heading="Identificador de Series Documentales">
                               <section class="panel">
                                   <div class="form-panel" ng-init="">
                                       <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Fecha de Transferencia :</label>
                                                <div class="col-sm-4">
                                                    <input type="date" class="form-control" ng-model="inventario_transferencia.fec">   
                                                </div>
                                            </div>
                                       <div class="form-group">
                                           <label class="col-sm-2 control-label">Asunto Principal :</label>
                                            <div class="col-sm-4">
                                                <textarea class="form-control" ng-model="inventario_transferencia.asu"> </textarea>  
                                            </div>
                                       </div>
                                       
                                        <div class="form-group">
                                           <label class="col-sm-2 control-label">Titulo de La Serie :</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" ng-model="inventario_transferencia.serie_id" ng-change="elegir_codigo_serie(inventario_transferencia.serie_id)">
                                                    <option value=""></option>
                                                    <option ng-repeat="sd in series_documentales" value="{{sd.serie_id}}">{{sd.nom_serie}}</option>
                                                </select>
                                            </div>
                                       </div>
                                       
                                       <div class="form-group">
                                           <label class="col-sm-2 control-label">Codigo de la Serie :</label>
                                           <label class="col-sm-2 control-label">{{inventario_transferencia.cod_serie}}</label>
                                       </div>
                                       
                                       <div class="form-group">
                                           <label class="col-sm-2 control-label">Metros Lineales de Documentos :</label>
                                           <div class="col-sm-4">
                                                <input type="number" min="1"  class="form-control" ng-model="inventario_transferencia.met_lin">   
                                           </div> 
                                       </div>
                                         
                                       </div>  
                                   </div>           
                               </section>
                           </uib-tab >  
                            
                            
                            <uib-tab index="3" heading="Ubicacion">
                                <div class="form-panel" ng-init="">
                                    <div class="form-horizontal">
                                        
                                        
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Almacen :</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" ng-model="inventario_transferencia.alm" placeholder="Nombre del Almacen">   
                                             </div>
                                            
                                             <label class="col-sm-2 control-label">Fila :</label>
                                            <div class="col-sm-4">
                                                <input type="number" min="1" class="form-control" ng-model="inventario_transferencia.fil">   
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Estante :</label>
                                            <div class="col-sm-4">
                                                <input type="number" min="1" class="form-control" ng-model="inventario_transferencia.est">   
                                             </div> 
                                            
                                            <label class="col-sm-2 control-label">Cuerpo :</label>
                                            <div class="col-sm-4">
                                                <input type="number" min="1" class="form-control" ng-model="inventario_transferencia.cue">   
                                            </div> 
                                           
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Balda :</label>
                                            <div class="col-sm-4">
                                                <input type="number" min="1" class="form-control" ng-model="inventario_transferencia.bal">   
                                             </div> 
                                            
                                            <label class="col-sm-2 control-label">Caja :</label>
                                            <div class="col-sm-4">
                                                <input type="number" min="1" class="form-control" ng-model="inventario_transferencia.caj">   
                                             </div> 
                                            
                                        </div>

                                    </div>
                                </div>
                                
                            </uib-tab> 
                                                      
                        </uib-tabset>
                        
                        
                    </div>
                     
                      <div class="modal-footer">  
                                <button class="btn btn-default" ng-click="cancelar_inventario()">Cancelar</button>
                                <button class="btn btn-primary" ng-click="registrar_inventario()">Guardar</button>
                    </div>
                     
                      
                  </div> 
 
               </div>
           </div>
           
       </div>
        
   </div>  
    
    
    <div class="modal fade" id="modalNuevoPrestamo" ng-init="iniciar_datos_serie()" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class ="modal-content">
               <div class ="modal-header">
                   <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Nuevo Prestamo de Series Documentales</h4>
                   </div>
               </div>
               <div class="modal-body">
                    <div class="form-horizontal style-form" >
                        <fieldset>
                        <legend>SERIE DOCUMENTAL </legend>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="col-sm-6 control-label">Id. de Inventario de Serie :</label>
                                <label class="col-sm-4 control-label">{{inventario_transferencia.inv_tra_id}}</label>
                            </div>
                            <div class="col-sm-8">
                                <label class="col-sm-6 control-label">Titulo de Serie Documental :</label>
                                <label class="col-sm-4 control-label">{{inventario_transferencia.serie}}</label>
                            </div>
                            <div class="col-sm-8">
                                <label class="col-sm-6 control-label">Unidad Organica :</label>
                                <label class="col-sm-4 control-label">{{inventario_transferencia.un_org}}</label>
                            </div>
                        <div class="form-group">
                       </fieldset>
                       <fieldset>
                        <legend>DATOS DEL SOLICITANTE </legend>                          
                            <div class="form-group">
                                <label class="col-sm-4 control-label">DNI :</label>
                                <div class="input-group m-bot15 col-sm-4 ">
                                    <input  type="text" class="form-control " ng-keyup="reiniciarDatos()" style="text-align: center;" data-mask="99999999" ng-model="persona.dni" >
                                    <span class="input-group-btn">
                                        <button  class="btn btn-success " type="button" ng-click="buscarPersona()">buscar</button>
                                    </span>  
                                </div>
                             <!--   <div ng-if="tipoPersona" class="col-sm-offset-2 col-sm-8" align="center">-->
                              <div  class="col-sm-offset-2 col-sm-8" align="center">
                                <input ng-show="persona.existe" type="text" class="form-control" value="{{persona.nombre}} {{persona.paterno}} {{persona.materno}}" disabled>
                                <button ng-hide="persona.dni == '' || persona.existe" class="btn btn btn-primary "  ng-click="showRegistro()"><i class="fa fa-plus" ></i> Registrar</button>
                              </div>
                             <br>
                             <br>
                             <br>
                            <!--
                                <label class="col-sm-2 control-label">DNI :</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="inventario_transferencia.dni">   
                                </div>
                                <label class="col-sm-2 control-label">NOMBRE :</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="inventario_transferencia.nom">   
                                </div>
                            -->
                              

                            </div>
                            <div class="row">
                                <div class="col-sm-2">

                                </div>
                                <div class="col-sm-4 form-group">

                                     <label class="control-label "> Fecha de Prestamo :</label>
                                    <div class="input-group date form_datetime-component" style="z-index: 1001" >                                                        
                                        <input type="text" class="form-control input-sm m-bot15" uib-datepicker-popup="dd/MM/yyyy" ng-model="inventario_transferencia.fec_prestamo" is-open="popup4.opened" datepicker-options="dateOptions"   close-text="Close" >
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary date-set btn-sm"  ng-click="open4()" ><i class="fa fa-calendar"></i></button>
                                        </span>

                                    </div>
                                </div>
                                 <div class="col-sm-1 ">

                                </div>
                                <div class="col-sm-4 form-group">
                                    <label class="control-label "> Fecha de Devolucion : </label>
                                    <div class=" input-group date form_datetime-component" >                                                        
                                        <input type="text" class="form-control input-sm m-bot15" uib-datepicker-popup="dd/MM/yyyy" ng-model="inventario_transferencia.fec_dev" is-open="popup3.opened" datepicker-options="dateOptions2"  close-text="Close" >
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary date-set btn-sm"  ng-click="open3()" ><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        <br>
                        <br>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Observacion :</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" ng-model="inventario_transferencia.obs"></textarea>   
                                </div>
                            </div>
                        
                        </fieldset>
                        <div class="modal-footer">
                                <button class="btn btn-default" data-toggle="modal" data-target="#"><i class="fa fa-warning">Cancelar</i></button>
                                <button class="btn btn-primary" ng-click="registrar_prestamo()"><i class="fa fa-save" >Guardar</i></button>
                               
                        </div>
                       
                    </div>
               </div>
           </div>
            
        </div>       
        
    </div>
    
    
    
    <div class="modal fade" id="modalListarArchivo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class ="modal-content">
               <div class ="modal-header">
                   <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Lista de Documentos de Inventario</h4>
                   </div>
               </div>
               <div class="modal-body">
                   <div class="form-horizontal style-form" >
                       <div class="form-group">
                            <div class="tabla-responsiva">
                                <table ng-table="tabla_documentos" class="table table-striped table-hover">
                                    <tr ng-repeat="file in archivos">
                                        <td data-title="'Codig de Expediente'" sortable="''">{{file.cod_expediente}}</td>
                                        <td data-title="'Numero de Folios'" sortable="''">{{file.num_fol}}</td>
                                        <td data-title="'Fecha'" sortable="''">{{file.fecha}}</td>
                                        <td data-title="'Titulo'" sortable="''">{{file.titulo}}</td>
                                        <td data-title="'Archivo'" style="word-break: break-all;">
                                            
                                            <span><view-file nombre="file.nombre_archivo" archivo="file.nombre_archivo"></view-file></span>
                                        </td>                                     
                                  <!--    <td data-title="'Accion'" style="text-align: center;">
                                            <div class=" col-md-offset-4">
                                            <button class="btn btn-primary btn-xs"  ng-click="EditarArchivo(file)"><i class="fa fa-file"></i></button>
                                            <button class="btn btn-primary btn-xs"  ng-click="EliminarArchivo(file)"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </td>
                                  -->
                                </table>
                            </div>
                          
                       </div>
                       <div class="form-group">
                            <div class=" col-md-offset-9">
                                <button class="btn btn btn-warning" ng-click="nuevo_archivo()"><i class="fa fa-file" >  Nuevo Documento</i></button>
                                  
                            </div>  
                       </div>
                       
                   </div>
               </div>
             
           </div>
        </div>
    </div>
    
    <div class="modal fade" id="modalNuevoArchivo"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class ="modal-content">
               <div class ="modal-header">
                   <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Nuevo Documento</h4>
                   </div>
               </div>
                <div class="modal-body">
                    <div class="form-horizontal style-form" >
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Titulo :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="inventario_transferencia.titulo">   
                            </div>
                            
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Cod Expediente :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="inventario_transferencia.cod_expediente">   
                            </div>
                            
                        </div>
                        
                         <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha :</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" ng-model="inventario_transferencia.fecha">   
                            </div>
                            
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nro. de Folios :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="inventario_transferencia.num_folio">   
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Adjuntar Archivo :</label>
 
                            <span><input-file nombre="inventario_transferencia.nombre" archivo="inventario_transferencia.archivo"></input-file></span>
                            <span><view-file nombre="inventario_transferencia.nombre" archivo="inventario_transferencia.archivo"></view-file></span>
                        </div>
                       
                        
                        <div class="modal-footer">  
                                <button class="btn btn-default" ng-click="cancelar_archivo()"><i class="fa fa-warning">Cancelar</i></button>
                                <button class="btn btn-primary" ng-click="Registrar_Archivo()"><i class="fa fa-save" >Guardar</i></button>
                             
                       </div>
                        
                    </div>
                </div>    
               
               
            </div>
        </div>
    </div>
    
    
     <div class="modal fade" id="modalEditarInventario"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class ="modal-content">
               <div class ="modal-header">
                   <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Edicion de Inventanrio de Transferencia</h4>
                   </div>
               </div>
                <div class="modal-body">
                    <div class="form-horizontal style-form" >
                    <div class="form-group">
                       <uib-tabset active="activeJustified" justified="true">
                           
                            <!-- DATOS GENERALES DEL INVENTARIO DE SERIE DOCUMENTAL. -->
                            <uib-tab index="0" heading="Datos Generales" >
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Area :</label>
                                        <div class="col-sm-4">
                                            <label>{{inventario_transferencia.area}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                                <label class="col-sm-2 control-label">Unidades Organicas :</label>
                                                <div class="col-sm-4">
                                                    <label>{{inventario_transferencia.un_org}}</label>
                                                </div>
                                   </div> 
                                </div>
                            </uib-tab>
                            
                            <!-- DATOS IDENTIFICADOR DE SERIE DOCUMENTAL. -->
                           <uib-tab index="1" heading="Identificador de Series Documentales">
                               <section class="panel">
                                   <div class="form-panel" ng-init="">
                                       <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Fecha de Transferencia :</label>
                                                <div class="col-sm-4">
                                                    <input type="date" class="form-control" ng-model="inventario_transferencia.fec">   
                                                </div>
                                            </div>
                                       <div class="form-group">
                                           <label class="col-sm-2 control-label">Asunto Principal :</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" ng-model="inventario_transferencia.asu">   
                                            </div>
                                       </div>
                                       
                                        <div class="form-group">
                                           <label class="col-sm-2 control-label">Titulo de La Serie :</label>
                                            <div class="col-sm-4">
                                                <label class="col-sm-2 control-label">{{inventario_transferencia.serie}}</label>
                                            </div>
                                       </div>
                                       
                                       <div class="form-group">
                                           <label class="col-sm-2 control-label">Codigo de la Serie :</label>
                                           <label class="col-sm-2 control-label">{{inventario_transferencia.cod}}</label>
                                       </div>
                                       
                                       <div class="form-group">
                                           <label class="col-sm-2 control-label">Metros Lineales de Documentos :</label>
                                           <div class="col-sm-4">
                                                <input type="number" min="1"  class="form-control" ng-model="inventario_transferencia.met_lin">   
                                           </div> 
                                       </div>
                                         
                                       </div>  
                                   </div>           
                               </section>
                           </uib-tab >
                           
                           <uib-tab index="3" heading="Ubicacion">
                                <div class="form-panel" ng-init="">
                                    <div class="form-horizontal">
                                        
                                        
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Almacen :</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" ng-model="inventario_transferencia.alm">   
                                             </div>
                                            
                                             <label class="col-sm-2 control-label">Fila :</label>
                                            <div class="col-sm-4">
                                                <input type="number" min="1" class="form-control" ng-model="inventario_transferencia.fil">   
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Estante :</label>
                                            <div class="col-sm-4">
                                                <input type="number" min="1" class="form-control" ng-model="inventario_transferencia.est">   
                                             </div> 
                                            
                                            <label class="col-sm-2 control-label">Cuerpo :</label>
                                            <div class="col-sm-4">
                                                <input type="number" min="1" class="form-control" ng-model="inventario_transferencia.cue">   
                                            </div> 
                                           
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Balda :</label>
                                            <div class="col-sm-4">
                                                <input type="number" min="1" class="form-control" ng-model="inventario_transferencia.bal">   
                                             </div> 
                                            
                                            <label class="col-sm-2 control-label">Caja :</label>
                                            <div class="col-sm-4">
                                                <input type="number" min="1" class="form-control" ng-model="inventario_transferencia.caj">   
                                             </div> 
                                            
                                        </div>

                                    </div>
                                </div>
                                
                            </uib-tab> 
                           
                       </uib-tabset>
                       <div class="modal-footer">        
                                <button class="btn btn-primary" ng-click="actualizar_inventario()"><i class="fa fa-save" > Guardar Cambios </i></button>
                        </div>   
                        
                          
                    </div>
                    </div>
                </div>
    