

<div class="row"><div class="col-lg-12" >
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">Lista de Fondo Documental de la Institución</h4>

            </header>
            <div class="panel-body" ng-init="listarAreas(usuMaster.organizacion.organizacionID)">
                <div class="tabla-responsiva">
                    <table ng-table="tablaArea" class="table table-striped table-hover" show-filter="true" >
                    <colgroup>
                        <col width="20px" /><col width="50px" /><col width="auto" /><col width="20%" /><col width="60px" /><col width="100px"/><col width="65px" />
                    </colgroup>
                    <tr ng-repeat="a in $data">
                        <td data-title="'N'" sortable="'i'" >{{a.i}}</td>
                        <td data-title="'Codigo'" filter="{ codigo: 'text'}" sortable="'codigo'" style="text-align: center">{{a.codigo}}</td>
                        <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'" >{{a.nombre}}</td>
                        <td data-title="'Area Padre'" sortable="'areaPadre'" style="text-align: center">{{a.areaPadre}}</td>
                        <td data-title="'Estado'"  filter-data="estadosSelect " sortable="'estado'" style="text-align: center">
                            <span class="label label-mini" ng-class="{'label-info': a.estado=='A','label-warning': a.estado=='I'}">{{a.estado}}</span>
                        </td>
                        <td data-title="'Unidades Organicas'" style="text-align: center;">
                            <span class="label label-mini label-primary" ng-click="verUnidadesOrganicas(a)" style="cursor:pointer">ver</span>
                        </td>

                        <td data-title="'Accion'" style="text-align: center;">
                            <button class="btn btn-primary btn-xs" ng-click="prepararEditar(a)"><i class="fa fa-pencil" ></i></button>
                            <button class="btn btn-danger btn-xs" ng-click="eliminarArea(a.i,a.areaID)"><i class="fa fa-trash-o " ></i></button>
                                               
    </td>
                    </tr>
                </table></div>
                           
                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <div class="form-group ">
                            
                            <div class="col-sm-12 text-center">
                                <button class="btn btn btn-primary" data-toggle="modal" data-target="#modalNuevaArea"><i class="fa fa-plus" ></i>Agregar Area </button>
                          
                            </div>
                          
                        </div>
                        <fieldset><legend>Lista de Unidades Organicas </legend></fieldset>
                        <div class="form-group" >
                            <div class="col-sm-12 text-center">
                                <label class="col-sm-4 control-label">Area :</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-model="serie_documental.areaID" ng-change="elegirUnidadOrganica(serie_documental.areaID)">
                                            <option value=""></option>
                                            <option ng-repeat="a in areas" value="{{a.areaID}}">{{a.nombre}}</option>
                                        </select>
                                       
                                     </div>
                            </div>
                            <br>
                          
                            <div class="col-sm-4">
                                <ul class="" id="nav-accordion">

                                    <li class="sub-menu" ng-repeat="uo in unidades_organicas" ng-class="{ }">
                                        <a  href ng-click="elegirSerieDocumental(uo.uni_org_id)" >
                                            <i class="fa fa-plus"></i>
                                                <span>{{uo.nombre}}</span>
                                            <i class ="fa fa-angle-right"></i>
                                        </a>
                                        <br>
                                        <button ng-if="bandera" class="btn btn btn-warning" ng-click="obtener_serie_actual(serie_documental.areaID)" data-toggle="modal" data-target="#modalNuevaSerie" data-backdrop="static" data-keyboard="false"><i class="fa fa-plus"> Agregar Serie</i></button>

                                    </li>    
                                </ul>
                            </div>   
                            <br>
                            <br>
                            <div class="col-sm-8" > 
                                 
                                <table class="table" style="margin-bottom: 0;" ng-table="tabla_series" >    
                                    <thead  class="table table-bordered table-hover table-condensed ng-scope ng-table">
                                        <tr>
                                            <th>CODIGO</th><th>TITULO DE LA SERIE DOCUMENTAL</th><th>ACCION </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="serie in series_documentales">
                                            <td>
                                                <label>{{serie.cod_serie}}</label>
                                            </td>
                                            <td>
                                                <label>{{serie.nom_serie}}</label>
                                            </td>
                                            <td>

                                                <!--   <input type="radio" ng-model="serie_select" value="{{serie.cod_serie}}"> -->
                                                <button class="" ng-click="preparar_retencion(serie.cod_serie)"><i class="glyphicon glyphicon-file"></i></button>
                                                <button class="" ng-click="eliminar_serie(serie.cod_serie)"><i class="glyphicon glyphicon-trash"></i></button>
                                                <button class="btn btn-primary btn-sm" data-toggle="modal" ng-click="preparar_editar_serie(serie.cod_serie)"><i class="glyphicon glyphicon-pencil"></i></button>

                                            </td> 
                                        </tr>
                                    </tbody>

                                </table>

                            </div>    

                        </div>    


                    </div>
                   <!-- <div class="form-group">
                        <div class=" col-md-offset-10">
                            <button class="btn btn btn-warning" ng-click="obtener_serie_actual(serie_documental.areaID)" data-toggle="modal" data-target="#modalNuevaSerie" data-backdrop="static" data-keyboard="false"><i class="fa fa-plus"> Agregar Serie</i></button>
                        </div>          
                    </div>
                    -->

                </div>  


            </div>     
        </section> 
    </div>
   </div>

<div class="modal fade"  id="modalNuevaSerie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
        <div class="modal-dialog">
            <div class ="modal-content">
                <div class ="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Nueva Serie Documental</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-panel" ng-init="">
                        <form class="form-horizontal style-form" >
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nombre de Area:</label>
                                <div class="col-sm-4">
                                    <label>{{serie_documental.nombre_area}}</label>  
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Unidad Organica:</label>
                                <div class="col-sm-4">
                                    <label>{{serie_documental.uni_org}}</label>  
                                </div>
                            </div>
                            <div class="panel panel-body">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Codigo de Serie :</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="serie_documental.cod_serie">
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Titulo de la Serie Documental :</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="serie_documental.nom_serie">
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Valor Serie Documental :</label>
                                    <div class="col-sm-4">
                                         <input type="number" min="1"  class="form-control" ng-model="serie_documental.val_serie">   

                                    </div>
                                </div> 

                            </div>
                        </form>                     
                    <div class="modal-footer"> 
                                        <button class="btn btn-default"  data-dismiss="modal"><i class="fa fa-warning">Cancelar</i></button>
                                        <button class="btn btn-primary" ng-click="registrar_serie()"><i class="fa fa-save" >Guardar</i></button>
                                    
                     </div> 

                </div>
            </div>

        </div>
  </div>   
</div>   

<!--
<div class="modal fade" id="modalNuevoArea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class ="modal-content">
            <div class ="modal-header">
                <div class="panel panel-primary">
                    <h4 class="modal-title" id="myModalLabel">Nueva Area de Institucion</h4>
                </div>
            </div>
            <div class="modal-body" >
                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <div class="form-horizontal style-form" >
                         
                            

                        <div class="form-group" >
                            <div style="text-align: center"><strong>Unidades Organicas</strong></div>
                            <div class="col-sm-12">
                                <div class="tabla-responsiva" style="max-height: 120px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                                    <table class="table peque" style="margin-bottom: 0">
                                        <thead>
                                            <tr>
                                                <th style="width:15px;">#</th><th style="width:30%;">Nombre</th><th style="width:30%;">Abreviacion</th><th>Descripcion</th><th style="width:55px;">Accion</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="r in unidadesOrg">
                                                <td>{{$index + 1}}</td>
                                                <td>
                                                    <span ng-hide="r.edi" >{{r.nombre}}</span>
                                                    <span ng-show="r.edi" ><input ng-model="r.copia.nombre"/><span>
                                                </td>
                                                <td>
                                                    <span ng-hide="r.edi" >{{r.abreviacion}}</span>
                                                    <span ng-show="r.edi" ><input ng-model="r.copia.abreviacion"/></span>
                                                </td>
                                                <td>
                                                    <span ng-hide="r.edi" >{{r.descripcion}}</span>
                                                    <span ng-show="r.edi" ><input ng-model="r.copia.descripcion"/></span>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary btn-xs" ng-click="editarUnidaO($index, r)"><i class="fa" ng-class="{'fa-check':r.edi, 'fa-pencil':!r.edi}" ></i></button>
                                                    <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!r.edi}" ng-click="eliminarUnidaO($index, r)"><i class="fa" ng-class="{'fa-times':r.edi, 'fa-trash-o':!r.edi}"></i></button>                            
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table></div>
                                    <table class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
                                    <tr>
                                        <td style="width:15px">+</td>
                                        <td style="width:30%">
                                            <input type="text" class="form-control input-table" ng-model="unidadOrg.nombre">
                                        </td>
                                        <td style="width:30%">
                                           <input type="text" class="form-control input-table" ng-model="unidadOrg.abreviacion">
                                        </td>
                                        <td style="width:auto"><input type="text" class="form-control input-table" ng-model="unidadOrg.descripcion"></td>
                                        <td style="width:55px">
                                            <button class="btn btn-success btn-xs" ng-click="agregarUnidaO()" title="agregar ruta"><i class="fa fa-plus" ></i></button>
                                        </td>
                                    </tr>                        
                                </table>
                            </div>                        
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="agrgarTipoTramite(usuMaster.organizacion.organizacionID)">Guardar Cambios</button>
        </div>
    </div>
 </div>
</div>
-->

<div class="modal fade" id="modalEditarSerie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class ="modal-content">
            <div class ="modal-header">
                <div class="panel panel-primary">
                    <h4 class="modal-title" id="myModalLabel">Serie Documental</h4>                   
                </div>      
            </div>    
            <div class="modal-body">
                <div class="panel panel-primary">
                    <form class="form-horizontal style-form" >
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Codigo de Serie:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="serie_documental.cod_serie">   
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Nombre de Serie :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  ng-model="serie_documental.nom_serie" >   
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Valor de Serie :</label>
                            <div class="col-sm-4">
                               <input type="number" min="1"  class="form-control" ng-model="serie_documental.val_serie">   
                                
                            </div>
                        </div>
                        
                      </form> 
                </div>  
                
                <div class="modal-footer"> 
                                <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-warning" > Cancelar</i></button>
                                <button class="btn btn-primary" ng-click="editar_serie()"><i class="fa fa-save" > Guardar</i></button>
                                     
                </div>
            </div>

        </div>

    </div>
</div>

<div class="modal fade"  id="modalTablaRetencion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class ="modal-content">
            <div class ="modal-header">
                <div class="panel panel-primary">
                    <h4 class="modal-title" id="myModalLabel">TABLA RETENCION DE DOCUMENTOS</h4> 
                </div>
            </div>
            <div class="modal-body">
                <div class="panel panel-primary">
                    <form class="form-horizontal style-form" >

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Nombre de la Serie :</label>
                            <div class="col-sm-4">
                                <label>{{serie_documental.nom_serie}}</label>  
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Abreviacion :</label>
                            <div class="col-sm-4">
                                <label>{{serie_documental.cod_serie}}</label>  
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">AG :</label>
                            <div class="col-sm-4">
                                <input type="number" min="1"  class="form-control" ng-model="serie_documental.ag">   
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">AP :</label>
                            <div class="col-sm-4">
                                <input type="number" min="1"  class="form-control" ng-model="serie_documental.ap">   
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">OAA :</label>
                            <div class="col-sm-4">
                                <input type="number" min="1"  class="form-control" ng-model="serie_documental.oaa">                          
                            </div>
                        </div>
                                         
                </div>    
                <div class="modal-footer">
                       <button class="btn btn-primary"  ng-click="actualizar_retencion()"><i class="fa fa-save" > Guardar</i></button>
                 </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modalNuevaArea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVA AREA</h4>
      </div>
      <div class="modal-body">
          
          
            <div class="form-panel" >
                <div class="form-horizontal style-form" >
                    <div class="form-group" >
                        <label class="col-sm-2 col-sm-2 control-label">Area</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="nuevaArea.tipoAreaID" ng-options="ta.tipoAreaID as ta.nombre for ta in tipoAreas">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Codigo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevaArea.codigo">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 col-sm-2 control-label">Area Padre(opcional)</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="nuevaArea.areaPadreID">
                                <option value="0"></option>
                                <option ng-repeat="a in areas " value="{{a.areaID}}">{{a.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Estado</label>
                        <div class="col-sm-10">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevaArea.estado" ng-value="'A'" checked>activo</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevaArea.estado" ng-value="'I'">inactivo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarArea(usuMaster.organizacion.organizacionID)"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalEditarArea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR AREA</h4>
      </div>
      <div class="modal-body">
          
          
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 col-sm-2 control-label">Area</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="areaSel.tipoAreaID" ng-options="ta.tipoAreaID as ta.nombre for ta in tipoAreas">
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Codigo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="areaSel.codigo">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 col-sm-2 control-label">Area Padre(opcional)</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="areaSel.areaPadreID">
                            <option value="0"></option>
                            <option ng-repeat="a in areas " value="{{a.areaID}}">{{a.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="areaSel.estado" ng-value="'A'" >activo</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="areaSel.estado" ng-value="'I'">inactivo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarArea()"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalVerUnOr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">UNIDADES ORGANICAS</h4>
        </div>
        <div class="modal-body">        
             <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <div class="form-horizontal style-form" >
                        <div class="form-group" >
                            <div style="text-align: center"><strong></strong></div>
                            <div class="col-sm-12">
                                <div class="tabla-responsiva" style="max-height: 120px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                                    <table class="table peque" style="margin-bottom: 0">
                                        <thead>
                                            <tr>
                                                <th style="width:15px;">#</th><th style="width:30%;">Nombre</th><th style="width:30%;">Abreviacion</th><th>Descripcion</th><th style="width:60px">Estado</th><th style="width:55px;">Accion</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="r in unidadesOrg">
                                                <td>{{$index + 1}}</td>
                                                <td>
                                                    <span ng-hide="r.edi" >{{r.nombre}}</span>
                                                    <span ng-show="r.edi" ><input ng-model="r.copia.nombre"/><span>
                                                </td>
                                                <td>
                                                    <span ng-hide="r.edi" >{{r.abreviacion}}</span>
                                                    <span ng-show="r.edi" ><input ng-model="r.copia.abreviacion"/></span>
                                                </td>
                                                <td>
                                                    <span ng-hide="r.edi" >{{r.descripcion}}</span>
                                                    <span ng-show="r.edi" ><input ng-model="r.copia.descripcion"/></span>
                                                </td>
                                                 <td>
                                                    <span ng-hide="r.edi" class="label label-mini" ng-class="{'label-info': r.estado=='A','label-warning': r.estado=='I'}">{{r.estado}}</span>
                                                    <select ng-show="r.edi" class="form-control input-table" ng-model="r.copia.estado">
                                                        <option value="A">A</option>
                                                        <option value="I">I</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary btn-xs" ng-click="editarUnidaO($index, r)"><i class="fa" ng-class="{'fa-check':r.edi, 'fa-pencil':!r.edi}" ></i></button>
                                                    <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!r.edi}" ng-click="eliminarUnidaO($index, r)"><i class="fa" ng-class="{'fa-times':r.edi, 'fa-trash-o':!r.edi}"></i></button>                            
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table></div>
                                    <table class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
                                    <tr>
                                        <td style="width:15px">+</td>
                                        <td style="width:30%">
                                            <input type="text" class="form-control input-table" ng-model="unidadOrg.nombre">
                                        </td>
                                        <td style="width:30%">
                                           <input type="text" class="form-control input-table" ng-model="unidadOrg.abreviacion">
                                        </td>
                                        <td style="width:auto"><input type="text" class="form-control input-table" ng-model="unidadOrg.descripcion"></td>
                                        <td style="width:60px">
                                        </td>
                                        <td style="width:55px">
                                            <button class="btn btn-success btn-xs" ng-click="agregarUnidaO()" title="agregar ruta"><i class="fa fa-plus" ></i></button>
                                        </td>
                                    </tr>                        
                                </table>
                            </div>                        
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="editarUnidadesOrganicas()"><i class="fa fa-save"></i> Guardar Cambios</button>  
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
  </div>
</div>