<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">REGISTRO DE PERSONA </h4>
            </div>
            <div class="modal-body">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">DNI </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-lg" style="text-align: center;" ng-model="persona.dni" disabled>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Nombres</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="persona.nombre" ng-disabled="persona.existe">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">A Paterno *</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="persona.paterno" ng-disabled="persona.existe">
                            </div>
                            <label class="col-sm-2 control-label">A Materno *</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="persona.materno" ng-disabled="persona.existe">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Email *</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="persona.email" ng-disabled="persona.existe">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">Numero *</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="persona.numero1" ng-disabled="persona.existe">
                            </div>
                            <label class="col-sm-2 control-label">Numero 2</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="persona.numero2" ng-disabled="persona.existe">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="registrarPersona()" ng-disabled="persona.dni == ''"><i class="fa fa-check" ></i>Registrar</button>
            </div>
        </div>
    </div>
</div>