<style type="text/css">
    form.tab-form-demo .tab-pane {
        margin: 20px 20px;
    }
</style>
<div class="col-lg-12" >
    <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">MATRÍCULA MASIVA</h4>
        </header>
        <div class="form-group">
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="col-lg-2">
                        <label for="nivelBusqueda">Nivel:</label>
                        <select class="form-control" 
                                id="nivelBusqueda" name="nivelBusqueda" 
                                ng-model="busqueda.nivelBusqueda" ng-change="reloadFiltro()">
                            <option value="0">Inicial</option>
                            <option value="1">Primaria</option>
                            <option value="2">Secundaria</option>
                        </select>
                    </div>
                    <div class="col-lg-3" ng-init="cargaInicial();">
                        <label for="gradoBusqueda">Grado:</label>
                        
                        <select class="form-control" ng-if="(filtros.inicialSeleted)"
                                id="gradoBusqueda" name="gradoBusqueda" 
                                ng-model="busqueda.gradoBusqueda"
                                 ng-change="calcularSecciones(busqueda.gradoBusqueda)"
                                >
                            <option value="0" >Sin Antecedentes</option>
                            <option ng-repeat="grad1 in arrays.gradosIn" ng-if="(grad1.id > 0) && (grad1.id < 3) &&(grad1.activo === true)"  value="{{grad1.id}}" >{{grad1.nombre}}</option>
                         </select>
                        <select class="form-control" ng-if="filtros.primariaSelected"
                                id="gradoBusqueda" name="gradoBusqueda" 
                                ng-model="busqueda.gradoBusqueda"
                                 ng-change="calcularSecciones(busqueda.gradoBusqueda)"
                                >
                             <option value="0" >Sin Antecedentes</option>
                            <option ng-repeat="grad2 in arrays.gradosIn" ng-if=" (grad2.id > 2) && (grad2.id < 9)&&(grad2.activo === true)"  value="{{grad2.id}}" >{{grad2.nombre}}</option>
                        </select>
                        <select class="form-control" ng-if="filtros.secundariaSelected"
                                id="gradoBusqueda" name="gradoBusqueda" 
                                ng-model="busqueda.gradoBusqueda"
                                ng-change="calcularSecciones(busqueda.gradoBusqueda)"
                                >
                             <option value="0" >Sin Antecedentes</option>
                           <option ng-repeat="grad3 in arrays.gradosIn" ng-if="(grad3.id > 8) && (grad3.id < 14)&&(grad3.activo === true)"  value="{{grad3.id}}" >{{grad3.nombre}}</option>
                        </select>
                    </div>

                    <div class="col-lg-2">
                        <label for="seccionBusqueda">Sección:</label>
                        <select class="form-control" id="seccionBusqueda" name="seccionBusqueda" ng-model="busqueda.seccionBusqueda" >
                            <option value="*">*</option>
                          <!--  <option value="B">B</option>-->
                            <option ng-repeat="sec1 in arrays.seccionEs"   value="{{sec1.ids}}" >{{sec1.nombre}}</option>

                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label for="orgBusqueda">Organización:</label>
                        <select class="form-control" id="orgBusqueda" name="orgBusqueda" ng-model="busqueda.orgBusqueda" >
                            <option value="1">Todo el Sistema</option>
                            <option value="2">Sólo Estudiantes de la I.E.</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="orgBusqueda">Filtro:</label>
                            <button class="btn btn-info btn-block" ng-click="buscarEstudiante()">
                                <i class="glyphicon glyphicon-book"></i> Buscar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <label> </label>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-3 col-lg-offset-6">
                        <div class="form-group">
                            <button type="button"
                                    ng-click = "openModalNomina()"
                                    class="btn btn-info btn-block">Nómina Matrícula</button>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="form-group">
                            <button type="button"
                                    ng-click = "openModalLotes()"
                                    class="btn btn-success btn-block">Matrícula Masiva</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <label> </label>
            </div>

            <!--<div class="form-group">
                <div class="input-group col-lg-12">-->
                    <div class="tabla-responsiva">
                        <table ng-table="tablaPrincipal" 
                               class="table table-striped table-hover" show-filter="true" >
                            <colgroup>
                                <col width="8%" />
                                <col width="15%" />
                                <col width="10%" />
                                <col width="25%" />
                                <col width="10%" />
                                <col width="15%" />
                                <col width="15%" />
                            </colgroup>
                            <tr ng-repeat="est in $data">
                                <td data-title="'X'" style="text-align: center;">
                                    <input type="checkbox" 
                                           ng-model="est.checkBox"
                                           ng-change="changeCheck(est.checkBox, est.estId, est.estOrgId, est.estNom, est.estApePat, est.estApeMat, est.estMat, est.estDni)" > </td>                                
                                <td filter="{estCodEst: 'text'}" 
                                    ng-form="estCodEst" 
                                    data-title="'Código Estudiante'"
                                    sortable="'estCodEst'"
                                    style="text-align: center;">
                                    {{est.estCodEst}}
                                </td>
                                <td filter="{estDni: 'text'}" 
                                    ng-form="estDni" 
                                    data-title="'DNI'"
                                    sortable="'estDni'"
                                    style="text-align: center;">
                                    {{est.estDni}}
                                </td>
                                <td filter="{estNom: 'text'}" 
                                    ng-form="estNom" 
                                    data-title="'Nombre Completo'"
                                    sortable="'estNom'"
                                    style="text-align: center;">
                                    {{est.estNom + " " + est.estApePat + " " + est.estApeMat}}
                                </td>
                                <td filter="{estMat: 'text'}" 
                                    filter-data="estMatNomSelect"
                                    ng-form="estMat" 
                                    data-title="'Matrícula'"
                                    sortable="'estMat'"
                                    style="text-align: center;">
                                    {{est.estMatNom}}
                                </td>
                                <td filter="{ultGraCulNom: 'text'}" 
                                    ng-form="ultGraCulNom" 
                                    data-title="'Último Grado'"
                                    sortable="'ultGraCulNom'"
                                    style="text-align: center;">
                                    {{est.ultGraCulNom}}
                                </td>
                                <td filter="{ultSec: 'text'}" 
                                    ng-form="ultSec" 
                                    data-title="'Última Sección'"
                                    sortable="'ultSec'"
                                    style="text-align: center;">
                                    {{est.ultSec}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
           <!-- </div>
        </div>-->
    </section>
</div>

<div id="modalMatricula" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Matrícula</h4>
            </div>
            <form id="createForm" method="post">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label>Estudiantes:</label>
                            </div>
                            <div class="col-sm-10">
                                <span ng-repeat="est in matriculaMasivaCreate.estudiantesElegidosNombres">
                                    <span class="label label-info">{{est}}</span>
                                </span>
                            </div>
                        </div>    
                    </div>
                    <br>
                    <div class="form-horizontal">   
                        <div class="form-group">                            
                            <div class="col-sm-3">
                                <label>Total de Estudiantes:</label>
                                <input type="text" class="form-control" name="numEstSel" id="numEstSel" ng-model="matriculaMasivaCreate.numEstSel" ng-disabled="true">
                            </div>
                            <div class="col-sm-3">
                                <label>Fecha:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" id="fecNac" 
                                           ng-model="matriculaMasivaCreate.estmatFec"  is-open="popup1.opened" datepicker-options="dateOptions" 
                                           close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Estado:</label>
                                <input type="text" class="form-control" name="estMat" id="estMat" ng-model="matriculaMasivaCreate.estMatNom" ng-disabled="true">
                            </div>
                            <div class="col-lg-3">
                                <label>Situacion Matricula:</label>
                                <select class="form-control" id="matSit" name="sitMat" ng-model="matriculaMasivaCreate.sitMat" >
                                    <option value="1">Ingresante</option>
                                    <option value="2">Promovido</option>
                                    <option value="3">Repitente</option>
                                    <option value="4">Reentrante</option>
                                    <option value="5">Reingresante</option>
                                    <option value="6">Otra</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label for="conMat">Condición Matrícula:</label>
                                <select class="form-control" id="conMat" name="conMat" ng-model="matriculaMasivaCreate.conMat" >
                                    <option value="1">Gratuito</option>
                                    <option value="2">Pagante</option>
                                    <option value="3">Beca Completa</option>
                                    <option value="4">Media Beca</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label>Observaciones:</label>
                                <input class="form-control" id="matObs" name="matObs" type="text" ng-model="matriculaMasivaCreate.matObs" />
                            </div>
                            <div class="col-lg-3">
                                <label>Nivel:</label>
                                <select class="form-control" 
                                        id="nivId" name="nivId" 
                                        ng-model="matriculaMasivaCreate.nivId"
                                        ng-change="cargarJornada()">
                                    <option ng-repeat="niv in arrays.niveles" value="{{niv.nivelId}}" >{{niv.nivelNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Jornada Escolar:</label>
                                <select class="form-control" 
                                        id="jorEscId" name="jorEscId" 
                                        ng-model="matriculaMasivaCreate.jorEscId"
                                        ng-change="cargarTurno()">
                                    <option ng-repeat="jor in arrays.jornadas" value="{{jor.jornadaId}}" >{{jor.jornadaNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Turno:</label>
                                <select class="form-control" 
                                        id="turId" name="turId" 
                                        ng-model="matriculaMasivaCreate.turId"
                                        ng-change="cargarGrados()">
                                    <option ng-repeat="tur in arrays.turnos" value="{{tur.turnoId}}" >{{tur.turnoNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Grados:</label>
                                <select class="form-control" 
                                        id="graId" name="graId" 
                                        ng-model="matriculaMasivaCreate.graId"
                                        ng-change="cargarVacantes()">
                                    <option ng-repeat="gra in arrays.grados" value="{{gra.gradoId}}" >{{gra.gradoNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Vacantes:</label>
                                <input type="text" class="form-control" 
                                       name="vacantesxGrado" id="vacantesxGrado" 
                                       ng-model="datosVacantes.vacantesxGrado" 
                                       ng-disabled="true"/>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" 
                            ng-click="generarMatriculaMasiva();">
                        <i class="fa fa-archive "> </i> Generar Matrículas
                    </button>
                    <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>                                        
    </div>
</div>

<div id="modalError" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error en Matrícula Masiva</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">   
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p>Estudiantes Matriculados:</p>
                            <div ng-repeat="mat in arrays.estudiantesMatriculados">
                                <p>- {{mat.nomEst}}</p>
                            </div>
                            <p>Estudiantes no Matriculados:</p>
                            <div ng-repeat="error in arrays.estudiantesError">
                                <p>- {{error.nomEst}} / {{error.error}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline btn-success" data-dismiss="modal">Aceptar</button>
            </div>
        </div>                                        
    </div>
</div>

<div id="modalNomina" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="overflow-y: auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nómina de Matrícula</h4>
            </div>
            <form id="createForm" method="post">
                <div class="modal-body">
                    <div class="form-horizontal">   
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Nombre de la Sección(Sólo Inicial):</label>
                                <input type="text" class="form-control" ng-model="paramsNomina.nombreSeccion">
                            </div>
                            <div class="col-sm-3">
                                <label>Inicio Periodo Lectivo:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" id="fecNac" 
                                           ng-model="paramsNomina.periodoLecIni"  is-open="popup2.opened" datepicker-options="dateOptions" 
                                           close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>Fin Periodo Lectivo:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" id="fecNac" 
                                           ng-model="paramsNomina.periodoLecFin"  is-open="popup3.opened" datepicker-options="dateOptions" 
                                           close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <label>Nivel:</label>
                                <select class="form-control" 
                                        ng-model="paramsNomina.nivId"
                                        ng-change="cargarJornada2Nomina()">
                                    <option ng-repeat="niv in arrays.niveles" value="{{niv.nivelId}}" >{{niv.nivelNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Jornada Escolar:</label>
                                <select class="form-control" 
                                        ng-model="paramsNomina.jorEscId"
                                        ng-change="cargarTurno2Nomina()">
                                    <option ng-repeat="jor in arrays.jornadas" value="{{jor.jornadaId}}" >{{jor.jornadaNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Turno:</label>
                                <select class="form-control" 
                                        ng-model="paramsNomina.turId"
                                        ng-change="cargarGrados2Nomina()">
                                    <option ng-repeat="tur in arrays.turnos" value="{{tur.turnoId}}" >{{tur.turnoNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Grados:</label>
                                <select class="form-control" 
                                        ng-model="paramsNomina.graId"
                                        ng-change="cargarSecciones2Nomina()">
                                    <option ng-repeat="gra in arrays.grados" value="{{gra.gradoId}}" >{{gra.gradoNom}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Secciones:</label>
                                <select class="form-control" 
                                        ng-model="paramsNomina.secId">
                                    <option ng-repeat="sec in arrays.secciones" value="{{sec.seccionId}}" >{{sec.seccionNom}}</option>
                                </select>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" 
                            ng-click="generarNominaMatricula();">
                        <i class="fa fa-archive "> </i> Generar Nómina
                    </button>
                    <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>                                        
    </div>
</div>
