<div class="row"><div class="col-lg-6">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">CONFIGURACION NOTA</h4>
    </header>
    <div class="panel-body" ng-init="listarEquivalenciasDocente(usuMaster.organizacion.organizacionID,usuMaster.usuario.usuarioID)" >

          <table ng-table="tabla_configuracion_nota" class="table table-striped table-hover">

                <tr ng-repeat="o in $data | orderBy:'-not_min'">
                    <td 
                        ng-form="cod" 
                        data-title="'Código'"
                        style="text-align: center; width: 15%;">
                        {{o.cod}}
                    </td>
                    <td 
                        ng-form="des" 
                        data-title="'Descripción'"
                        style="text-align: center; width: 15%;">
                        {{o.des}}
                    </td>
                    <td 
                        ng-form="not_min" 
                        data-title="'Nota Mínima'"
                        style="text-align: center; width: 15%;">
                        {{o.not_min}}
                    </td>
                    <td 
                        ng-form="not_max" 
                        data-title="'Nota Máxima'"
                        style="text-align: center; width: 15%;">
                        {{o.not_max}}
                    </td>
                    <td data-title="'Acciones'" style="text-align: center;">
                        <button class="btn btn-primary btn-xs" ng-click="prepararEditar(o)" title="Editar"><i class="fa fa-pencil" ></i></button>
                        <button class="btn btn-danger btn-xs"  ng-click="prepararEliminar(o,usuMaster.usuario.usuarioID,usuMaster.organizacion.organizacionID)" title="Eliminar"><i class="fa fa-trash-o"></i></button>  
                    </td>
                </tr>   
          </table>
        <div class="form-group" >
              <button class="btn btn-primary btn-xs" ng-click="prepararNuevo()"><i class="fa fa-save" ></i> Agregar </button>
        </div>
        
        </div>
</section>
    </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{nueva_equivalencia.titulo}}</h4>
      </div>
      <div class="modal-body">
        <form name="confNotaForm" class="css-form" novalidate>  
            <div class="form-panel" >
                <div class="form-horizontal style-form" >
                    
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Codigo: </label>
                        <div class="col-sm-10">
                            <input type="text" name="inputEquivalencia" class="form-control" maxlength="2" ng-model="nueva_equivalencia.cod" required>
                            <p ng-show="confNotaForm.inputEquivalencia.$invalid" class="help-block">Este campo es requerido.</p>
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Descripcion: </label>
                        <div class="col-sm-10">
                            <input type="text" name="inputDescripcion" class="form-control" ng-model="nueva_equivalencia.des" required>
                            <p ng-show="confNotaForm.inputDescripcion.$invalid" class="help-block">Este campo es requerido.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nota mínima: </label>
                        <div class="col-sm-10">
                            <input type="number" name="inputNotaMin" class="form-control" ng-model="nueva_equivalencia.not_min" ng-change="validarRangoNotas()" required>
                            <p ng-show="confNotaForm.inputNotaMin.$error.valoresPositivos" class="help-block">Seleccione valores positivos</p>
                            <p ng-show="confNotaForm.inputNotaMin.$error.notaMinimaDebeSerMenor" class="help-block">Nota mínima debe ser menor que Nota máxima</p>
                            <p ng-show="nueva_equivalencia.not_min.length === 0" class="help-block">Este campo es requerido</p>
                        </div>                        
                    </div>  
                    <div class="form-group">                        
                        <label class="col-sm-2 control-label">Nota máxima: </label>
                        <div class="col-sm-10">
                            <input type="number" name="inputNotaMax" class="form-control" ng-model="nueva_equivalencia.not_max" ng-change="validarRangoNotas()" required>
                            <p ng-show="confNotaForm.inputNotaMax.$error.valoresPositivos" class="help-block">Seleccione valores positivos</p>
                            <p ng-show="confNotaForm.inputNotaMax.$error.notaMaximaDebeSerMayor" class="help-block">Nota máxima debe ser mayor que Nota mínima</p>
                            <p ng-show="nueva_equivalencia.not_max.length === 0" class="help-block">Este campo es requerido</p>
                        </div>
                    </div> 
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" ng-if="nueva_equivalencia.estado==='N'" class="btn btn-primary" ng-click="crudEquivalenciaNota(usuMaster.usuario.usuarioID,usuMaster.organizacion.organizacionID,1)" ng-disabled="confNotaForm.$invalid"><i class="fa fa-save" ></i> Guardar</button>
        <button type="button" ng-if="nueva_equivalencia.estado==='E'" class="btn btn-primary" ng-click="crudEquivalenciaNota(usuMaster.usuario.usuarioID,usuMaster.organizacion.organizacionID,2)" ng-disabled="confNotaForm.$invalid"><i class="fa fa-check" ></i> Editar</button>
      </div>
    </div>
  </div>
</div>