<div class="row fichaEvaluacion">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlmontoLista.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Montos maximos de lista</h4>
                <span class="tools pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="ctrlmontoLista.nuevoMonto()">Nuevo</button>
                </span>
            </header>
            <div class="panel-body">
                <table ng-table="ctrlmontoLista.tablaMontos" class="table table-bordered table-hover table-condensed editable-table" >
                    <colgroup>
                        <col width="25%" />
                        <col width="25%" />
                        <col width="25%" />
                        <col width="25%" />
                    </colgroup>
                    <tr ng-repeat="row in $data" ng-form="rowFormMonto">
                        <td align="center" filter="{ani: 'text'}" sortable="'ani'"  ng-form="nom" data-title="'Año'"><span>{{row.ani}}</span></td>
                        <td align="center" filter="{'niv.nom': 'text'}" sortable="'niv'" ng-form="des" data-title="'Nivel'"><span>{{row.niv.nom}}</span></td>
                        <td align="center" ng-form="des" data-title="'Valor (S/.)'"><span>{{row.val}}</span></td>
                        <td align="center">
                            <button class="btn btn-primary btn-sm" ng-click="ctrlmontoLista.editarMonto(row)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-danger btn-sm md-primary md-raised" ng-click="ctrlmontoLista.eliminMonto($event,row)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>

<script type="text/ng-template" id="nuevoMonto.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ctrl.titulo}}</h3>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-3 control-label">AÑO:</label>
                <div class="col-lg-2">
                    <select id="anios" class="form-control" ng-model="ctrl.monto.ani"   ng-options="g.anio for g in ctrl.anios track by g.id"></select>
                </div>
            </div>  
            
            <div class="form-group">
                <label class="col-lg-3 control-label">Nivel:</label>
                <div class="col-lg-2">
                    <select id="nivel" class="form-control" ng-model="ctrl.monto.nivel"   ng-options="g.nom for g in ctrl.niveles track by g.id"></select>
                </div>
            </div> 
            
            <div class="form-group">
                <label for="valor_monto" class="col-lg-3 control-label">Valor:</label>
                <div class="col-lg-5">
                    <input name = "valorMonto" id="valor" class="form-control" placeholder="0.00" type="number" ng-model="ctrl.monto.val">
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-lg-4 col-lg-offset-4 ">
                    <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="ctrl.guardar()">Guardar</button>
                    <button class="btn btn-primary" ng-click="ctrl.cancelar()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</script>